.banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
  }
  
  
  
  .text-center {
    text-align: center;
  }
  
  
  .banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
  }
  
  .breadcrumb {
    padding: 8px 15px;
  }
  
  ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
  }
  
  .banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
  }
  
  a, a:hover {
    text-decoration: none;
  }
  a {
    background-color: transparent;
  }
  
  .banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
  }
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
  }
  
  
  .banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  
  .sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
  }