<!--<div class="container">
    <div class="row">
        <div class="col-md-10">
    <h1 class="h1  " align="center">
        Subscribe<p><small style="color: black;">For More Information And Latest Update</small></h1>
    <br>
</div>
</div>

    <div class="row">
        <div class="col-md-12">
            <form name="myform" class="form-group col-md-10">



                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>

                <br>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Email<font color="red">*</font></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="email" class="form-control" type="text" id="email" name=email
                            placeholder="ENTER YOUR EMAIL" Required="required">
                    </div>
                </div>
                <br>



                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Organization
                    </label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="Organization" class="form-control" type="text" id="Organization"
                            name=Organization placeholder="Enter YOUR Organization" style="text-transform:uppercase">
                    </div>
                </div>
                <br>

                <div class="form-group row">
                    <label for="Sector" class="col-2 col-form-label">Sector<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="Sector" class="form-control" [(ngModel)]="selectedSector"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let sector of sectors" [value]="sector" style="text-transform:uppercase">
                                {{sector}}
                            </option>

                        </select>

                    </div>
                </div>

                <br>
                <div class="form-group row">
                    <label for="Subject" class="col-2 col-form-label">Who am I<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="Subject" class="form-control" [(ngModel)]="selectedUser"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                            </option>

                        </select>

                    </div>

                </div>

                <br>
                <div class="form-group row">
                    <label for="subject" class="col-2 col-form-label">Work Domain<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="subject" class="form-control" [(ngModel)]="selectedOccupation"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let occupation of occupations" [value]="occupation"
                                style="text-transform:uppercase">
                                {{occupation}}
                            </option>
                        </select>

                    </div>

                </div>
                <br>



                <div class="form-group row">
                    <label class="col-2 col-form-label">Enter Captcha</label>
                    <div class="form-group col-md-3" style="margin-left:2px; text-align: center;">
                        <input [(ngModel)]="capt" name="capt" type="text" class="form-control" readonly id="capt" style=" background-color: #76b900 ; color:black ;padding-right: 20px;">
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>
                    
                </div>
                <div class="form-group row">
                    
                    
                    
                        <label for="name" class="col-2 col-form-label">
                        <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>             src="/assets/images/refresh 1.jpg" (click)="cap()"></h6>
                        </div>
                    
                </div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Message<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <textarea [(ngModel)]="message" name="message" id="message" class="form-control" rows="9"
                            cols="25" required="required" placeholder="Message"></textarea>
                    </div>
                </div>



                <br>

                <div class="col-sm-8" align="center">



                    
                        <button (click)="onSignUp()" (click)="validCap()" type="submit"  id="btnContactUs" class="btn btn-default enq_btn">Subscribe</button>

                    <p class="col-sm-14" align="center"> <span id="lblStatus" class="failureNotification"
                            style="color:Red">All
                            fields marked with * are mandatory.</span></p>
                </div>

            </form>
        </div>
    </div>
</div>-->


<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">


                        Certificate Course in Basic Blockchain </h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="#">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Register</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>





<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Registration Steps:
            </h1>







            <h4>Step 1: Fill your details in the registration form.</h4>
            <h4>Step 2: Upon submission of registration form you will receive the payment details on your registered
                email id.</h4>
            <h4>Step 3: Upon successful full payment of the course fee, you have to submit transaction details on our
                portal.</h4>
            <h4>Step 4: Successful submission of above details will confirm your admission.</h4>

            <br>

            <h1>
                Important Information:
            </h1>
            <h4>1. Seats will be allotted on first come first serve basis.
            </h4>
            <h4>2. This course will be conducted twice with first batch in November 2021 followed by second batch in
                February 2022.
            </h4>
            <i style="color: green;font-size: large;">Note:Current admission is open for November 2021 Batch.</i>

        </div>
    </div>
</div>

<br>
<br>


<div class="container">
    <div class="custom-para">





        <form name="form1" method="post" action="/inc_files/reach_us.aspx?id=reach_us" id="form1"  #userForm="ngForm"
            class="form-horizontal well">
            <div>

            </div>

            <div>

                <input type="hidden" name="_VIEWSTATEGENERATOR" id="_VIEWSTATEGENERATOR" value="4FC6123F">
            </div>
            <div id="Panel1">

                <div class="row">
                    <div class="col-md-12 bg-info">
                        <h3 style="text-align: center; color:black">Registration</h3>
                    </div>
                </div>

                <p>&nbsp;</p>

                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">Full Name<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="employee_name" #name="ngModel" required  name=name type="text" id="name" class="form-control"
                        pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$"   placeholder="ENTER YOUR NAME" >
                       <br>
                      <span class="help-block" *ngIf="name.errors?.required && name.touched">Name is required</span>
                      <span class="help-block" *ngIf="name.errors?.pattern && name.touched">Name is invalid</span>
                      <br>
                        <span id="lblname" style="color:Red"></span>
                    </div>
                </div>




                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">Email<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="employee_email" #email="ngModel" required  name=email type="text" id="email" class="form-control"
             pattern="^[a-zA-Z0-9_.+-]+@[A-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"   placeholder="ENTER YOUR EMAIL" >
            <br>
           <span style="color:Red"  class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span>
           <span style="color:Red"  class="help-block" *ngIf="email.errors?.pattern && email.touched">Email is invalid</span>
                        <span id="lblemail" style="color:Red"></span>
                    </div>
                </div>






                




               

                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 col-form-labe control-label">Date of Birth<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="dob" class="form-control" type="date" id="dob" name=dob
                            style="text-transform:uppercase">
                        <br>
                        <span id="lblemail" style="color:Red"></span>

                    </div>
                </div>




                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">Country/State
                    </label>

                    <div class="col-sm-2">

                        <select id="country" name="country" class="form-control" placeholder="Select Country"
                            [(ngModel)]="selectedcountryList" (change)="changeCountry($event.target.value)">
                            <option *ngFor="let count of countryList">{{count.name}} </option>
                        </select>


                    </div>
                    <div class=" col-sm-4">
                        <select id="country" name="country" class="form-control" placeholder="Select ate"
                            [(ngModel)]="selectedcities">
                            <option *ngFor="let city of cities">{{city}} </option>
                        </select>

                    </div>
                    <br>

                </div>
                <br>
                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 col-form-labe control-label">Mobile Number<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="mobile" class="form-control" type="mobile" id="mobile" name=mobile
                            placeholder="contact number"> <br>
                        <span id="lbltitle" style="color:Red"></span>

                    </div>
                </div>

                <!--<div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Email<font color="red">*</font></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="email" class="form-control" type="text" id="email" name=email
                        placeholder="ENTER YOUR EMAIL" Required="required">
                </div>
            </div>-->
            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 col-form-labe control-label"> Graduation
                    University<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="employee_university" required class="form-control" type="text" id="university" #university="ngModel"  name=university
                    pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$"   placeholder="Enter university/college." style="text-transform:uppercase">
                    <br>

        
                  <span style="color:Red"  class="help-block" *ngIf="university.errors?.required && university.touched"> University is required</span>
                  <span style="color:Red"  class="help-block" *ngIf="university.errors?.pattern && university.touched">University is invalid</span>
                  <br>
                    <span id="lblname" style="color:Red"></span>


                </div>
            </div>

            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 col-form-labe control-label">Qualification<span
                        class="text-danger">*</span></label>
                <div class="col-sm-6">
                   

                    <input [(ngModel)]="employee_qualification" #qualification="ngModel" required  name=qualification type="text" id="qualification" class="form-control"
                    pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$"   placeholder="ENTER YOUR QUALIFICATION" >
                   <br>
                  <span style="color:Red" class="help-block" *ngIf="qualification.errors?.required && qualification.touched">Qualification  is required</span>
                  <span style="color:Red" class="help-block" *ngIf="qualification.errors?.pattern && qualification.touched">Qualification is invalid</span>


                    <span id="lbltitle" style="color:Red"></span>






                </div>
            </div>





                <div class="form-group">
                    <label for="Subject" class="col-sm-4 control-label  col-form-label">Occupation<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <select id="occupation" class="form-control" [(ngModel)]="occupation"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                            </option>

                        </select>
                        <br>
                        <span id="lbltitle" style="color:Red"></span>

                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">User Name<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="username" name=username type="text" id="username" class="form-control"
                            Required="required">
                        <br>
                        <span id="lblemail" style="color:Red"></span>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">Password<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="password" name=password type="password" id="password" class="form-control"
                            Required="required">
                        <br>
                        <span id="lblemail" style="color:Red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="col-sm-4 control-label col-form-label">Confirm Password<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="confirm_password" name=confirm_password type="password"
                            id="confirm_password" class="form-control" Required="required">
                        <br>
                        <span id="lblemail" style="color:Red"></span>
                    </div>
                </div>


                <!--<div class="form-group row">
                <label for="Subject" class="col-2 col-form-label">Who am I<font color="red">*</font>
                </label>
                <div class="col-sm-6">
                    <select id="Subject" class="form-control" [(ngModel)]="selectedUser"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                        </option>

                    </select>

                </div>

            </div>-->



                <!--<div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Country/State<font color="red">*</font>
                </label>
                <div class="col-sm-3">

                    <select id="country" name="country" class="form-control" placeholder="Select Country"
                        (change)="changeCountry($event.target.value)">
                        <option *ngFor="let count of countryList">{{count.name}} </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select id="country" name="country" class="form-control" placeholder="Select ate">
                        <option *ngFor="let city of cities">{{city}} </option>
                    </select>
                </div>
            </div>
            <br>-->








                <div class="form-group">
                    <label class="col-sm-4 control-label col-form-label">Enter Captcha</label>
                    <div class=" col-sm-2" style=" text-align: center;">
                        <input [(ngModel)]="capt" name="capt" type="text" class="form-control" readonly id="capt"
                            style=" text-align: center;font-size: 30px; background-color: rgb(13, 202, 240);; color:black ;padding-right: 20px;">
                    </div>

                    <div class="col-sm-2">
                        <input [(ngModel)]="textinput" name="textinput" type="text" class="form-control" id="textinput"
                            placeholder="Enter Captcha">
                    </div>

                </div>

                <div class="form-group">
                    <!--<div class="form-group col-md-2"></div>
                <div class="form-group col-md-3">
                    <input [(ngModel)]="textinput" name="textinput" type="text" class="form-control" id="textinput" placeholder="Enter Captcha">
                </div>-->


                    <label class="col-sm-4 control-label col-form-label"></label>
                    <div class="col-sm-6">
                        <h6 style="margin-left:100px;">Captcha Not Visible <img style="width: 50px;"
                                src="assets/images/refresh 1.jpg" (click)="cap()"></h6>
                    </div>

                </div>


                <div>
                    <input [(ngModel)]="checkbox" type="checkbox" id="agree_checkbox" name="checkbox"
                        style="color:Red;">


                    <label style="color:Red;margin-left: 5px; " for="agree_checkbox">I agree to adhere the eligibility criteria of course as mentioned on the website and have provided information in the form true to the best of my knowledge and belief.</label>
                </div>




                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <button  (click)="ageCalculator()" (click)="validpass()" (click)="onSignUp()" (click)="validCap()" (click)="validpass()"  type="submit" [disabled]="userForm.form.invalid"
                            id="btnContactUs" class="btn btn-default enq_btn"
                            style="margin-left: 215px; background-color: rgb(13, 202, 240);;">Submit</button>

                    </div>


                </div>
                <p class="col-sm-14" align="center"> <span id="lblStatus" class="failureNotification"
                        style="color:Red;margin-left: 100px;">All
                        fields marked with * are mandatory.</span></p>


            </div>

        </form>


    </div>


</div>