
<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">Our Cyber security Initiatives</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Initiative</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<div class="container">




    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4> <a> Cyber Security Awareness Program</a></h4>
                                <h6 style="color:#337ab7;">
                                    cyber security
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> This interactive, four-day security awareness session will provide the skills and
                                    knowledge to effectively address key personal security considerations in different
                                    risk
                                    environments.
                                </p>
                                <p>
                                    The objective of this program is to nurture the culture of security aspects in our
                                    day
                                    to day life. It will create a secure-minded workforce and will help in protecting
                                    the
                                    organization’s reputation.
                                </p>
                                <p>
                                    It aims to equip employees with the knowledge they need to combat these threats.
                                    Employees cannot be expected to know what threats exist or what to do about them on
                                    their own. They need to be taught what their employers consider risky or acceptable,
                                    what clues to look for that indicate threats, and how to respond when they see them.
                                </p>
                                <a href="https://patna.cdac.in/csa_web" target="_blank"
                                    style="color:#286090"><strong>Know More>></strong>
                                </a>

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/cyberSecurity.jpg" alt="image-icon" style="width: 315px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>

          

   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="container">

    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Expert Guidance And Career Opportunities On Emerging Technologies</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security,AI,IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> With the vision of career prospect awareness in advanced technologies like AI, IoT,
                                    Blockchain, Data Science and Cyber Security; we arranged a 02 Day Webinar on “Expert
                                    Guidance & Career Opportunities on Emerging Technologies” on 15th July and 16th July
                                    (11:30 AM to 12:30 PM).
                                </p>
                                <p>

                                    Targeted Audience was Graduate and Post Graduate Fresher’s in Engineering or Science
                                    Stream And the IT Professional who were looking for Career Change in Advanced
                                    Technologies.
                                </p>
                                <p>

                                    This Webinar was very helpful for participants to identify the career goals, set the
                                    education milestones and derive the clear pathways to achieve it.
                                </p>

                                <a routerLink="/carreer_talk" target="_blank"
                                style="color:#286090"><strong>Know More>></strong>
                            </a>

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/career.jpg" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>




    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Free Career Counselling On Advanced Technologies</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security,AI,IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> With the vision of Career Counselling On Advanced Technologies like AI, IoT,
                                    Blockchain, Data Science and Cyber Security; we arranged a 05 Day Counselling Session on “Free Career Counselling on advanced technologies ”.
                                    
                                </p>
                                <p>

                                    Targeted audience was graduate and post graduate fresher’s in engineering or science
                                    stream  who were looking for career  in advanced
                                    technologies.
                                </p>
                                <p>

                                    This Counselling Session was very helpful for participants to identify the career goals, set the
                                    education milestones and derive the clear pathways to achieve it.
                                </p>

                                <!--<a routerLink="/carreer_talk" target="_blank"
                                style="color:#286090"><strong>Know More>></strong>
                            </a>-->

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/career-counselling.png" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>




 <!--
    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                       <!--          <h4>Design & Development of Intelligent Honeypot</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> We have set up cluster node in Eastern India at our Centre for the Project of
                                    “Design & Development of Intelligent Honeypot and Development of National Proactive
                                    Threat Hunting and Incident Response System”.
                                </p>

                            </h5>
                            <!---->
                <!--         </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/honeypot.jpg" alt="image-icon"
                                style="width: 315px; margin-top: 125px; height: 250px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>


    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>Cyber Security Architecture for Govt. of Bihar.</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> Cyber Security Architecture is the foundation of an organization’s defense against
                                    Cyber threats and ensures protection of all IT infrastructure components. Hence, it
                                    is pertinent that an organization is highly secured and well versed with measures
                                    and strategies to militate against possible threats. Keeping in view the importance
                                    and with reference to the above-mentioned letter, C-DAC is developing Cyber Security
                                    Architecture in Bihar.
                                </p>

                            </h5>
                            <!---->
                 <!--        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/cy sec archi.jpg" alt="image-icon"
                                style="width: 315px; height: 250px;  margin-top:40px "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>





<!--

    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>IMSS (Identification and Management of Security Services)
                                </h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> The solution will be AI empowered for:</p>
                                <p>

                                    Theft Monitoring/Alert
                                    Authorized /Unauthorized Vehicle entry based on number plate recognition
                                    Frequency of a person (entry & exit) on a given day
                                    Search facility for Video, Audio & images using meta information
                                    Real Time monitoring Dashboard
                                </p>
                            </h5>
                            <!--
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/BIMSS.jpg" alt="image-icon"
                                style="width: 315px; height: 250px;  margin-top: 30px;">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>

-->




   


  


   

    

    


    







</div>
