.banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
}


.text-center {
    text-align: center;
}


.banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb {
    padding: 8px 15px;
}

ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}

.banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
}
.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
}


.banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
}


.sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
}






.icon_box {
    display: table-cell;
    vertical-align: top;
}


.icon_box i {
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 22px;
    text-align: center;
    color: #595959;
    border: 2px solid #595959;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;}



    .text_box {
        display: table-cell;
        padding-left: 15px;
        vertical-align: middle;
    }

    .text_box p {
        font-size: 15px;
    }
    p {
        margin: 0 0 10px;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


    .info_cont:hover i {
        transform: rotateY(360deg);
    }


    .text-center {
        text-align: center;
    }


    #contact_us_page h4 {
        font-size: 18px;
        color: #00aced;
        margin-bottom: 30px;
    }


    .inner_page_head {
        text-transform: uppercase;
        text-align: left;
        font-size: 22px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 0px;
        border-bottom: 2px dashed #d7d7d7;
        color: #333;
    }