<div id="minHeightDiv" style="min-height: 480px;">
    <section>
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">Contact Us</h1>
                        <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                        <div class="text-center">
							<ol class="breadcrumb">
							  <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a></li>
							  <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Contact Us</li>
							</ol>
						  </div>
                    </div>
                </div>
            </div>

        </div>
    </section>





    <section>
        <div id="contact_us_page" class="inner_page_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h3 class="inner_page_head wow fadeIn"> Our Centres</h3>
                        <div class="clr"></div>
                        <div class="clr"></div>
                        <div class="clr"></div>
                        <div class="row contact_page_info">
                            <div class="col-xs-12">
                                <h4 class="wow fadeInUp" data-wow-duration="1.8s" data-wow-delay="0.8s">C-DAC Patna</h4>
                            </div>
                            <div class=" col-md-4 wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1.3s">
                                <div class="info_cont">
                                    <div class="icon_box"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                    <div class="text_box">
                                        <p>14th Floor Biscomaun Tower, West Gandhi Maidan, Patna, Bihar 800001&nbsp;
                                            &nbsp;</p>
                                    </div>
                                </div>
							</div>
							
                            <div class=" col-md-4 wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1.5s">
                                <div class="info_cont">
                                    <div class="icon_box"><i class="fa fa-phone" aria-hidden="true"></i></div>

                                    <div class="text_box">
                                        <a style="color:#595959;"
                                            href="Tel: +91-8757570233 / 91-612-2219021">+91-8757570233
                                            <br>+91-612-2219021 &nbsp;</a>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-4 wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1.7s">
                                <div class="info_cont">
                                    <div class="icon_box"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <div class="text_box"><a style="color: #595959" href="mailto:infocdacpatna@cdac.in"
                                            class="email_font">infocdacpatna@cdac.in</a></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clr"></div>
    <div class="clr"></div>
    <div class="row">
        <div class="col-md-6">

            <div style="margin:auto" class="mapouter" style="margin-top: 10px;" >
                <div class="gmap_canvas"><iframe width="500" height="300" id="gmap_canvas" float="left"
                        src="https://maps.google.com/maps?q=CDAC%20Patna,%2014th%20Floor,%20Biscomaun%20Tower,%20West%20Gandhi%20Maidan,%20Patna,%20800001&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://www.whatismyip-address.com/divi-discount/"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;

                        }
                    </style><!--<a href="https://www.embedgooglemap.net">google map iframe code</a>-->
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;

                        }
                    </style>
                </div>
            </div>
        </div>
        <div class="clr"></div>
        <div class="clr"></div>
       <br>
    </div>
</div>



<div class="container">



    <div class="custom-para">
  
  
 
 
        <div class="row custom-row-margin ">
       
               <div class="col-md-12 col-xs-12">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                         <h3 class="panel-title">C-DAC Corporate Office</h3>
                       </div>
                       <div class="panel-body text-center">						
               <strong>Centre for Development of Advanced Computing</strong><br>
               Pune University Campus, Ganesh Khind<br>
               Pune - 411 007<br>
               Maharashtra (India)<br>
               Phone:+91-20-2570-4100, Fax: +91-20-2569 4004
                           <!--<p class="text-right"><a href="/index.aspx?id=article" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
        
            <!--Centers	Address-->
               <div class="col-md-8 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Bengaluru</h3>
                       </div>
                       <div class="panel-body">
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC Knowledge Park</strong><br>
                           Opp. HAL Aeroengine Division<br>
                           Old Madras Road, 
                           Byappanahalli<br>
                           Bengaluru - 560 038<br>
                           Karnataka (India)<br>
                           Phone: +91-80-25093400 <br>
                           Fax: +91-80-2524-7724
                           </div>
       
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC Electronics City</strong><br>
                           68, Electronics City<br>
                           Bengaluru - 561229<br>
                           Karnataka (India)<br>
                           Phone:+91-80-2852-3300<br>
                           Fax: +91-80-28522590
                           </div>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title"> Patna</h3>
                       </div>
                       <div class="panel-body">
                        <strong>C-DAC</strong><br>
                        14th Floor ,Biscomaun Tower, <br>
                        West Gandhi Maidan,<br>
                        Patna - 800001, Bihar (India) <br>
                        Phone: +91-612-2219021<br>
                        <br>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Delhi</h3>
                       </div>
                       <div class="panel-body">
                           
                           <strong>C-DAC</strong><br>
                           Plot no. 20, FC-33,<br>
                           Institutional Area, Jasola, <br>
                           New Delhi - 110025<br> 
                           (India)<br>
                           <!--Phone:+91-11-26510221--><br> 
                           <!--Fax: +91-11-26510207--><br><br>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Hyderabad</h3>
                       </div>
                       <div class="panel-body">
                           <div class="col-12">
                           <strong>C-DAC</strong><br>
                           Plot No. 6 &amp; 7, Hardware Park,<br>
                           Sy No. 1/1, Srisailam Highway,<br>
                           Pahadi Shareef Via (Keshavagiri Post) 
                           Hyderabad - 501510<br>
                           Telangana(India)<br>
                           Phone:+91-9100034446/7/8<br>
                           Fax: +91-9100034450
                           </div>
                           
                           <!--<div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br />
                           Nalanda Building, No. 1 Shivabagh<br />
                           Satyam Theatre Road<br />
                           Ameerpet, Hyderabad - 500016<br />
                           Telangana (India)<br />
                           Phone:+91-40-23737124/25, +91-40-23738141 <br />
                           Fax: +91-040-23438131<br />
                           <br />
                           </div>-->
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
        
                <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Kolkata</h3>
                       </div>
                       <div class="panel-body">
                           
                           <strong>C-DAC</strong><br>
                           Plot - E-2/1, Block-GP, Sector-V<br>
                           Salt Lake Electronics Complex<br>
                           Bidhannagar, Kolkata - 700 091<br>
                           Westbengal (India)<br>
                           Phone: +91-33-23579846/5989<br>
                           Fax: +91-33-2357-5141<br><br>
       
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Mohali</h3>
                       </div>
                       <div class="panel-body">					
                           <strong>C-DAC</strong><br>
                           A-34, Phase-VIII, Industrial Area<br>
                           Mohali -160071, <br>
                           (Near Chandigarh)Punjab, <br>
                           (India)<br>
                           Phone: +91-172-2237052-55, 6619000  <br>
                           Fax: +91-172-2237050-51
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
               
               <div class="col-md-8 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Mumbai</h3>
                       </div>
                       <div class="panel-body">
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           Gulmohar Cross Road No. 9<br>
                           Juhu, Mumbai - 400 049<br>
                           Maharashtra (India)<br>
                           Phone: +91-22-26201606/1574<br>
                           Fax: +91-22-26232195/ 26210139
                           </div>
                           
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           Raintree Marg, Near Bharati Vidyapeeth, 
                           Opp. Kharghar Railway Station, 
                           Sector 7, CBD Belapur<br>
                           Navi Mumbai - 400 614<br>
                           Maharashtra (India)<br>
                           Phone: +91-22-27565303<br>
                           Fax: +91-22-2756-0004
                           </div>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
               
               <div class="col-md-12 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Noida</h3>
                       </div>
                       <div class="panel-body">
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           Anusandhan Bhawan, C-56/1, Sector-62,<br>
                           Noida - 201307<br>
                           Uttar Pradesh (India)<br>
                           Phone: +91-120-3063311-14<br>
                           Fax: +91-120-3063317
                           </div>
                           
                           <div class="col-md-6 col-xs-12">
                           <strong>Academic Block</strong><br>					
                           C-DAC, Noida : B-30, Sector-62,	Institution Area,<br> 
                           Noida - 201307<br>
                           Uttar Pradesh (India)<br>
                           Phone: +91-120-3063371-73<br>
                           Fax: +91-120-3063374
                           </div>
                           
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title"> Chennai </h3>
                       </div>
                       <div class="panel-body">
					
                        <strong>C-DAC</strong><br>
                        Tidel Park, 8<sup>th</sup> Floor,<br>
                        'D' Block(North &amp; Sauth), <br>
                        No.4 Rajiv Gandhi Salai,Taramani,<br>
                        Chennai- 600113, Tamilnadu (India)<br>
                        Phone:+91-44-22542226/7<br> 
                        Fax: +91-44-22542294<br>
                        <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                    </div>
                   </div>
               </div>	
               <div class="col-md-8 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title">Pune</h3>
                       </div>
                       <div class="panel-body ">
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           C-DAC Innovation Park,<br>
                           Panchavati, Pashan,<br>
                           Pune - 411 008, Maharashtra (India)<br>
                           Phone: +91-20-25503100<br>
                           Fax: +91-20-25503131
                           </div>
                           
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC ACTS</strong><br>					
                           C-DAC Innovation Park,<br>
                           Panchavati, Pashan, <br>
                           Pune - 411 008, Maharashtra (India)<br>
                           Phone: +91-20-25503100<br>
                           Fax: +91-20-25503131
                           </div>
                           
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>
               
               
               
               
               
               <div class="col-md-4 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title"> Silchar </h3>
                       </div>
                       <div class="panel-body">
                           
                           <strong>C-DAC</strong><br>
                           NIT Silchar campus <br>
                           Silchar - 788010.<br>
                           Assam (India) <br>
                           Phone: +91 03842-242009<br>
                           Fax: +91 03842-242009 <br>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
               
               <div class="col-md-8 col-xs-12">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                         <h3 class="panel-title"> Thiruvananthapuram </h3>
                       </div>
                       <div class="panel-body">
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           P.B.NO:6520, Vellayambalam, <br>
                           Thiruvananthapuram - 695033, <br>
                           Kerala (India)<br>
                           Phone: +91-471-272-3333 <br>
                           Fax: +91-471-2722239/ 2723456
                           </div>
                           
                           <div class="col-md-6 col-xs-12">
                           <strong>C-DAC</strong><br>
                           Knowledge Resource Centre (KRC) <br>
                           Technopark Campus <br>
                           Kariyavattom P O  <br>
                           Thiruvanathapuram-695581 <br>
                           Kerala (India)<br>
                           </div>
                           <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                       </div>
                   </div>
               </div>	
               
               
               
               
               
               
               
               
        
        
        
        
        
        
       </div>
                          <!--   <p class="text-justify">
                               
                            For Contact Information,  click on the cities</p>
                            <img src="/index.aspx?id=img_location_map" class="img-responsive center-block" usemap="#Map2" alt="Map" />
                                           <map name="Map2" id="Map2">
                                             <area id="mumbai" shape="rect" coords="24,302,91,321" href="/index.aspx?id=aboutus_mumbai&amp;culture=en-US" class="mumcontact" alt="Mumbai"></area>
                                             <area id="pune" shape="rect" coords="91,325,146,343" href="/index.aspx?id=aboutus_pune&amp;culture=en-US" class="punecontact" alt="Pune"></area>
                                             <area id="bengaluru" shape="rect" coords="108,422,177,450" href="/index.aspx?id=aboutus_bangalore&amp;culture=en-US" class="bangcontact" alt="Bangalore"></area>
                                             <area id="trivendram" shape="rect" coords="10,500,143,527" href="/index.aspx?id=aboutus_thiruvananthapuram&amp;culture=en-US" class="tricontact" alt="thiruvananthapuram"></area>
                                             <area id="chennai" shape="rect" coords="188,421,257,440" href="/index.aspx?id=aboutus_chennai&amp;culture=en-US" class="checontact" alt="chennai"></area>
                                             <area id="hyderabad" shape="rect" coords="171,344,259,366" href="/index.aspx?id=aboutus_hyderabad&amp;culture=en-US" class="hydcontact" alt="hyderabad"></area>
                                             <area id="Kolkata" shape="rect" coords="269,260,337,281" href="/index.aspx?id=aboutus_kolkata&amp;culture=en-US" class="kolcontact" alt="Kolkata"></area>
                                             <area id="Noida" shape="rect" coords="166,147,221,164" href="/index.aspx?id=aboutus_noida&amp;culture=en-US" class="noicontact" alt="Noida"></area>
                                             <area id="Delhi" shape="rect" coords="124,157,164,189" href="/index.aspx?id=aboutus_delhi&amp;culture=en-US" class="delcontact" alt="Delhi"></area>
                                             <area id="mohali" shape="rect" coords="99,116,152,146" href="/index.aspx?id=aboutus_mohali&amp;culture=en-US" class="mohcontact" alt="mohali"></area>
                                         <area id="silchar" shape="rect" coords="352,203,404,221" href="/index.aspx?id=aboutus_silchar&amp;culture=en-US" class="delcontact" alt="silchar"></area>
                                         </map>-->
                     
       
         
       </div>
</div>
<br>
<br>