
<div class="container-fluid">
    <!-- Background animtion-->
    <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <!-- header -->
    <header>
        <!-- navbar -->
         
        <!-- logo -->
       <!-- <div class="logo"><img src="assets/images/roundlogo.jpg" style="height: 80px;width: 80px; margin: 5px;" ></div>-->
        <!-- title & content -->
        <section class="header-content">

            <br>
           
            <div class="container " style="margin-top: 100px;">
                <div class="row align-items-center pt-5">
                    <div class="col left">
                        <div style="margin-right: 50px;width: 500px;" class="card">
                            <div  style="background-color:#6fa0a4;"  class="card-header">
                                <h4 style="text-align: center;color:#18191A;font-size: x-large; font-weight:bolder;" >
                                    DEHCS</h4>
                            </div>



                            <div   style="background-color:#C8E5E3;"  class="card-body">
                                <h4 style="color: transparent;">text</h4>
                                <h4 style="color: transparent;">text</h4>
                                <h4 style=" color:black; font-weight: bolder;font-size: x-large;"> Diploma in Ethical Hacking and Cyber Security

                                </h4>
                         
                          
                                <h4 style="color: black;">600 hrs</h4>
                                <h4 style="color: black;">Comprehensive Course</h4>
                                <h4 style="color: transparent;">text</h4>
                                <a routerLink="/dehcs">
                                    <input type="submit" value="Details" name="ctf_details" id="ctf_details"
                                        class="btn button btn-success">
                                </a>

                                <br>
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="col right">
                        <div style="width: 500px;" class="card">
                            <div  style="background-color:#6fa0a4;"  class="card-header">
                                <h4 style="text-align: center; color:#18191A; font-size: x-large;font-weight:bolder">CTF
                                </h4>
                            </div>
                            <div style="background-color:#C8E5E3;" class="card-body">
                                <h4 style="color: transparent;">text</h4>
                                <h4 style="color: transparent;">text</h4>
                                <h4 style="color: BLACK; font-weight: bolder;font-size: x-large;">CPAT-Capture The Flag Event
                                </h4>
                               
                                
                                <h4 style="color: black;"> 12 hrs</h4>
                                <h4 style="color: black;">Jeopardy Style</h4>
                                <h4 style="color: transparent;">text</h4>
                                <h4 style="color: transparent;">text</h4>
                                <a  routerLink="/ctf">
                                
                                    <input type="submit" value="Details" name="ctf_details" id="ctf_details"
                                        class="btn button btn-success">
                                </a>
                                <br>
                                <br>
                              

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!--<div class="footer">
 
 
 
                <p style="font-size:15px;" class="presskitlinks"><span class="copyrights"> &#169;2021 C-DAC. All rights
                    reserved.</span></p>
                <p style="font-size:15px;">Website Owned &amp; Maintained by: Centre for Development of Advanced Computing (C-DAC)
                  Patna
                </p>
                <p style="font-size:15px;">C-DAC 14th Floor ,Biscomaun Tower, West Gandhi Maidan, Patna - 800001, Bihar (India)
                  Phone: +91-612-2219021</p>
              
              </div>-->
           
        </section>
       
    </header>

 










