<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> Free Career Counselling On Advanced Technologies</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <!--<ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">carreer_counselling
                            </li>
                        </ol>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<br>




<div style="height:60px;background: #f2b439; margin-top: 10px;">
    <marquee behavior="scroll" direction="left">
        <a>
            <h2 style="margin:10px; color: black;">Career Counselling for C-DAC Post Graduate Diploma courses</h2>
        </a>
    </marquee>
</div>

<div class="container">

    <div class="container" style="margin-top: 40px; ">
        <div class="row">
            <div style="padding: 50px;" class="col-md-8" style="background-color:white;">
                <br>
                <br>

                <div class="custom-para">

                    <p style="font-size: larger;" class="text-justify">
                        <strong>“C-DAC Patna announces 02 PG Diploma
                            Courses from its Centre” </strong>
                    </p>




                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        1)PG Diploma in artificial

                        intelligence (PG-DAI).</p>


                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        2)PG Diploma in Internet of Things
                        (PG-DIoT).</p>
                    <br>

                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        <strong>Course Highlights</strong> </p>

                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        • 30 weeks’fully online full time course with 900
                        hours' theory + lab + project.</p>



                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        • Syllabus designed with the latest trends in the ICT

                        Industry.</p>

                    <p style="font-size: larger; text-align: justify;" class="text-justify">
                        • Expert faculty from C-DAC and ICT Industry with
                        widespread domain knowledge.</p>

                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        •Tutorials, hands-on and projects relevant to the

                        standards of the ICT industry.</p>


                    <p style="font-size: larger;text-align: justify;" class="text-justify">
                        • Extensive Placement Orientation and region -wise
                        common campus</p>
                    <br>



                    

                    <p style="font-size: larger;" class="text-justify">
                        <strong>
                            PG Diploma in Artificial Intelligence</strong> </p>
                    <p>
                        <strong> The theoretical and practical mix of the Post Graduate Diploma in Artificial
                            Intelligence programme has the following focus:</strong>
                    </p>
                    <p>
                        The objective of the PG-DAI course is to present in-depth knowledge and applications in
                        Artificial Intelligence using tools and case studies. Upon completion of this course,
                        participants will be empowered to use computational techniques in the area of Artificial
                        Intelligence, Natural Language Processing, Machine Learning and Deep Learning based
                        applications.
                    </p>

                  <br>

                    <p style="font-size: larger;" class="text-justify">
                        <strong>

                            PG Diploma in Internet of Things (PG-DIoT)</strong> </p>
                    <p>

                        <p>
                            <strong>The theoretical and practical mix of the Post Graduate Diploma in Internet of Things (PG-DIoT) programme has the following focus:</strong>
                        </p>
                       <p>
                        This course will enable the student to utilize various Embedded Technologies related to IoT, Sensor Networks, Communication Protocols, Cloud Computing,
                       </p>
                       <p>
                        Accessing Resources and Services needed to perform functions with dynamically changing needs.
                       </p>
                       <p>
                        Will help to understand the IoT privacy and Security Concepts for secured IoT environment and to utilize the various IoT Platforms to explore Real Time IoT Applications Areas.
                       </p>
                       <p>
                        Students will able to explore Modern IoT Trends and to undertake industrial research projects for the development of future solutions in the domain of Data Analytics to make an impact in the technological advancement.
                       </p>
                       <p>
                        Students will be able to use advanced IoT Tools/ Decision-Making Tools/ Operation Research Techniques to analyze the complex problems and get ready to develop such new techniques for the future.
                       </p>


                       <p style="font-size: larger;text-align: justify;" class="text-justify">
                        <strong>Our Placement zones:</strong> </p>


                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Patna </p>
                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Pune </p>

                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Hyderabad </p>
                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Mumbai </p>

                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Noida </p>
                    <p style="font-size: larger;" class="text-justify">
                        C-DAC Bengaluru </p>
                    <br>


                        <!--<img src="assets/images/ibm.png" alt="My image" style="width:25%;height:130px;">
            <img src="assets/images/dlt.png" alt="My image" style="width:25%;height:200px;margin-left: 49px;">
            <img src="assets/images/logo3.png" alt="My image" style="width:25%;height:130px;margin-left: 49px;">
  
  
            <img src="assets/images/nvidia.png" alt="My image"
              style="width:25%;height:130px;margin-left: 100px;margin-top: 30px;">
  
            <img src="assets/images/cyberassociation.jpg" alt="My image"
              style="width:20%;height:140px;margin-left: 100px;margin-top: 30px;">-->


                </div>



            </div>

            <div st class="col-md-4 ">
                <!--<div class="card" style="width: 20rem; background-color:cornflowerblue; margin-top: 50px;">-->
                <!--<img src="assets/images/googlemeet.png" class="card-img-top" alt="..." style="height: 120px;">-->
                <!-- <div class="card-body">-->
                <!--<h4 style="color: black; margin-top: 4px;" class="card-title"> The link will be available on 14 <sup>th</sup> July 2021</h4>-->
                <p class="card-text"></p>
                <!--<button type="button" class="btn btn-primary">Details</button>-->

                <!--</div>-->
                <!--</div>-->

                
                <a  href="https://patna.cdac.in/registration_for_career" target="_blank">
              <img src="assets/images/reg4.png" class="card-img-top" alt="..."
                style=" margin-left:20px; margin-top: 20px; height: 145px; width: 300px;">
            </a>
            </div>

        </div>
        <!--<div class="row">
            <div class="col-md-8">
                <div class="row pt-5">
                    <div class="col-sm-3">
                        <img src="assets/images/ibm.png" class="img-responsive" style="width:100%;height:60px ;"
                            alt="Image">
                    </div>
                    <div class="col-sm-3 offset-sm-1">
                        <img src="assets/images/dlt.png" class="img-responsive" style="width:100%;height: 110px;"
                            alt="Image">
                    </div>
                    <div class="col-sm-3 offset-sm-1">
                        <img src="assets/images/logo3.png" class="img-responsive" style="width:100% ;height:60px;"
                            alt="Image">
                    </div>
                </div>
                <div class="row pt-5 ">
                    <div class="col-sm-3 offset-sm-2">
                        <img src="assets/images/nvidia.png" class="img-responsive" style="width:100%;height: 110px;"
                            alt="Image">
                    </div>

                    <div class="col-sm-2 offset-sm-2">
                        <img src="assets/images/cyberassociation.jpg" class="img-responsive"
                            style="width:600px;;height:110px;" alt="Image">
                    </div>


                </div>



            </div>



        </div>
        <div class="row">

            <p style="font-size: large;"><b>Webinar Sessions Plan</b></p><br>
            <p>This Webinar will cover the following themes and topics :</p>

            <div class="col-md-8">
                <table class="table table-bordered"
                    style="border:2px solid black;border-spacing: 10px;vertical-align: middle;width: 100%;">
                    <thead>
                        <tr>
                            <td style="width:5%;border:2px solid black"><strong>Date</strong></td>
                            <td style="width:10%;border:2px solid black"><strong>Time</strong></td>
                            <td style="width:10%"><strong>Topics</strong></td>
                            <td style="width:10%;border:2px solid black"><strong>Speaker</strong></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="border:2px solid black">
                            <td style="border:2px solid black" colspan="4" width="694"><strong>Day One<br></strong></td>
                        </tr>
                        <tr style="border:2px solid black">
                            <td style="border:2px solid black; padding-top:70px;:" rowspan="4"> <br><br><br>
                                <p>15<sup>th</sup> July,2021</p>
                            </td>
                            <td style="border:2px solid black">11:30 AM-11:45 AM</td>
                            <td style="border:2px solid black">Roadmap
                                on
                                Emerging Technologies </td>
                            <td style="border:2px solid black">Aditya Kumar Sinha
                                <br>Director,C-DAC, Patna. </td>
                        </tr>
                        <tr style="border:2px solid black">
                            <td>11:45 AM - 12:00 PM </td>
                            <td style="border:2px solid black">
                                <p> Artificial Intelligence </p>

                            </td>
                            <td style="border:2px solid black">Amol Dhondse<br>Senior Technical Staff Member,IBM
                            </td>

                        </tr>

                        <tr style="border:2px solid black">
                            <td style="border:2px solid black"> 12 PM - 12:15 PM </td>
                            <td style="border:2px solid black">Cyber Security</td>
                            <td style="border:2px solid black"> Colonel Indrajeet Singh<br> Chief Cyber Security
                                Officer, VARA
                                Chief Cyber Security Officer, Cyber Sleuths
                                <br> Founder-iSafe
                            </td>
                        </tr>



                        <tr style="border:2px solid black">
                            <td style="border:2px solid black"> 12:15 PM - 12:30 PM </td>
                            <td style="border:2px solid black">Internet of Things</td>
                            <td style="border:2px solid black"> Mr. Chandrashekhar<br>Technical Lead,HCL

                            </td>
                        </tr>


                        <tr style="border:2px solid black">
                            <td style="border:2px solid black ;" colspan="4" width="694"><strong> Day Two</strong><br>
                            </td>
                        </tr>
                        <tr style="border:2px solid black">
                            <td style="border:2px solid black;padding-top:70px;:" rowspan="5"><br><br><br><br>
                                <p>16<sup>th</sup> July, 2021</p>
                            </td>
                            <td style="border:2px solid black">11:30 AM-11:45 AM</td>
                            <td style="border:2px solid black">Blockchain
                            </td>
                            <td style="border:2px solid black">Ajay Singh<br> Chief Information Officer, DLT Labs

                            </td>
                        </tr>
                        <tr style="border:2px solid black">
                            <td>11:45 AM - 12:00 PM </td>
                            <td style="border:2px solid black">
                                <p>Data Science </p>

                            </td>
                            <td style="border:2px solid black"> Jigar Hilani <br>Director - Solution Architect & Engg.,
                                NVIDIA
                            </td>

                        </tr>

                        <tr style="border:2px solid black">
                            <td style="border:2px solid black"> 12:00 PM - 12:15 PM </td>
                            <td style="border:2px solid black"> Career Opportunities
                                on
                                Emerging Technologies</td>
                            <td style="border:2px solid black"> Dinesh Anantwar<br>Training Consultant
                                Ex-Head Education at Infosys-Pune,
                                <br>Ex-Global Head Training Delivery ,
                                iGATE Patni
                            </td>
                        </tr>
                        <tr style="border:2px solid black">
                            <td style="border:2px solid black"> 12:15 PM - 12:30 PM </td>
                            <td style="border:2px solid black"> Robotics
                            </td>
                            <td style="border:2px solid black"> Dr. Hena Ray<br> Joint Director - C-DAC,KOLKATA

                            </td>
                        </tr>



                        <tr style="border:2px solid black">

                            <td colspan="3" style="border:2px solid black  ">Open Career Discussion</td>

                        </tr>

                        <!--<tr style="border:2px solid black">
        <td  style="border:2px solid black" style="" colspan="3" width="694"><strong>Day Three<br>(Organization Security Measures)</strong></td>
      </tr>
      <tr style="border:2px solid black">
        <td  style="border:2px solid black" rowspan="3"><p>12<sup>th</sup> June,</p>2021</td>
        <td  style="border:2px solid black" >11:00 AM-12:20 PM</td>
        <td  style="border:2px solid black">Best Practices: Organizational Safety and Security</td>
      
      </tr>
      <tr style="border:2px solid black">
        <td  style="border:2px solid black">12:20 PM - 12:30 PM </td>
        <td  style="border:2px solid black">CySec Quiz Time </td>
      
      </tr>
      
      
      <tr style="border:2px solid black">
        <td  style="border:2px solid black">12:30 PM - 1:00 PM </td>
        <td  style="border:2px solid black">CySec Demo 03: Mail spoofing, Online Meeting Attack, ICMP Flood Attack, Secure Remote Access</td>
      </tr>
      
      <tr style="border:2px solid black">
        <td style="" colspan="3" width="694"><strong>Day Four<br>(CySec Responsibilities: Individual,Organization and Society)</strong></td>
      </tr>
      <tr style="border:2px solid black">
        <td  style="border:2px solid black" rowspan="3"><p>13<sup>th</sup> June,</p>2021</td>
        <td  style="border:2px solid black" >11:00 AM-12:20 PM</td>
        <td  style="border:2px solid black">
          <p>Cyber Security Event Cycle: Prevention, Identification & Mitigation</p>
          <p>Aspects of CySec Responsibilities </p>
        </td>
      </tr>
      <tr style="border:2px solid black">
        <td  style="border:2px solid black">12:20 PM - 12:30 PM </td>
        <td  style="border:2px solid black">CySec Quiz Time </td>
      </tr>
      
      
      <tr style="border:2px solid black">
        <td  style="border:2px solid black">12:30 PM - 1:00 PM </td>
        <td  style="border:2px solid black">Case Study Discussion with Experts </td>
      
      </tr>
      
      
      <tr style="border:2px solid black">
              <td  style="border:2px solid black"><p>14<sup>th</sup> June,</p>2021</td>
        <td style="border:2px solid black" colspan="2"><strong>Final Evaluation Quiz</strong></td>
      </tr>

                    </tbody>
                </table>
            </div>

        </div>-->



    </div>












</div><br>