<section>
    <div class="banner-inner">
        <div class="container1">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">Education & Training</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Education &
                                Training</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<br>
<br>
<br>


<div class="container">
    <div class="custom-para">

        <p class="text-justify">C-DAC Patna continuously aims towards the process of Leading Edge technology  capacity
            building with the idea of developing and strengthening the skills, instincts, abilities, processes and
            resources that are needed to survive, adapt, and thrive in this fast-changing world.</p>

        <p class="text-justify">Artificial Intelligence , IoT, Blockchain, Cyber Security & Forensics, Machine learning,
            and Big Data Analytics are undoubtedly very critical to our society and also acting as a catalyst in
            reforming the operations in Industries.</p>
        <p class="text-justify"><strong>"Equal access to Quality Education is one of the C-DAC Patna's focused
                goals"</strong></p>
        <p class="text-justify">Our Education Courses explore the practice of teaching from both an applied and
            theoretical perspective with experts from C-DAC and ICT Industry with widespread domain knowledge.</p>

    </div>

</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">


        <div class="row mb-5">



            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img src="assets/images/Ai.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a >Artificial Intelligence</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p class="card-text">Online PG Diploma In Artificial Intelligence </p>
                        <strong>900 hrs</strong>
                        <!-- Card footer -->
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a href="https://www.cdac.in/index.aspx?id=DAI&courseid=30" target="_blank"
                                    style="background: #255bab" class="btn btn-info" role="button">Details</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="height: 270px;" src="assets/images/Hacker.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a >DEHCS</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p class="card-text"> Diploma in Ethical Hacking and Cyber Security </p>
                        <strong>600 hrs</strong>
                        <!-- Card footer -->
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a routerLink="/dehcs" 
                                    style="background: #255bab" class="btn btn-info" role="button">Details</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>




            <div class="col-lg-4 col-md-6">

                <div class="card card-cascade wider card-ecommerce">

                    <div class="view view-cascade overlay">
                        <img src="assets/images/Blockchain.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade text-center">


                        <h4 class="card-title">
                            <strong>
                                <a >Blockchain</a>
                            </strong>
                        </h4>

                        <p class="card-text">Certificate Course in Basic Blockchain </p>
                        <strong>200 hrs</strong>

                        <div class="card-footer px-1">

                            <span class="float-right font-weight-bold">
                                <a routerLink="/blockchain" style="background: #255bab" class="btn btn-info"
                                    role="button">Details</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>
                        </div>
                    </div>

                </div>

            </div>

          <!--
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
             
                <div class="card card-cascade wider card-ecommerce">
                 
                    <div class="view view-cascade overlay">
                        <img src="assets/images/iot.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                 
                    <div class="card-body card-body-cascade text-center">
                      

                        <h4 class="card-title">
                            <strong>
                                <a >Internet Of Things</a>
                            </strong>
                        </h4>
                   
                        <p class="card-text">Online PG Diploma In Internet of Things </p>
                        <strong>900 hrs</strong>
                  
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a href="https://www.cdac.in/index.aspx?id=DIoT&courseid=67" target="_blank"
                                    style="background: #255bab" class="btn btn-info" role="button">Details</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
               <!--            </span>

                        </div>
                    </div>

                </div>
  
            </div>
  
--> 


            <!--<div class="col-lg-4 col-md-6">

                <div class="card card-cascade wider card-ecommerce">

                    <div class="view view-cascade overlay">
                        <img src="assets/images/Blockchain.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade text-center">


                        <h4 class="card-title">
                            <strong>
                                <a href="">Blockchain</a>
                            </strong>
                        </h4>

                        <p class="card-text">Advanced Course In Blockchain Technology</p>
                        <strong>400 hrs</strong>

                        <div class="card-footer px-1">

                            <span class="float-right">
                                <a style="background: gray" class="btn btn-info" role="button">Details</a>

                            </span>
                        </div>
                    </div>

                </div>

            </div>-->

            







        </div>
        <!--
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/aicard.jpg" class="card-img-top" alt="..." style="height: 160px;">
                <div class="card-body">
                    <h5 class="card-title">Online PG Diploma In Artifical Intelligence</h5>
                    <p class="card-text">900 hrs</p>
                    <a href="https://www.cdac.in/index.aspx?id=DAI&courseid=84" target="_blank"
                        style="background: #255bab" class="btn btn-info" role="button">Details</a>
                    <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/IoT.jpg" class="card-img-top" alt="..." style="height: 160px;">
                <div class="card-body">
                    <h5 class="card-title"> Online PG Diploma In Internet of Things</h5>
                    <p class="card-text">900 hrs</p>

                    <a href="https://www.cdac.in/index.aspx?id=DIoT&courseid=67" target="_blank"
                        style="background: #255bab" class="btn btn-info" role="button">Details</a>
                    <!--  <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab ; margin-left: 80px;" class="btn btn-info"  role="button">Register</a>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/block.png" class="card-img-top" alt="..." style="height: 154px;">
                <div class="card-body">
                    <h5 class="card-title">Advanced Course In <br> Blockchain Technology</h5>
                    <p class="card-text">400 hrs</p>
                    <!--<button type="button" class="btn btn-primary">Details</button>
                    <a style="background: gray" class="btn btn-info" role="button">Details</a>


                </div>
            </div>


        </div>


    -->



    </div>



</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="row mb-5">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img src="assets/images/dataAnalytics.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a >Data Analytics</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p class="card-text">Data Analytics And Predictive Modelling</p>
                        <strong>400 hrs</strong>
                        <!-- Card footer -->
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a style="background: gray" class="btn btn-info" role="button">Coming soon</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img src="assets/images/datascience1.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a >Data Science</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p class="card-text">Advanced Data Science</p>
                        <strong>400 hrs</strong>
                        <!-- Card footer -->
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a style="background: gray" class="btn btn-info" role="button">Coming soon</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>



            


            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="height: 260px; background-color: #242134;" src="assets/images/future.gif"
                            class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a >FutureSkills Prime </a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p class="card-text">Government Officials Training</p>
                        <strong>400 hrs</strong>
                        <!-- Card footer -->
                        <div class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a routerLink="/future-skills-prime" style="background: #255bab" class="btn btn-info"
                                    role="button">Details</a>
                                <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>-->
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>





            <!--
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/data3.jpg" class="card-img-top" alt="..." style="height: 160px;">
                    <div class="card-body">
                        <h5 class="card-title"> Data Analytics And Predictive Modelling

                        </h5>
                        <p class="card-text">400 hrs</p>
                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/datascience.jpg" class="card-img-top" alt="..." style="height: 167px;">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Data Science </h5>
                        <p class="card-text">400 hrs</p>

                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>

            -->
          






        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


