


<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">Our IoT Initiatives</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Initiative</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<div class="container">


    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Webinar Series On Technology Roadmap For Emerging Future</h4>
                                <h6 style="color:#337ab7;">
                                    IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> 
                                  In this five day webinar series we had talked about emerging technologies of future.The major focus of this webinar was IoT and different aspects of IoT.  
                                </p>
                                <p>
                                   The objective of this program was to make participants familiar with IoT and its increasing use with advancement in industries.The webinar has provided essential information regarding the current trends.
                                </p>
                                <p>
                                    The aim of this webinar was to ignite the 
                                    curiosity of the participants regarding the emerging technology.
                                </p>
                

                                <a href="https://patna.cdac.in/iot_web/" target="_blank" 
                                style="color:#286090"><strong>Know More>></strong>
                            </a>

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/iot1.jpg" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>
          

    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="container">

    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Expert Guidance And Career Opportunities On Emerging Technologies</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security,AI,IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> With the vision of Career Prospect Awareness in Advanced Technologies like AI, IoT,
                                    Blockchain, Data Science and Cyber Security; we arranged a 02 Day Webinar on “Expert
                                    Guidance & Career Opportunities on Emerging Technologies” on 15th July and 16th July
                                    (11:30 AM to 12:30 PM).
                                </p>
                                <p>

                                    Targeted Audience was Graduate and Post Graduate Fresher’s in Engineering or Science
                                    Stream And the IT Professional who were looking for Career Change in Advanced
                                    Technologies.
                                </p>
                                <p>

                                    This Webinar was very helpful for participants to identify the career goals, set the
                                    education milestones and derive the clear pathways to achieve it.
                                </p>

                                <a routerLink="/carreer_talk" target="_blank"
                                style="color:#286090"><strong>Know More>></strong>
                            </a>

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/career.jpg" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>






    

    


    




   

    


    
    

    
 <!--
    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>Smart Agriculture through AI-IoT Convergence</h4>
                                <h6 style="color:#337ab7;">
                                    AI-IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> The use of IoT and AI technologies has the potential to
                                    result in a positive transformation of traditional agriculture ,
                                    including:
                                </p>
                                <p>
                                    (a) improved use of data collected from smart
                                    agriculture sensors;
                                </p>
                                <p>
                                    (b) managing and governing the internal
                                    processes within the smart agriculture environment (including
                                    the management of the harvesting and storage of crops);
                                </p>
                                <p>
                                    (c)waste reduction and cost saving;
                                </p>
                                <p>
                                    (d) increasing business efficiency by means of automating traditional processes; and
                                </p>
                                <p>
                                    (e) improving the quality and volume of products
                                </p>


                            </h5>
                            <!---->
          <!--               </div>
                        <div class="global-search-container-card-media"><img loading="lazy" src="assets/images/Agri.png"
                                alt="image-icon" style="width: 315px;"></div>
                    </div>

                </div>

            </div>
        </div>


    </div>







</div>
-->