
<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">Our AI Initiatives</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Initiative</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<div class="container">



    
    <div class="row">
        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4> <a> Webinar Series on Artificial Intelligence and Data Science</a></h4>
                                <h6 style="color:#337ab7;">
                                    AI
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> This series of webinars was designed to educate and inspire aspiring minds in the
                                    field
                                    of Data Science and Artificial Intelligence.<br>
                                    The series was scheduled from 20th March 2021 to 02nd May 2021, on each Saturday and
                                    Sunday.</p>
                                <p>
                                    The objective of the Webinar Series was to bring together the experts from industry
                                    and
                                    academia to exchange their innovative research and share their experience in the
                                    field
                                    of Data Science and Artificial Intelligence.</p>

                                <a href="https://patna.cdac.in/ai_web" target="_blank"
                                    style="color:#286090"><strong>Know More>></strong>
                                </a>
                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media col-md-4"><img loading="lazy"
                                src="assets/images/Webianr.jpg" alt="image-icon" style="width: 315px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>




    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Expert Guidance And Career Opportunities On Emerging Technologies</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security,AI,IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> With the vision of Career Prospect Awareness in Advanced Technologies like AI, IoT,
                                    Blockchain, Data Science and Cyber Security; we arranged a 02 Day Webinar on “Expert
                                    Guidance & Career Opportunities on Emerging Technologies” on 15th July and 16th July
                                    (11:30 AM to 12:30 PM).
                                </p>
                                <p>

                                    Targeted Audience was Graduate and Post Graduate Fresher’s in Engineering or Science
                                    Stream And the IT Professional who were looking for Career Change in Advanced
                                    Technologies.
                                </p>
                                <p>

                                    This Webinar was very helpful for participants to identify the career goals, set the
                                    education milestones and derive the clear pathways to achieve it.
                                </p>

                                <a routerLink="/carreer_talk" target="_blank"
                                style="color:#286090"><strong>Know More>></strong>
                            </a>

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/career.jpg" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>



          

    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <!--<h5 style="color:#337ab7;"> Initiative <span class="badge bg-primary $badge-padding-y:.35em; ">1</span></h5>-->
                                <h4>Free Career Counselling On Advanced Technologies</h4>
                                <h6 style="color:#337ab7;">
                                    Cyber Security,AI,IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> With the vision of Career Counselling On Advanced Technologies like AI, IoT,
                                    Blockchain, Data Science and Cyber Security; we arranged a 05 Day Counselling Session on “FREE CAREER COUNSELLING ON ADVANCED TECHNOLOGIES”.
                                    
                                </p>
                                <p>

                                    Targeted Audience was Graduate and Post Graduate Fresher’s in Engineering or Science
                                    Stream  who were looking for Career  in Advanced
                                    Technologies.
                                </p>
                                <p>

                                    This Counselling Session was very helpful for participants to identify the career goals, set the
                                    education milestones and derive the clear pathways to achieve it.
                                </p>

                                <!--<a routerLink="/carreer_talk" target="_blank"
                                style="color:#286090"><strong>Know More>></strong>
                            </a>-->

                            </h5>
                            <!---->
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/career-counselling.png" alt="image-icon"
                                style="width: 315px; margin-top: 0px; height: 300px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="container">

  






    


    




    




<!--
    
    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>Conversational AI based Digital Assistant System</h4>
                                <h6 style="color:#337ab7;">
                                    AI
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> Conversational AI based Digital Assistant are propelling the world with astounding
                                    levels of automation that drive productivity up and costs down. New advancements of
                                    technology are upgrading today’s traditional chatbots to advanced Digital
                                    assistants.
                                    Chatbots are a manifestation of Artificial Intelligence (AI) via the simulation of
                                    conversation with human users.

                                    Human Friendly Ai enabled Digital Assistant for Government Services across various
                                    domains could be made available to all sections of society.
                                </p>

                            </h5>
                            <!--
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/Conv AI.jpg" alt="image-icon" style="width: 315px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>
-->

   
<!--
    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>AI Enabled Proctoring System for Online Examinations</h4>
                                <h6 style="color:#337ab7;">
                                    AI
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> This would make online exams more accessible and safe to conduct from an environment
                                    chosen by candidates either from home or designated centres. The Proctoring System
                                    will
                                    continuously monitor the candidate during the exam through video streams captured
                                    from
                                    the candidate system. The online proctoring will have following features:
                                </p>
                                <p>
                                    • Candidate system compatibility check
                                </p>
                                <p>
                                    • Object detection(Phone, Paper/Cheat, Person/Shadow)
                                </p>
                                <p>
                                    • Background noise detection and translate it to speech/voice, speech to text
                                    conversion

                                    and matching the text with exam context
                                </p>
                                <p>
                                    • Behaviour analysis of candidate i.e. Gesture, Posture, Sentiment/Mood, Gaze
                                </p>
                                <p>
                                    • AI assisted Help/Support System(Chat Bot)
                                </p>
                            </h5>
                            <!--
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/Ai proctoring.jpg" alt="image-icon" style="width: 315px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>

    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>AI Centre of Research and Excellence</h4>
                                <h6 style="color:#337ab7;">
                                    AI
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> C-DAC Patna propose to establish 05- AI Petaflop facility under the guidance of
                                    National
                                    Strategy for Artificial Intelligence(NSAI) by NITI Ayog. The facility will serve the
                                    following purpose:
                                </p>
                                <p>
                                    • Promotion of AI related RESEARCH
                                </p>
                                <p>
                                    • Manpower capacity building
                                </p>
                                <p>
                                    • Platform/Framework to adapt/promote AI solution
                                </p>
                                <p>
                                    • Draft Specification/Guideline for "Responsible AI"
                                </p>
                                <p>
                                    • Engage Academic/Govt/Startup for Research, Projects and Business
                                </p>
                                <p>
                                    This facility will be accessible nation/statewide to cater infrastructure need to
                                    nurture AI-ML convergence with other technologies in domains that will put India on
                                    international row</p>


                            </h5>
                            <!--
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy"
                                src="assets/images/Ai CORE.jpg" alt="image-icon" style="width: 315px; "></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>


    <div class="row">

        <div class="col-md-10">
            <div id="search-results" class="global-search-container">

                <div>

                    <div class="global-search-container-card row">
                        <div class="global-search-container-card-content col-md-8">
                            <div>
                                <h4>Smart Agriculture through AI-IoT Convergence</h4>
                                <h6 style="color:#337ab7;">
                                    AI-IoT
                                </h6>
                            </div>
                            <h5 style="text-align: justify;">
                                <p> The use of IoT and AI technologies has the potential to
                                    result in a positive transformation of traditional agriculture ,
                                    including:
                                </p>
                                <p>
                                    (a) improved use of data collected from smart
                                    agriculture sensors;
                                </p>
                                <p>
                                    (b) managing and governing the internal
                                    processes within the smart agriculture environment (including
                                    the management of the harvesting and storage of crops);
                                </p>
                                <p>
                                    (c)waste reduction and cost saving;
                                </p>
                                <p>
                                    (d) increasing business efficiency by means of automating traditional processes; and
                                </p>
                                <p>
                                    (e) improving the quality and volume of products
                                </p>


                            </h5>
                            <!--
                        </div>
                        <div class="global-search-container-card-media"><img loading="lazy" src="assets/images/Agri.png"
                                alt="image-icon" style="width: 315px;"></div>
                    </div>

                </div>

            </div>
        </div>


    </div>

-->





</div>
