



   <section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">Subscribe With Us</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                          <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a></li>
                          <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Subscribe</li>
                        </ol>
                      </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--<div class="container">
    <div class="row">
        <div class="col-md-10">
    <h1 class="h1  " align="center">
        Subscribe<p><small style="color: black;">For More Information And Latest Update</small></h1>
    <br>
</div>
</div>

    <div class="row">
        <div class="col-md-12">
            <form name="myform" class="form-group col-md-10">



                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>

                <br>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Email<font color="red">*</font></label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="email" class="form-control" type="text" id="email" name=email
                            placeholder="ENTER YOUR EMAIL" Required="required">
                    </div>
                </div>
                <br>



                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Organization
                    </label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="Organization" class="form-control" type="text" id="Organization"
                            name=Organization placeholder="Enter YOUR Organization" style="text-transform:uppercase">
                    </div>
                </div>
                <br>

                <div class="form-group row">
                    <label for="Sector" class="col-2 col-form-label">Sector<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="Sector" class="form-control" [(ngModel)]="selectedSector"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let sector of sectors" [value]="sector" style="text-transform:uppercase">
                                {{sector}}
                            </option>

                        </select>

                    </div>
                </div>

                <br>
                <div class="form-group row">
                    <label for="Subject" class="col-2 col-form-label">Who am I<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="Subject" class="form-control" [(ngModel)]="selectedUser"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                            </option>

                        </select>

                    </div>

                </div>

                <br>
                <div class="form-group row">
                    <label for="subject" class="col-2 col-form-label">Work Domain<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select id="subject" class="form-control" [(ngModel)]="selectedOccupation"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let occupation of occupations" [value]="occupation"
                                style="text-transform:uppercase">
                                {{occupation}}
                            </option>
                        </select>

                    </div>

                </div>
                <br>



                <div class="form-group row">
                    <label class="col-2 col-form-label">Enter Captcha</label>
                    <div class="form-group col-md-3" style="margin-left:2px; text-align: center;">
                        <input [(ngModel)]="capt" name="capt" type="text" class="form-control" readonly id="capt" style=" background-color: #76b900 ; color:black ;padding-right: 20px;">
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>
                    
                </div>
                <div class="form-group row">
                    
                    
                    
                        <label for="name" class="col-2 col-form-label">
                        <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label" style="margin-top:2px;">Name<font color="red">*</font>
                    </label>
                    <div class="col-sm-6" >
                        <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name
                            placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase ;">
                    </div>
                </div>             src="/assets/images/refresh 1.jpg" (click)="cap()"></h6>
                        </div>
                    
                </div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Message<font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <textarea [(ngModel)]="message" name="message" id="message" class="form-control" rows="9"
                            cols="25" required="required" placeholder="Message"></textarea>
                    </div>
                </div>



                <br>

                <div class="col-sm-8" align="center">



                    
                        <button (click)="onSignUp()" (click)="validCap()" type="submit"  id="btnContactUs" class="btn btn-default enq_btn">Subscribe</button>

                    <p class="col-sm-14" align="center"> <span id="lblStatus" class="failureNotification"
                            style="color:Red">All
                            fields marked with * are mandatory.</span></p>
                </div>

            </form>
        </div>
    </div>
</div>-->

<div class="container">
<div class="custom-para">





    <form name="form1" method="post" action="/inc_files/reach_us.aspx?id=reach_us" id="form1"
        class="form-horizontal well">
        <div>

        </div>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="4FC6123F">
        </div>
        <div id="Panel1">

            <div class="row">
                <div class="col-md-12 bg-info">
                    <h3 style="text-align: center; color:black">Subscribe</h3>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Name<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name  placeholder="Enter YOUR Name" Required="required" style="text-transform:uppercase " >
                    <br>
                    <span id="lblname" style="color:Red"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Email<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="email" name=email type="text" id="email" class="form-control" placeholder="ENTER YOUR EMAIL" Required="required">
                    <br>
                    <span id="lblemail" style="color:Red"></span>
                </div>
            </div>

            
            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Country/State
                </label>
                <div class="col-sm-3">

                    <select id="country" name="country" class="form-control" placeholder="Select Country" [(ngModel)]="selectedcountryList"
                        (change)="changeCountry($event.target.value)">
                        <option *ngFor="let count of countryList">{{count.name}} </option>
                    </select>
                </div>
                <div class=" col-sm-3" >
                    <select id="country" name="country" class="form-control" placeholder="Select ate" [(ngModel)]="selectedcities">
                        <option *ngFor="let city of cities">{{city}} </option>
                    </select>
                </div>
                <br>
                <span id="lbltitle" style="color:Red"></span>
            </div>
            <br>

            <!--<div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Email<font color="red">*</font></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="email" class="form-control" type="text" id="email" name=email
                        placeholder="ENTER YOUR EMAIL" Required="required">
                </div>
            </div>-->

           

            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 col-form-labe control-label">Organization<span class="text-danger"></span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="Organization" class="form-control" type="text" id="Organization"
                        name=Organization placeholder="Enter YOUR Organization" style="text-transform:uppercase">
                    <br>
                    

                </div>
            </div>


            <div class="form-group">
                <label for="Sector" class="col-sm-4 control-label col-form-label">Sector<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select id="Sector" class="form-control" [(ngModel)]="selectedSector"
                    [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let sector of sectors" [value]="sector" style="text-transform:uppercase">
                        {{sector}}
                    </option>

                </select>
                    <br>
                    <span id="lbltitle" style="color:Red"></span>

                </div>
            </div>

        

            <div class="form-group">
                <label for="Subject"  class="col-sm-4 control-label  col-form-label">Who am I<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select id="Subject" class="form-control" [(ngModel)]="selectedUser"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                        </option>

                    </select>
                    <br>
                    <span id="lbltitle" style="color:Red"></span>

                </div>
            </div>


            <!--<div class="form-group row">
                <label for="Subject" class="col-2 col-form-label">Who am I<font color="red">*</font>
                </label>
                <div class="col-sm-6">
                    <select id="Subject" class="form-control" [(ngModel)]="selectedUser"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let user of users" [value]="user" style="text-transform:uppercase">{{user}}
                        </option>

                    </select>

                </div>

            </div>-->

            <div class="form-group">
                <label for="subject" class="col-sm-4 control-label col-form-label">Work Domain<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select id="subject" class="form-control" [(ngModel)]="selectedOccupation"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let occupation of occupations" [value]="occupation"
                            style="text-transform:uppercase">
                            {{occupation}}
                        </option>
                    </select>
                    <br>
                    <span id="lbltitle" style="color:Red"></span>

                </div>
            </div>

            <!--<div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Country/State<font color="red">*</font>
                </label>
                <div class="col-sm-3">

                    <select id="country" name="country" class="form-control" placeholder="Select Country"
                        (change)="changeCountry($event.target.value)">
                        <option *ngFor="let count of countryList">{{count.name}} </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select id="country" name="country" class="form-control" placeholder="Select ate">
                        <option *ngFor="let city of cities">{{city}} </option>
                    </select>
                </div>
            </div>
            <br>-->



            
          
           
            
            <div  class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Message<span
                        class="text-danger">*</span></label>
                <div class="col-sm-6">
                   
                        <textarea  style="margin-top: 7px;" [(ngModel)]="message" name="message" id="message" class="form-control" rows="9"
                            cols="25" required="required" placeholder="Message"></textarea>
                    
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label col-form-label">Enter Captcha</label> 
                <div class=" col-sm-2" style=" text-align: center;">
                    <input [(ngModel)]="capt" name="capt" type="text" class="form-control"  readonly id="capt" style=" text-align: center;font-size: 30px; background-color: rgb(13, 202, 240);; color:black ;padding-right: 20px;">
                </div> 

                <div class="col-sm-2">
                    <input [(ngModel)]="textinput" name="textinput" type="text" class="form-control" id="textinput" placeholder="Enter Captcha">
                </div>

            </div>
            
            <div class="form-group">
                <!--<div class="form-group col-md-2"></div>
                <div class="form-group col-md-3">
                    <input [(ngModel)]="textinput" name="textinput" type="text" class="form-control" id="textinput" placeholder="Enter Captcha">
                </div>-->
                
                
                <label class="col-sm-4 control-label col-form-label"></label> 
                    <div class="col-sm-6">
                        <h6 style="margin-left:100px;">Captcha Not Visible <img style="width: 50px;"
                                src="assets/images/refresh 1.jpg" (click)="cap()"></h6>
                    </div>
                
            </div>


            



              
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button (click)="onSignUp()" (click)="validCap()" type="submit"  id="btnContactUs" class="btn btn-default enq_btn" style="margin-left: 215px; background-color: rgb(13, 202, 240);;">Subscribe</button>

                </div>

               
            </div>
            <p class="col-sm-14" align="center"> <span id="lblStatus" class="failureNotification"
                style="color:Red;margin-left: 100px;">All
                fields marked with * are mandatory.</span></p>


        </div>
        
    </form>


</div>

</div>