
<nav class="navbar navbar-expand-lg navbar-light ">
    <div>
      <a  href="/home"><img src="assets/images/logo3.png" alt="About us" width="60"
        height="50" style="margin-right: 5px;"></a>
      
    </div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
  
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <strong> <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a></strong>
        </li>
  <!--
        <li class="nav-item">
          <strong><a class="nav-link" href="/news">News</a></strong>
        </li>
  
        -->
        <li class="nav-item">
          <strong><a class="nav-link" href="/collborator">Collaborator</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link"  href="/education+training">Education & Training</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link"  href="/sector">Research Domains</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link"  href="/initiative_domain">Outreach Programme</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link"  href="/diplomaregister">Diploma</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link" href="/ctfregister">CTF</a></strong>
        </li>
        <!--<li class="nav-item">
          <strong><a  class="nav-link floating-menu" routerLink="/subscribe"><span class="glyphicon glyphicon-send"></span> Subscribe Us</a></strong>
        </li>-->
      </ul>
    </div>
  </nav>
