<div class="container1">

    <!-- <div class="top-right"><button style="width: 100px;font-size: large; background-color: #EEE2DC; color: #AC3B61;"
        type="button" class="btn btn-lg">Pay</button></div>-->
    <img src="assets/images/Home.jpg" alt="Snow" style="width:100%; height: 500px;">
  
    <br>
    <div class="centered">Certificate Course in Basic Blockchain
    </div>
    <div class="centered2"><button routerLink="/blockchainregister"
        style="width: 100px;font-size: large;  background-color: #EEE2DC; color: #AC3B61; margin-bottom: 10px;"
        type="button" class="btn btn-lg">Register</button></div>
  
  </div>
  <!--
  <div  style="text-align: center; background-color: #072235; color: white;">
    <a style="color: white;" href="ctfhome"> << Home</a>
  </div>
  -->
  <div style="height:60px;background: #f2b439;">
    <marquee behavior="scroll" direction="left">
     <!-- <a>
        <h1 style="margin:10px; color: black;">
          &nbsp;Registration Starts From 20 October 2021
        </h1>
      </a>-->
          <a href="/btd">
        <h1 style="margin:10px; color: black;">
          &nbsp;Click Here To Submit Your Payment Details
        </h1>
      </a>

    </marquee>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <section class="section-bottom bg-pink">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<h1 style="margin-top: 20px; color:#0B2D74  ;">
            <span class="glyphicon glyphicon-link">
  
            </span>
  
            Important Dates
          </h1>-->
  
  
  
          <!--<li style="font-size: x-large; color:#0B2D74  ;">Registration Start : 15/10/2021</li>
          <li style="font-size: x-large; color:#0B2D74  ;">Registration End : 31/10/2021</li>
          <li style="font-size: x-large; color:#0B2D74  ;"> (Common Entrance Test) CET Exam : 12/11/2021 </li>
          <li style="font-size: x-large; color:#0B2D74  ;">Result Declaration : 15/11/2021</li>-->
  
  
         
  
  
  
  
          <br>
          <br>
          <br>
  
         
  
  
  
  
  
  
  
  
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xxx-large;" class="text-blue section-title-white-border">Course Objective
  
              </h1>
  
  
            </div>
          </div>
          <p style=" color: #0B2D74 ;font-size: large; text-align: justify;" class="text-blue">
            <li>            This course provide concrete foundation in the emerging blockchain technology with acclaimed Blockchain Certification.</li>

            <li> Features the perfect mix of
                theory, case studies, and hands-on practices. </li> <li> Designed for both graduates and experienced professionals in multiple
                    industries.</li> <li>It is comprehensive blockchain program through live virtual classes, hands-on projects, and labs.</li>  
                    <li>Learners can also get mentorship sessions on capstone
                        project that provide a high-engagement learning experience and real-world applications to reinforce essential blockchain skills.</li> <li>This blockchain certification program
                            covers concepts of Cryptocurrency,Ethereum and smart
                            contracts, applications and architecture using Ethereum.</li> 
                            
          </p>
  
  
  
        </div>
        <!--<div id="circle">
                 <div id="circle1">
                     <div id="text"><a style="color: #013a79;" href="home">Register GOT </a></div>
                 </div>
                
               </div>-->
  
  
  
      </div>
      <!--<div class="section-title section-title-heading futureskills-prime bottom20">
             <br>
   
             <div class="whoisthisfor-text-container">
                 <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Government officials
                     training
   
                 </h1>
             </div>
         </div>-->
  
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
             FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
             Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
             Resource Centre for institutionalizing blended learning mechanisms in specific emerging
             technologies.
         </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
             government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
             the emerging technologies and get the internal technical manpower trained. Such training requirements would
             span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
         </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
             academia luminaries shall share best practices and techniques to help realize the potential of these
             technologies.
   
   
         </p>-->
  
  
    </div>
    <!--<div class="container">
      <div class="row">
        <div class="col-md-4">
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xxx-large;" class="text-blue section-title-white-border">Structure of the
                course
  
              </h1>
            </div>
          </div>
          <p style=" color: #0B2D74 ;font-size: large; text-align: justify;" class="text-blue">
            During this 600 hours intensive course, the experts will teach the fundamentals of cyber security,
            ethical hacking and advanced topics including malware analysis, vulnerability analysis, exploit
            mitigation and tools and techniques for Cyber Security professionals. The sessions include theory as
            well as hands-on practice sessions for the topics.
          </p>
  
  
  
        </div>
      
  
  
  
      </div>
     
  
    </div>-->
  
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xxx-large;" class="text-blue section-title-white-border">
                Course Fees
  
              </h1>
            </div>
          </div>
  
          <p style=" color: #0B2D74 ;font-size: large; text-align: justify;" class="text-blue">
            <p style=" color: #0B2D74 ;font-size: large; text-align: justify;" class="text-blue">
                 The course fee of Certificate Course in Basic Blockchain is INR 25,000/- per student plus GST as applicable (currently @ 18%). As per the Supreme Court
                guidelines the course fees are 15% waived-off considering the pandemic,so currently course fee is INR 21,250/ plus GST.
             
              
          </p>
  
  
  
        </div>
      
  
  
  
      </div>
    
  
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
               FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
               Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
               Resource Centre for institutionalizing blended learning mechanisms in specific emerging
               technologies.
           </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
               government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
               the emerging technologies and get the internal technical manpower trained. Such training requirements would
               span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
           </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
               academia luminaries shall share best practices and techniques to help realize the potential of these
               technologies.
     
     
           </p>-->
  
  
    </div>
  
  
  
    <!--<div class="container">
      <div class="row">
        <div class="col-md-4">
  
  
          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xxx-large;" class="text-blue section-title-white-border">
              Important Dates
  
            </h1>
          </div>
  
  
          <table class="table table-bordered">
            <thead >
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
               
                <th style="border:2px solid #0B2D74 ;color: #0B2D74;;text-align: center;" scope="col">EVENT</th>
                <th style="border:2px solid  #0B2D74 ;color: #0B2D74;width: 15%;"scope="col">DATE</th>
               
              </tr>
            </thead>
            <tbody>
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
               
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Beginning of  Online Registration and Application for Common Entrance Test  (CET)</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74; ">15<sup>th</sup> October 2021</td>
               
              </tr>
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
               
                <td style="border:2px solid #0B2D74 ;color: #0B2D74; ">Closing of  Online Registration & Application for CET, and Payment of Examination Fee for CET</td>
                <td style="border:2px solid #0B2D74 ;color: #0B2D74; ">31<sup>st</sup> October 2021</td>
                
              </tr>
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
                
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Conduction of Common Entrance Test</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">12<sup>th</sup> November 2021</td>
               
              </tr>
              <tr style="border:2px solid ;color: #0B2D74;">
                
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Announcement of CET Ranks (Selected + Waitlist)</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">15<sup>th</sup> November 2021</td>
               
              </tr>
              <tr style="border:2px solid black">
               
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Payment of first instalment course fee and Seat Booking (Rs. 10,000 + GST)</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;"> 16<sup>th</sup> - 20<sup>th</sup> November 2021</td>
               
              </tr>
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
               
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Last Date of Payment of Balance Course Fee</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">25<sup>th</sup> November 2021</td>
               
              </tr>
              <tr style="border:2px solid  #0B2D74 ;color: #0B2D74;">
                
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">Commencement of Diploma Course through online mode</td>
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">29<sup>th</sup> November 2021</td>
               
              </tr>
              <tr style="border:2px solid #0B2D74 ;color: #0B2D74;">
               
                <td style="border:2px solid  #0B2D74 ;color: #0B2D74;">End of Diploma Course </td>
                <td style="border:2px solid  #0B2D74;color: #0B2D74;">18<sup>th</sup> April 2022</td>
               
              </tr>
            </tbody>
          </table>
  
        
  
  
  
  
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
  
  
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xxx-large;" class="text-blue section-title-white-border">
                Placement
  
              </h1>
            </div>
          </div>
          <p style=" color: #0B2D74 ;font-size: large; text-align: justify;" class="text-blue">
            After successful completion of the course, placement assistance will be provided to the successful candidates
            from C-DAC Patna.
            The final placements at C-DAC are a culmination of systematic and continued interaction with industry and
            ongoing and enduring career counselling as well as grooming of the students by mentors and technical experts.
            For more enquires call us at 0612-2219021 or mail us at patna-placement@cdac.in
          </p>
  
  
  
        </div>
     
  
  
  
      </div>
    
  
  
    </div>
  
  
  
  
  </section>-->
  
  
  
  
  
  
  
  
  
  <section class="section-bottom bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
  
  
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xx-large; color: white;text-align: justify" class=" section-title-white-border">Who is
                this
                course for?
              </h1>
            </div>
          </div>
          <p style=" color: white ;font-size: x-large;text-align: justify">
            The Blockchain market is expected to reach USD 39.7 billion by 2025, at a growth rate of 67.3 percent. By the end of 2024, it’s expected
that corporations will spend $20 billion per year on blockchain technical services. This program is for blockchain enthusiasts with a passion for blockchain
and a basic technical background to begin career in blockchain. It will also provide deep inside to blockchain concepts and working of blockchain.
</p>
  
          <p style=" color: white ;font-size: x-large;text-align: justify">
            <br>The suitable
candidates include:
            <li> Developers
             </li>
            <li>Officials</li>
  
            <li>Business analysts</li>
            <li>Product managers</li>
            <li>Project managers</li>
            <li>Solution architects</li>
            <li>Team leads</li>
  
          </p>
  
  
          <!--   <a routerLink="/diplomaregister">
              <img
                alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
                class="img-fluid" style="height: 150px;" src="assets/images/register.png">
            </a>
  
  -->
  
  
  
  
  
  
  
  
  
  
  
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xx-large;" style="color: aliceblue; font-size:40px;text-align: justify">Duration of
                
                Course </h1>
            </div>
          </div>
          <p style=" color: aliceblue ;font-size: x-large;text-align: justify">
            Certificate Course in Basic Blockchain is a fulltime course of 200 hours .The course shall be delivered in ONLINE
            mode. Students are required to have laptops/PCs with high-speed uninterrupted internet connection, webcam and
            microphone to effectively participate in the course from their homes or personal places. It is not advisable
            to join the online classes from mobile phones.
  
  
          </p>
  
  
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: aliceblue; font-size: xx-large;"> Certificate
              </h1>
            </div>
          </div>
  
          <p style=" color:aliceblue ;font-size: x-large;">C-DAC Certificate for Basic Blockchain Course
             will be awarded to candidates after successful completion of course end examination.
  
          </p>
  
  
  
  
  
  
  
  
  
  
  
          <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img
                         alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
                         class="img-fluid" src="assets/images/who-is-this-for-banner.png">
   
   
                 </div>-->
  
  
  
  
  
  
  
  
        </div>
        <!--<div id="circle">
                 <div id="circle1">
                     <div id="text"><a style="color: #013a79;" href="home">Register GOT </a></div>
                 </div>
                
               </div>-->
  
  
  
      </div>
      <!--<div class="section-title section-title-heading futureskills-prime bottom20">
             <br>
   
             <div class="whoisthisfor-text-container">
                 <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Government officials
                     training
   
                 </h1>
             </div>
         </div>-->
  
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
             FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
             Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
             Resource Centre for institutionalizing blended learning mechanisms in specific emerging
             technologies.
         </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
             government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
             the emerging technologies and get the internal technical manpower trained. Such training requirements would
             span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
         </p>-->
      <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
             academia luminaries shall share best practices and techniques to help realize the potential of these
             technologies.
   
   
         </p>-->
  
  
    </div>
    <br>
    <br>
    <br>
  
  </section>
  
  
  
  
  
  
  
  <section class="section-bottom bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
  
  
          <!--<div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style="font-size: xxx-large;" style="color:#0B2D74; font-size:40px;">Course Fee. </h1>
            </div>
          </div>
          <p style="font-size: x-large; margin-top: 0%;color: #0B2D74;"> Fees Amount for DEHCS is very nominal looking at
            the doamin and the
            Industry Experts as traning faculty. <br>
            The total fees of the course is Rs. XX,XXX/- Plus
            GST currently 18%.
          </p>-->
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: #0B2D74;; font-size: xx-large;">Important Information
              </h1>
            </div>
          </div>
  
          <p style=" color:#0B2D74; ;font-size: x-large;text-align: justify">
            1. Seats will be allotted on first come first serve basis.
            <br>
            2. This course will be conducted twice with first batch in November 2021 followed by second batch in February 2022.
           <br>
          <i >Note : Current admission is open for November 2021 Batch.</i>
          </p>
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: #0B2D74;; font-size: xx-large;"> Eligibility Criteria
              </h1>
            </div>
          </div>
  
          <p style=" color:#0B2D74; ;font-size: x-large; text-align: justify;">
        


     
            For admission to this Blockchain certification program candidate must be Engineering Graduate
            with basic mathematical skills and Basic understanding of programming.
             
          </p>
  
  
  
       
  
  
          <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: #0B2D74;; font-size: xx-large;">Application Process
              </h1>
            </div>
          </div>
  
          <p style=" color:#0B2D74; ;font-size: x-large;text-align: justify">The application process consists of four simple steps
            <br>
          Step 1 :  Fill your details in the registration form.
          <br>
          Step 2: Upon submission of registration form you will receive the payment details on your registered email id.
          <br>
          Step 3: Upon successful full payment of the course fee, you have to submit transaction details on our portal.
          <br>
          
          Step 4: Successful submission of above details will confirm your admission.
          </p>


        
  
  
  
          <!--<div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: #0B2D74; font-size: xx-large;text-align: justify"> Prerequisite for the course –
                (Syllabus for Entrance
                Test)
              </h1>
            </div>
          </div>-->
  
  
  
          <!--<p style="font-size: x-large; margin-top: 0%;color: #0B2D74;text-align: justify">
            <li style="text-align: justify;">Fundamentals of OS: memory management, IPC, kernel architecture, process
              management, device
              management, file management, shell programming.</li>
  
            <li>Networking: OSI, TCP/IP, socket programming, server messaging block, application and ports, TLS/SSL,
              Firewalls, UTM, routing protocols, core/edge routers, IPv4/v6.</li>
  
  
            <li>Data Structures</li>
  
            <li>C Programming</li>
  
            <li>Python Programming</li>
  
          </p>-->
  
  
  
  
  
  
          <!--<div class="section-title section-title-heading futureskills-prime bottom20">
            <br>
  
            <div class="whoisthisfor-text-container">
              <h1 style=" color: #0B2D74; font-size: xxx-large;text-align: justify"> Course Outcome
              </h1>
            </div>
          </div>-->
  
          <!--<p style=" color:#0B2D74; font-size: x-large;text-align: justify">
  
            <li>
              System Administrator</li>
  
            <li>Network Security Professional</li>
  
            <li>Web Security Tester</li>
  
            <li>Security Analyst</li>
  
  
            <li> Security Engineer</li>
  
            <li> Pen Tester</li>
  
  
  
          </p>-->
  
  
  
  
  
  
  
        </div>
  
  
  
      </div>
  
  
  
    </div>
  
  
  </section>
  
  
  
  <!--
  <div class="footer">
  
  
  
    <p style="font-size:15px;" class="presskitlinks"><span class="copyrights"> &#169;2021 C-DAC. All rights
        reserved.</span></p>
    <p style="font-size:15px;">Website Owned &amp; Maintained by: Centre for Development of Advanced Computing (C-DAC)
      Patna
    </p>
    <p style="font-size:15px;">C-DAC 14th Floor ,Biscomaun Tower, West Gandhi Maidan, Patna - 800001, Bihar (India)
      Phone: +91-612-2219021</p>
  
  </div>
  
  -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--
   
   <body>
     <div>
       <div class="row">
   
         <div class="col-lg-9">
           <div class="card">
             <div class="card-body p-4 p-lg-5 text-black">
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
               <p>text goes here</p>
   
   
             </div>
           </div>
         </div>
   
         <div class="col-lg-3 ">
   
           <div class="card-body p-4 p-lg-5 ">
             <a routerLink="/subscribe">
               <img src="/assets/images/reg4.png">
               <br>
               <br><br>
             </a>
             <a class="btn btn-success">Pay now</a>
           </div>
   
         </div>
   
       </div>
       <div class="footer">
   
   
   
         <p style="font-size:15px;" class="presskitlinks"><span class="copyrights"> &#169;2021 C-DAC. All rights
             reserved.</span></p>
         <p style="font-size:15px;">Website Owned &amp; Maintained by: Centre for Development of Advanced Computing (C-DAC)
           Patna
         </p>
         <p style="font-size:15px;">C-DAC 14th Floor ,Biscomaun Tower, West Gandhi Maidan, Patna - 800001, Bihar (India)
           Phone: +91-612-2219021</p>
   
       </div>
     </div>
   </body>
   
   -->
  
  
  
  
  
  
  
  
  
  <!--
   
   <body class="body-wrapper version2">
   
   
     <div class="main_wrapper">
   
       <header class="header-wrapper header-v2" style="height: 148px;">
   
       </header>
       <section id="Program-Banner-section" class="open">
         <div class="main-content">
           <div class="container clearfix">
             <div class="col-sm-6" style="padding:0px">
               <img src="https://meghsikshak.in/chariot/images/chariot/banner2.jpg">
             </div>
             <div class="col-sm-6" style="padding:0px">
   
   
               <div id="myCarousel" class="carousel slide" data-ride="carousel"
                 style="background-color: #2cabe2;padding: 10%;height:522px">
   
                 <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                   <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                   <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                 </ol>
   
   
                 <div class="carousel-inner">
                   <div class="item">
                     <div class="pic">
                       <img src="https://meghsikshak.in/chariot/images/chariot/banner2.jpg">
                     </div>
                     <h3 class="testimonial-title">
                       Krishnakanth G<br><small style="color:white">Embedded Software Engineer,</small><br><small
                         style="color:white">Visteon Corporation</small>
                     </h3>
                     <p class="description" style="text-align: center">I would like to express my thanks to the entire team
                       for organizing such a wonderful course on Hardware. The course contents helps me to understand the
                       schematics easily and do my work without much issues.</p>
                   </div>
   
                   <div class="item">
                     <div class="pic">
                       <img src="https://meghsikshak.in/chariot/images/chariot/banner2.jpg">
                     </div>
                     <h3 class="testimonial-title">
                       Archisman Shekhar<br><small style="color:white">Student,</small><br><small style="color:white">SJB
                         Institute of Technology</small>
                     </h3>
                     <p class="description" style="text-align: center">I always appreciate the role of C-DAC in upskilling
                       the students talent. In the time of this pandemic C-DAC Mentor course was a great help for me to
                       learn new things. It's student friendly course benefit students to a great extent. Thanks for coming
                       up with such ideas.</p>
                   </div>
   
                   <div class="item active">
                     <div class="pic">
                       <img src="https://meghsikshak.in/chariot/images/chariot/banner2.jpg">
                     </div>
                     <h3 class="testimonial-title">
                       Bharadwaj Tirumala<br><small style="color:white">Senior Technical Assistant,</small><br><small
                         style="color:white">Indian Institute of Geomagnetism</small>
                     </h3>
                     <p class="description" style="text-align: center">What I liked most about the course was that the
                       attention was given to the individual participant in the form of one-on-one online sessions for
                       clarifying doubts. I thank C-DAC for offering this course and I look forward to joining such courses
                       from C-DAC in the future.</p>
                   </div>
   
                   <div class="item">
                     <div class="pic">
                       <img src="https://meghsikshak.in/chariot/images/chariot/banner2.jpg">
                     </div>
                     <h3 class="testimonial-title">
                       Gayatri<br><small style="color:white">Student (CSE),</small><br><small style="color:white">BVRIT
                         HYDERABAD College of Engineering for Women</small>
                     </h3>
                     <p class="description">I would like to thank you for your tremendous support. Your course is
                       challenging and fruitful.</p>
                   </div>
                 </div>
   
               </div>
   
   
             </div>
           </div>
         </div>
         <br>
         <img src="/chariot/images/cute-hr.png" alt="" height="10" width="100%" style="padding-top: 5px">
   
       </section>
   
       <section id="Program-Highlights-section" class="">
         <div class="container">
           <div class="padding clearfix">
             <div class="page-section-heading ">
               <h2 class="text-display-1" style="text-align: center;"><u>Program Highlights</u></h2>
             </div>
             <br>
             <div class="row">
   
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f1.png" class="featureImg"><br>Online Sessions
                   by R&amp;D Expert</h5>
               </div>
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f2.png" class="featureImg"><br>Insight into
                   end-to-end Project Lifecycle</h5>
               </div>
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f3.png" class="featureImg"><br>Exposure to
                   industry standards and processes</h5>
               </div>
   
             </div>
             <br>
             <div class="row">
   
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f4.png" class="featureImg"><br>100+ hours of
                   Practical and Application Oriented Learning</h5>
               </div>
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f5.png" class="featureImg"><br>Need based Live
                   Interactions with Course Facilitators</h5>
               </div>
               <div class="col-sm-4">
                 <h5><img src="https://meghsikshak.in/chariot/images/chariot/f6.png" class="featureImg"><br>Certificates
                   <br>Course Completion Certificate on Successful Completion <br>C-DAC Certified Professional on
                   Successful Evaluation</h5>
               </div>
   
             </div>
           </div>
           <img src="/chariot/images/cute-hr.png" alt="" height="10" width="100%" style="padding-top: 5px">
         </div>
       </section>
       <section id="Certificate-section" class="">
         <div class="main-content">
           <div class="container ">
             <div class="clearfix">
               <div class="page-section-heading">
                 <br>
                 <h2 class="text-display-1" style="text-align: center;"><u>Certificate</u></h2>
               </div>
               <br>
               <div class="col-sm-6" style="text-align: center">
                 <img src="https://meghsikshak.in/chariot/help/cert1.PNG" alt="Certificate" width="570px" height="380px">
                 <i class="myIcon fa fa-certificate fa-3x" style="color: #00A8FF;" aria-hidden="true"></i>&nbsp;
                 <strong>C-DAC Course Completion Certificate</strong>
               </div>
               <div class="col-sm-6" style="text-align: center">
                 <img src="https://meghsikshak.in/chariot/help/cert3.jpeg" alt="Certificate" width="570px" height="380px">
                 <i class="myIcon fa fa-certificate fa-3x" style="color: #bb8740;" aria-hidden="true"></i>&nbsp;
                 <strong>C-DAC Certificate Professional</strong>
               </div>
             </div>
           </div>
           <img src="/chariot/images/cute-hr.png" alt="" height="10" width="100%" style="padding-top: 5px">
         </div>
       </section>
   
       <section id="Courses-Offered-section" class="">
         <div class="container">
           <div class="clearfix">
             <div class="page-section-heading">
               <br>
               <h2 class="text-display-1" style="text-align: center;"><u>Courses Offered</u></h2>
             </div>
             <br>
             <div class="row">
               <div class="col-sm-4 col-xs-12 col-md-4">
                 <div>
                   <div class="productImage clearfix">
                     <video width="100%" height="280" controls="" controlslist="nodownload"
                       poster="/chariot/images/chariot/BLEND.png">
                       <source src="/chariot/video/BLEND_New.mp4" type="video/mp4">
                     </video>
                   </div>
                   <div class="productCaption clearfix">
                     <h3><a href="/chariot/jsp/chariot/courses/Blend.jsp"><span>BL</span>ockchain t<span>E</span>chnology
                         and applicatio<span>N D</span>evelopment <span>(BLEND)<br></span></a></h3>
                     <br>
                     <div class="caption-bottom">
                       <div class="price">
                         <span class="sticker" style="color:black;"><i class="fa fa-clock-o" aria-hidden="true"></i> 2
                           Months</span>
                       </div>
                       <div class="price">
                         <span><a href="/chariot/jsp/chariot/courses/Blend.jsp" style="color:orange">Know More</a></span>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
   
   
               <div class="col-sm-4 col-xs-12 col-md-4">
                 <div>
                   <div class="productImage clearfix">
                     <video width="100%" height="280" controls="" controlslist="nodownload"
                       poster="/chariot/images/chariot/HANDSON.png" style="object-fit: unset;">
                       <source src="/chariot/video/HANDSON_New.mp4" type="video/mp4">
                     </video>
                   </div>
                   <div class="productCaption clearfix">
                     <h3><a href="/chariot/jsp/chariot/courses/Hands-on.jsp"><span>HA</span>rdware desig<span>N</span>
                         &amp; <span>D</span>evelopment for embedded <span>S</span>ystems and
                         internet <span>O</span>f thi<span>N</span>gs <span>(HANDS-ON)</span></a></h3>
                     <br>
                     <div class="caption-bottom">
                       <div class="price">
                         <span class="sticker" style="color:black;"><i class="fa fa-clock-o" aria-hidden="true"></i> 2
                           Months</span>
                       </div>
                       <div class="price">
                         <span><a href="/chariot/jsp/chariot/courses/Hands-on.jsp" style="color:green">Know More</a></span>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
   
               <div class="col-sm-4 col-xs-12 col-md-4">
                 <div>
                   <div class="productImage clearfix">
                     <video width="100%" height="280" controls="" controlslist="nodownload"
                       poster="/chariot/images/chariot/Mentor.png" style="object-fit:fill">
                       <source src="/chariot/video/MENTOR_Updated.mp4" type="video/mp4">
                     </video>
   
                   </div>
                   <div class="productCaption clearfix">
                     <h3><a href="/chariot/jsp/chariot/courses/Mentor.jsp"
                         style="text-align: justify;"><span>M</span>ultilingual crossplatform mobile app
                         d<span>E</span>velopme<span>NT</span> using
                         react native framew<span>OR</span>k and firebase <span>(MENTOR)</span></a></h3>
                     <div class="caption-bottom">
                       <div class="price">
                         <span class="sticker" style="color:black;"><i class="fa fa-clock-o" aria-hidden="true"></i> 2
                           Months</span>
                       </div>
                       <div class="price">
                         <span><a href="/chariot/jsp/chariot/courses/Mentor.jsp" style="color:#0093ff">Know More</a></span>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <br>
   
             <span style="font-size:14px"><i class="myIcon fa fa-graduation-cap fa-1x" style="color: #00A8FF;"
                 aria-hidden="true"></i>Students/Working Professionals of CSE, IT, Electronics and other equivalent
               disciplines<span>
               </span></span>
           </div>
           <img src="/chariot/images/cute-hr.png" alt="" height="10" width="100%" style="padding-top: 5px">
         </div>
       </section>
       <section id="Program-Cycle-section" class="">
         <div class="main-content">
           <div class="container ">
             <div class="clearfix" style="padding: 65px 0px">
               <div class="page-section-heading">
                 <h2 class="text-display-1" style="text-align: center;"><u>Process Flow</u></h2>
               </div>
               <br>
               <div class="row">
                 <div class="col-sm-12 col-md-6">
                   <img src="https://meghsikshak.in/chariot/images/chariot/program%20cycle.png" alt=""
                     class="img-responsive" style="width:80%"><br>
                 </div>
                 <div class="col-sm-12 col-md-6" style="margin-top:4%;font-size: revert;">
                   <div class="row">
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#36a190">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">1</strong>
                       </span>
                       <strong>Join us:</strong>
                       <br>
                       <span>Register for the interested course(s)</span>
                     </div>
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#7b2287">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">2</strong>
                       </span>
                       <strong>Essentials Module:</strong>
                       <br>
                       <span>Before beginning the main course, prepare yourself with pre-requisites</span>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#008bd3">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">3</strong>
                       </span>
                       <strong>Get Going:</strong>
                       <br>
                       <span>Access the content resources and complete all the modules</span>
                     </div>
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#f3673a">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">4</strong>
                       </span>
                       <strong>Completion Certificate:</strong>
                       <br>
                       <span>Complete the topic wise assignments and get your course completion certificate</span>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#ee3654">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">5</strong>
                       </span>
                       <strong>Pick a slot:</strong>
                       <br>
                       <span>Book a slot and undergo the assessment</span>
                     </div>
                     <div class="col-sm-6" style="padding: 15px 15px;">
                       <span class="fa-stack" style="color:#495e6e">
                         <span class="fa fa-circle-o fa-stack-2x"></span>
                         <strong class="fa-stack-1x">6</strong>
                       </span>
                       <strong>C-DAC Certified Professional:</strong>
                       <br>
                       <span>On successful completion of the assessment, become C-DAC Certified Professional</span>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <img src="/chariot/images/cute-hr.png" alt="" height="10" width="100%" style="padding-top: 5px">
         </div>
       </section>
   
       <section id="faqs-section" class="">
         <div class="main-content">
           <div class="container ">
             <div class="clearfix" style="padding: 65px 0px">
               <div class="page-section-heading">
                 <br>
                 <h2 class="text-display-1" style="text-align: center;"><u>Frequently Asked Questions (FAQs)</u></h2>
               </div>
               <br>
               <div class="row">
   
   
   
   
   
                 <script>
                   function myFunction(eid) {
                     refresh();
                     var ele = document.getElementById(eid);
                     ele.style.color = "#0A81FF";
                     ele.scrollIntoView();
                   }
                   function refresh() {
                     for (let i = 1; i <= 20; i++) {
                       document.getElementById("Q" + i).style.color = "black";
                     }
                   }
                   $(document).ready(function () {
                     $("#up").click(function () {
                       $('html, body').animate({
                         scrollTop: $('body').position().top = 10
                       });
                     });
                   });
                 </script>
   
   
   
                 <div class="row" style="margin: 10px;">
                   <div class="col-sm-12">
   
                     <p id="Q1" class="MsoNormal" style="margin-bottom:7.5pt;"><b><span style="font-size: 14pt; ">1. What
                           is the USP or benefits of enrolling in the courses?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">C-DAC's industry skilling courses are designed, developed and mentored by
                         R&amp;D experts who have vast experience in implementing real-time projects. These courses deliver
                         an insight into end-to-end project life cycle as per industry standards and processes.</span></p>
   
                     <p id="Q2" class="MsoNormal" style="margin-bottom:7.5pt;"><b><span style="font-size: 14pt; ">2. Who is
                           eligible for enrolling in the courses?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Anyone who has passion and interest towards hardware/ software
                         development can enroll in the related courses. Candidates from Electronics, Electrical,
                         Instrumentation, Computer Science, Information Technology or from any equivalent discipline can
                         enroll.</span></p>
   
   
                     <p id="Q3" class="MsoNormal" style="margin-bottom:7.5pt;"><b><span style="font-size: 14pt; ">3. Do I
                           need to read anything before I attend the course?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
   
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. All enrolled users are expected to go through an essential module
                         provided as part of the course.</span></p>
   
                     <p id="Q4" class="MsoNormal" style="margin-bottom:7.5pt;"><b><span style="font-size: 14pt; ">4. What
                           is the duration of the course?</span></b><span style="font-size: 10.5pt;"></span></p>
   
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">It's a 2 months course. However, enrolled users can access course
                         material anytime within 4 months from the course commencement date.</span></p>
   
                     <p id="Q5" class="MsoNormal" style="margin-bottom:7.5pt;line-height:15.0pt"><b><span
                           style="font-size: 14pt; ">5. Is registering to the platform enough for accessing online
                           courses?</span></b></p>
   
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">No. User registration is a one time process. All registered users need to
                         login and enroll to the course by paying the prescribed course fee. Only paid enrolled users will
                         be allowed to access course material.</span></p>
   
                     <p id="Q6" class="MsoNormal" style="margin-bottom:7.5pt;"><b><span style="font-size: 14pt; ">6. How do
                           I enroll to the courses?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">After successful registration, users can login and enroll to the course
                         by paying the prescribed course fee.</span></p>
   
                     <blockquote
                       style="text-align:justify;line-height:normal;background-color: white;border-left: 5px solid #ff6600">
                       <span style="font-size:13.0pt;font-family:Arial,sans-serif;color:black"><b>Steps</b>
                         User Registration -&gt;Course Enrollment by Paying Course Fee -&gt; Access Course Material</span>
                     </blockquote>
                     <p id="Q7" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">7. Can user enroll to multiple courses?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. However, you need to pay the course fee for all enrolled courses
                         separately.</span></p>
                     <p id="Q8" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">8. What are different modes of payment?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">All payments are online and are enabled with multiple options. You can
                         enroll in the courses by paying course fee using Credit Card/Debit Card/UPI/Internet Banking
                         options.</span></p>
                     <p id="Q9" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">9. How will the course will be delivered?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Enrolled users can access course material using C-DAC's e-learning
                         platform. All recorded session videos will be available for reference.</span></p>
                     <p id="Q10" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">10. Are the lessons LIVE or pre recorded?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">All video lessons are pre-recorded and will be available 24x7 and can be
                         watched as many times as you like. You can access course material any time during course duration
                         (4 months) and complete the course at your own pace.</span></p>
                     <p id="Q11" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">11. How can I access course material?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">All courses are available online on C-DAC's e-learning platform and
                         recommended to use the latest versions of Google Chrome or Mozilla Firefox web browsers.</span>
                     </p>
                     <p id="Q12" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">12. Does this course cover practicals?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. After theory sessions are over, practical lab exercises would be
                         posted for enforcing the concepts learnt in the theory sessions.</span></p>
                     <p id="Q13" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">13. Is there any programming involved?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. MENTOR and BLEND courses have programming as part of the
                         course.</span></p>
                     <p id="Q14" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">14. Is there a fixed time frame for completing the
                           course?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. Though the course duration is 2 months, flexibility will be provided
                         to enrolled users to complete the course at their own pace within 4 months from course
                         commencement date.</span></p>
                     <p id="Q15" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">15. Whether course completion certificates will be
                           issued?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. After undergoing industry skilling course and clearing course end
                         exam, certification of completion will be given to all enrolled users.</span></p>
                     <p id="Q16" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">16. What if I fail in course end exam?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Each enrolled user will be given two opportunities to clear course end
                         exam.</span></p>
                     <p id="Q18" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">17. Is there a refund of course fee in case if any enrolled user
                           couldn't take up the course?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">No. There is no refund policy.</span></p>
                     <p id="Q19" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">18. Can someone else attend the course in my place?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">No. Course completion certificate will be issued on enrolled user’s name
                         only.</span></p>
                     <p id="Q20" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">19. What are the tentative dates of course start (beginning date of
                           trainings) &amp; Deadline for application?</span></b><span style="font-size: 10.5pt;"></span>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">The courses are open for registration throughout the year. From the date
                         of enrollment students have access to the course material for a period of 4 months</span></p>
                     <p id="Q21" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">20. What is the difference between Individual and corporate user
                           registration?</span></b><span style="font-size: 10.5pt;">></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;"><b>Corporate User:</b> A company/institution which desires to train their
                         employees using these courses is termed as corporate user<br><b>Individual User:</b>
                         Students/working professionals who would like to take these courses in their individual
                         capacity</span></p>
                     <p id="Q22" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">21. What is the difference between certificates?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">1. All enrolled users (Paid course access fee) are eligible to receive
                         Course Participation certificate on completion of course duration and is autogenerated by CHARIOT
                         platform.<br> 2. To receive the C-DAC Certified Professional Certificate, a learner has to opt for
                         certification (By paying the certification fee of Rs 2000) besides the course access fee. A
                         quantitative assessment (2 attempts per learner) of learner skills through an online examination
                         will be taken up for certification process</span></p>
                     <p id="Q23" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">22. How do we get technical query doubts resolved?</span></b><span
                         style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">The following options are made available to post your doubts for experts
                         to answer:<br>
                         1. Write to respective course instructor email ids<br>
                         &nbsp;&nbsp;a. BLEND course: <strong>blend@cdac.in</strong><br>
                         &nbsp;&nbsp;b. MENTOR course: <strong>mentor@cdac.in</strong><br>
                         &nbsp;&nbsp;c. HANDS-ON course: <strong>handson@cdac.in</strong><br>
                         2. Post the queries in discussion forum of the respective courses
                       </span></p>
                     <p id="Q24" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">23. Can we take a break in-between the course, if exams are
                           there?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Yes. From the date of enrollment students have access to the course
                         material for a period of 4 months</span></p>
                     <p id="Q25" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">24. Is it possible to switch from one course to another after the
                           course commencement?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">Not possible</span></p>
   
                     <p id="Q26" class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;"><b><span
                           style="font-size: 14pt; ">25. I have some other questions not listed as part of the FAQ. Whom
                           should I contact?</span></b><span style="font-size: 10.5pt;"></span></p>
                     <p class="MsoNormal" style="margin-bottom:7.5pt;text-align:justify;line-height:15.0pt"><span
                         style="font-size: 12pt;">All course related and user queries can be posted to
                         <strong>chariot@cdac.in</strong></span></p>
   
                   </div>
                 </div>
                 <div class="box1" style="position:fixed;z-index:10000000;top: 91%;right: 10%;border-radius: 25px">
                   <button class="btn btn-default" style="border-radius: 25px;" id="up"><i
                       class="glyphicon glyphicon-arrow-up"></i></button>
                 </div>
   
               </div>
             </div>
           </div>
         </div>
       </section>
     </div>
     <footer style="background-color:powderblue; width:100%;text-align: center">
       <div class="text-center py-3">
         <p style="color:black">© 2021 C-DAC Hyderabad</p>
         <p>Best viewed in latest versions of Google chrome &amp; Mozilla Firefox browsers</p>
       </div>
     </footer>
   
   
     <script>
       $(window).load(function () {
         $('.version2 ').each(function () {
           var header_area = $('.header-v2');
           var main_area = header_area.children('.header');
   
           var logo = main_area.find('.navbar-header');
           var navigation = main_area.find('.navbar-collapse');
           var original = {
             nav_top: navigation.css('margin-top')
           };
   
           $(window).scroll(function () {
             if (main_area.hasClass('bb-fixed-header') && ($(this).scrollTop() === 0)) {
               main_area.removeClass('bb-fixed-header').appendTo(header_area);
               navigation.animate({ 'margin-top': original.nav_top }, {
                 duration: 300, queue: false, complete: function () {
                   header_area.css('height', 'auto');
                 }
               });
             } else if (!main_area.hasClass('bb-fixed-header') && $(this).width() > 250 &&
               $(this).scrollTop() > header_area.offset().top + header_area.height() - parseInt($('html').css('margin-top'), 10)) {
               header_area.css('height', header_area.height());
               main_area.css({ 'opacity': '0' }).addClass('bb-fixed-header');
               main_area.appendTo($('body')).animate({ 'opacity': 1 });
               navigation.css({ 'margin-top': '0px' });
             }
           });
         });
   
         $(window).trigger('resize');
         $(window).trigger('scroll');
       });
   
       $('#menubar ul li a').on('click', function (event) {
         var $anchor = $(this);
         $('html, body').animate({
           scrollTop: $($anchor.attr('href')).offset().top - 100 + "px"
         }, 500);
         event.preventDefault();
       });
   
   
       $(document).ready(function () {
         "use strict";
   
         $('ul.navbar-nav > li').click(function (e) {
           e.preventDefault();
           $('ul.navbar-nav > li').removeClass('active');
           $(this).addClass('active');
         });
         $('.navbar-collapse a').click(function () {
           $(".navbar-collapse").collapse('hide');
         });
       });
   
     </script>
     <form style="display: none" action="#" method="post" id="loginForm">
       <input type="hidden" id="realm" name="realm" value="user">
       <input type="hidden" id="AuthenticType" name="AuthenticType">
       <input type="hidden" id="operation" name="operation">
     </form>
   
   
   
   
     <div class="header clearfix bb-fixed-header" style="opacity: 1;">
       <div class="navbar-header" style="color:#fff">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar"
           aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
   
       <div id="navbar1" class="topbar clearfix" style="background-color: #052a44;">
         <div class="container">
           <ul class="topbar-left">
             <li class="phoneNo"><img src="/chariot/images/chariot/whatsapp.png"> <a
                 href="https://wa.me/919182561076">+919182561076</a></li>
             <li class="email-id hidden-xs hidden-sm"><i class="fa fa-envelope"></i>
               <a href="mailto:chariot@cdac.in">chariot[at]cdac[dot]in</a>
             </li>
           </ul>
           <ul class="topbar-right">
             <li>
               <a onclick="getToThisPage('login');" href="#">Login</a><span> | </span>
               <a onclick="getToThisPage('register');" href="#">Register</a>
             </li>
           </ul>
         </div>
       </div>
       <nav id="navbar2" class="navbar navbar-main navbar-default">
         <div class="container">
           <div class="row">
             <marquee style="color:red" scrollamount="3">** Registrations are open. click on "Register" button to see the
               registration options ** </marquee>
             <div class="col-xs-12">
               <div id="menubar" class="collapse navbar-collapse" style="margin-top: 0px;" aria-expanded="false">
                 <ul class="nav navbar-nav navbar-right">
                   <li class="active">
                     <a href="#Program-Banner-section" class="nav-item active" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="true" style="padding:0px">
                       <img src="/chariot/images/chariot/chariot.png" alt="" class="img-responsive" width="150px">
                     </a>
                   </li>
                   <li class="">
                     <a href="#Program-Highlights-section" class="nav-item active" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Program Highlights</a>
                   </li>
                   <li class="">
                     <a href="#Certificate-section" class="nav-item active" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Certificate</a>
                   </li>
                   <li class="">
                     <a href="#Courses-Offered-section" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Courses Offered</a>
                   </li>
                   <li class="">
                     <a href="#Program-Cycle-section" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Process Flow</a>
                   </li>
                   <li class="">
                     <a href="#faqs-section" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">FAQs</a>
                   </li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </nav>
     </div>
   </body>
   -->
