






.section-bottom {
    padding-bottom: 0px;
  }
  .bg-blue {
    background: #003a79;
  }
  
  .bg-gray{
    background: #EEE2DC;
  }
  
  section {
    display: block;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .digital-oppurtunity-image {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -51vw;
  }
  
  .w-100 {
    width: 100%!important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-container {
    margin-top: 0px;
  }
  }*/
  
  .ml-auto, .mx-auto {
    margin-left: auto!important;
  }
  
  .col-12 {
   
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  /*col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }*/
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-text-container {
    margin-top: 0px;
  }
  }*/
  
  .bottom60 {
    margin-bottom: 60px;
  }
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  
  .section-title h1 {
    font-size: 2rem;
  }
  
  .section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
   
    margin-bottom: 0px;
  }
  .text-white {
    color: #ffffff!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  
  }
  h1 {
    display: block;
   
    font-weight: bold;
  }
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-row {
    margin-top: 0px;
    padding-left: 20px;
  }}*/
  
  .justify-content-center {
    
    justify-content: center!important;
  }
  /*.row {
    
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }*/
  
  .col-1, .col-10, .col-11, .col-12, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  .digital-oppurtunity-col img {
    margin-bottom: 20px;
    min-height: 100px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  
  .img {
    vertical-align: middle;
    border-style: none;
  }
  
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  .text-yellow {
    color: #FFC525!important;
  }
  
  .h2, h2 {
    font-size: 2rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    
    margin-bottom: .5rem;
  }
  h2 {
    display: block;
  
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
  }
  .text-white {
    color: #ffffff!important;
  }
  p {
    line-height: 1.5;
  }
  p {
    margin: 0 0 15px 0;
  }
  
  .bottom20 {
    margin-bottom: 20px;
  }
  .col-12 {
    
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .digital-oppurtunity-col img {
    margin-bottom: 20px;
    min-height: 100px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  .text-yellow {
    color: #FFC525!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .h2, h2 {
    font-size: 2rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  
  .bg-pink {
    background: #EEE2DC;
  }
  .text-blue {
    color: #0B2D74!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  
  .text-blue {
    color: #0B2D74;
  }
  p {
    line-height: 1.5;
  }
  p {
    margin: 0 0 15px 0;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  
  #circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #circle {
    position: relative;
    background-color: #7560e1;
    margin: 10px auto;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    
  }
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0B2D74;
    font-size: 30px;
  }
  
  #circle1{
    position: relative;
    background-color: #fff;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 200px ;
  }
  
  
  
  .banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
  }
  
  .text-center {
    text-align: center;
  }
  
  
  .banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
  }
  
  .breadcrumb {
    padding: 8px 15px;
  }
  
  ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
  }
  
  .banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
  }
  
  a, a:hover {
    text-decoration: none;
  }
  a {
    background-color: transparent;
  }
  
  .banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
  }
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
  }
  
  
  
  .banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  
  .sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
  }
  
  
  
  
  .container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 50px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: xx-large;
  }
  
  
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 45px;
    margin-bottom: 6px;
  
    
  }
  
  
  .centered1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  
  }
  
  .centered2{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*
  
  .item{
      text-align: center;               
    }
    .item .pic{
      width: 215px;
      height: 215px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .item .pic img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .item .testimonial-title{
      display: inline-block;
      font-size: 22px;
      font-weight: 600;
      color: #0c4767;
      margin: 0 0 0 0;
    }
    .item .testimonial-title small{
      font-size: 15px;
      font-weight: 600;
      color: #787878;
    }
    .item .description{
      font-size: 14px;        
      line-height: 27px;
      position: relative;
      margin: 0;
      background-color: #fff;
      border: 5px solid #3a526e;
      border-radius: 2%;
    }   
    
    
    
    .flex-container a:hover,
    .flex-slider a:hover {
      outline: none;
    }
    .slides,
    .slides > li,
    .flex-control-nav,
    .flex-direction-nav {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .flex-pauseplay span {
      text-transform: capitalize;
    }
   
   
   
    .flexslider {
      margin: 0;
      padding: 0;
    }
    .flexslider .slides > li {
      display: none;
      
    }
    .flexslider .slides img {
      width: 100%;
      display: block;
    }
    .flexslider .slides:after {
      content: "\0020";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    html[xmlns] .flexslider .slides {
      display: block;
    }
    * html .flexslider .slides {
      height: 1%;
    }
    .no-js .flexslider .slides > li:first-child {
      display: block;
    }
   
     .flexslider {
      margin: 0 0 60px;
      background: #fff;
      border: 4px solid #fff;
      position: relative;
      zoom: 1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .flexslider .slides {
      zoom: 1;
    }
    .flexslider .slides img {
      height: auto;
      
    }
    .flex-viewport {
      max-height: 2000px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    .loading .flex-viewport {
      max-height: 300px;
    }
    .carousel li {
      margin-right: 5px;
    }
    .flex-direction-nav {
      *height: 0;
    }
    .flex-direction-nav a {
      text-decoration: none;
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .flex-direction-nav a:before {
      font-family: "flexslider-icon";
      font-size: 40px;
      display: inline-block;
      content: '\f001';
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    }
    .flex-direction-nav a.flex-next:before {
      content: '\f002';
    }
    .flex-direction-nav .flex-prev {
      left: -50px;
    }
    .flex-direction-nav .flex-next {
      right: -50px;
      text-align: right;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
      opacity: 0.7;
      left: 10px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
      opacity: 0.7;
      right: 10px;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
      opacity: 1;
    }
    .flex-direction-nav .flex-disabled {
      opacity: 0!important;
      filter: alpha(opacity=0);
      cursor: default;
      z-index: -1;
    }
    .flex-pauseplay a {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 5px;
      left: 10px;
      opacity: 0.8;
      z-index: 10;
      overflow: hidden;
      cursor: pointer;
      color: #000;
    }
    .flex-pauseplay a:before {
      font-family: "flexslider-icon";
      font-size: 20px;
      display: inline-block;
      content: '\f004';
    }
    .flex-pauseplay a:hover {
      opacity: 1;
    }
    .flex-pauseplay a.flex-play:before {
      content: '\f003';
    }
    .flex-control-nav {
      width: 100%;
      position: absolute;
      bottom: -40px;
      text-align: center;
    }
    .flex-control-nav li {
      margin: 0 6px;
      display: inline-block;
      zoom: 1;
      *display: inline;
    }
    .flex-control-paging li a {
      width: 11px;
      height: 11px;
      display: block;
      background: #666;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      text-indent: -9999px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    .flex-control-paging li a:hover {
      background: #333;
      background: rgba(0, 0, 0, 0.7);
    }
    .flex-control-paging li a.flex-active {
      background: #000;
      background: rgba(0, 0, 0, 0.9);
      cursor: default;
    }
    .flex-control-thumbs {
      margin: 5px 0 0;
      position: static;
      overflow: hidden;
    }
    .flex-control-thumbs li {
      width: 25%;
      float: left;
      margin: 0;
    }
    .flex-control-thumbs img {
      width: 100%;
      height: auto;
      display: block;
      opacity: .7;
      cursor: pointer;
    
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    .flex-control-thumbs img:hover {
      opacity: 1;
    }
    .flex-control-thumbs .flex-active {
      opacity: 1;
      cursor: default;
    }
   
     @media screen and (max-width: 860px) {
      .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
      }
      .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
      }
    }
    
    .box{
      -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,1);
      box-shadow: 0px 0px 17px -2px rgba(0,0,0,1);
    
    }
    
    .box1{
      -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
      box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    
    }
    .box2{
      -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
      box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
    
    }
    
    .pointer
    {
      cursor: pointer;
    }
    
    
    
    
    
    
    
    
    
    
  
  
  
  
  
  
  
  
  .card,body {
      background:  linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));;
   
  
  }
  
  .footer {
      clear: both;
      border: 1px groove #aaaaaa;
      background: #343a40;
      color: White;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
      line-height: normal;
      margin: 0;
    
      bottom: 0px;
      width: 100%;
      }
  
  
  
  */
  
  
  
  
  .footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background: #343a40;
    color: White;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
  
    bottom: 0px;
    width: 100%;
    }
  
  
  
  