<div id="minHeightDiv" style="min-height: 480px;">
  <section>
    <div class="banner-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h6 style="margin-top:3px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
              Webinar <br> On Expert Guidance & Career Opportunities On Emerging Technologies</h6>
            <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
            <div class="text-center">
              <ol class="breadcrumb">
                <!--<li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home"></a></li>
							  <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"></li>-->
              </ol>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <br>




  <div style="height:60px;background: #f2b439; margin-top: 10px;">
    <marquee behavior="scroll" direction="left">
      <a routerLink="/career_talk">
        <h2 style="margin:10px; color: black;">The webinar link will be available on 14 <sup>th</sup> July 2021 </h2>
      </a>
    </marquee>
  </div>



<div class="container" style="margin-top: 10px; ">
    <div class="row">
       
        <div class="col-md-8 col-xs-12">
            <img src="assets/images/cdac-p.png" alt="Girl in a jacket" width="100% " height="1000px" style="margin-top: 90PX;">
        </div>
        <div st class="col-md-4 ">
          <!--<div class="card" style="width: 20rem; background-color:cornflowerblue; margin-top: 50px;">-->
          <!--<img src="assets/images/googlemeet.png" class="card-img-top" alt="..." style="height: 120px;">-->
          <!-- <div class="card-body">-->
          <!--<h4 style="color: black; margin-top: 4px;" class="card-title"> The link will be available on 14 <sup>th</sup> July 2021</h4>-->
          <p class="card-text"></p>
          <!--<button type="button" class="btn btn-primary">Details</button>-->
  
          <!--</div>-->
          <!--</div>-->
  
          <!--<button  style="width: 500px; margin-top: 100px; background:#0a95a0; font-size: larger;" type="button" (click)="btnClick();" class="btn btn-primary" >Register</button>-->
          <a href="https://patna.cdac.in/registration_for_career" target="_blank">
            <img src="assets/images/reg4.png" class="card-img-top" alt="..."
              style=" margin-left:20px; margin-top: 70px; height: 145px; width: 300px;">
          </a>
        </div>

    </div>

  








    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>
