.card,body {
    /* background:  linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));;*/
  
 background: #000232;
 }
 
 .footer {
     clear: both;
     border: 1px groove #aaaaaa;
     background: #343a40;
     color: White;
     padding: 10px;
     text-align: center;
     vertical-align: middle;
     line-height: normal;
     margin: 0;
   
     bottom: 0px;
     width: 100%;
     }