<!--<body>
  <div>
    <div class="row">

      <div class="col-lg-9">
        <div class="card col-md-4">
          <!--<div class="card-body p-4 p-lg-5 text-black">
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>
            <p>text goes here</p>


          </div>
        </div>
      </div>

      <div class="col-lg-3 ">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-4 p-lg-5 text-black">
            <form>
              <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-2">CTF-LOGIN</span>
              </div>

              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

              <div class="form-outline mb-4">
                <label class="form-label" for="user_name">User Name</label>
                <input [(ngModel)]="username" type="username" name="username" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input [(ngModel)]="password" type="password" name="password" class="form-control form-control-lg" />
              </div>

              <div class="pt-1 mb-4">
                <button (click)="onLogin()" class="btn btn-success btn-lg btn-block" type="button">Login</button>
              </div>

              <a class="small text-muted" routerLink="/forgot_password">Forgot password?</a>
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/subscribe"
                  style="color: #393f81;">Register here</a> </p>

              <a href="#!" class="small text-muted">Terms of use.</a>
              <a href="#!" class="small text-muted">Privacy policy</a>
            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</body>-->

<body style="background-color: #EEE2DC">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  <div class="row">
  
  <div class="col-md-12">
    <div class="col-md-3">
  
    </div>
    <div class="col-lg-6 ">
      <div class="card" style="border-radius: 1rem;">
        <div class="card-body p-4 p-lg-5 text-black">
          <form #userForm="ngForm">
            <div  class="d-flex align-items-center mb-3 pb-1">
 
              <span style="color: white;text-align: center; " class="h1 fw-bold mb-2">CTF-LOGIN</span>
            </div>
  
            <h5  class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color: white;">Sign into your account</h5>
  
            <div class="form-outline mb-4">
              <label style="color: white;" class="form-label" for="user_name">Email</label>
              <input [(ngModel)]="employee_email" #email="ngModel" required  name=email type="text" id="email" class="form-control"
             pattern="^[a-zA-Z0-9_.+-]+@[A-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"   placeholder="ENTER YOUR EMAIL" >
            <br>
           <span style="color:Red"  class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span>
           <span style="color:Red"  class="help-block" *ngIf="email.errors?.pattern && email.touched">Email is invalid</span>
            </div>
  
            <div class="form-outline mb-4">
              <label  style="color: white;" class="form-label" for="password">Password</label>
              <input [(ngModel)]="password" type="password" name="password" class="form-control form-control-lg" placeholder="ENTER YOUR PASSWORD" />
            </div>
            <br>
            <div class="pt-1 mb-4">
              <button style="background-color: #b689b0; color: white;" (click)="onLogin()"  [disabled]="userForm.form.invalid" class="btn  btn-lg btn-block" type="button">Login</button>
            </div>
  
       
          </form>
  
        </div>
      </div>
  
    </div>
  </div>
  
  </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
