<!--<nav   class="navbar clr navbar-expand-lg ">
  <div class="container-fluid">
      <a style="font-weight: 200; color: #fff;" class="navbar-brand" href="#">C-DAC Patna</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" class="nav justify-content-end">
          <ul class="navbar-nav me-auto mb-5 mb-lg-25 " class="nav justify">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/sector">sectors</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" routerLink="/collborator">Collborator</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active " routerLink="/initiative">History</a>
              </li>


              <li class="nav-item">
                  <a class="nav-link active  floating-menu hidden-xs hidden-sm a " routerLink="/subscribe"> <span class="glyphicon glyphicon-send"></span> &nbsp; Subscribe Us  </a>
              </li>

          </ul>

      </div>
  </div>
</nav>


<router-outlet></router-outlet>

<div id="tawkchat-minified-box" class="round">
  <div id="tawkchat-minified-wrapper" class="white ltr-direction">
    <div id="tawkchat-status-agent-container">
      <div id="agent-profile-image" class="agent-profile theme-background-color">&nbsp;</div>
    </div>
    <div id="tawkchat-status-text-container" class="theme-background-color theme-text-color"><span id="maximizeChat" title="Maximize" class="appear"><svg id="chat-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800"><path d="M400 26.2c-193.3 0-350 156.7-350 350 0 136.2 77.9 254.3 191.5 312.1 15.4 8.1 31.4 15.1 48.1 20.8l-16.5 63.5c-2 7.8 5.4 14.7 13 12.1l229.8-77.6c14.6-5.3 28.8-11.6 42.4-18.7C672 630.6 750 512.5 750 376.2c0-193.3-156.7-350-350-350zm211.1 510.7c-10.8 26.5-41.9 77.2-121.5 77.2-79.9 0-110.9-51-121.6-77.4-2.8-6.8 5-13.4 13.8-11.8 76.2 13.7 147.7 13 215.3.3 8.9-1.8 16.8 4.8 14 11.7z" fill-rule="evenodd" clip-rule="evenodd"></path></svg></span><span id="minimizeChatMinifiedBtn" class="icon-close hide" title="Minimize"></span></div></div></div>

<section class="footer">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        
        <a href="https://www.linkedin.com/company/c-dac-patna">
          <img class="social-logo" src="assets/images/t.webp" alt="" >
        </a>
        
        <a href="https://www.twitter.com/cdac_patna">
        <img class="social-logo" src="assets/images/c.webp" alt="">
      </a>

      <a href="https://www.youtube.com/c/CDACPatna">
        <img class="social-logo" src="assets/images/d.webp" alt="">
      </a>
        
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a class="color-brand-green" href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a></li>
          <li><a href="https://www.cdac.in/index.aspx?id=legal_notice#2">copyright policy</a></li>
          <li><a href="#">Last Updated : 21 April 2021</a></li>
          <li><a href="#">Website owned & maintained by  <br>C-DAC <span> </span>Patna</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <img class="imgtop" src ="https://www.cdac.in/index.aspx?id=img_swachh_bharat">
      </div>

      <div class="col-md-3">
       <img  class="imgtop" src="https://www.cdac.in/index.aspx?id=img_digitalindia">
      </div>

      <div class="col-md-3">
        <img class="imgtop"src="https://www.cdac.in/index.aspx?id=img_india.gov">
      </div>
    </div>

    <!--<button class="btn-service-code">Copyright C-DAC Patna</button>-->
<!-- <div class="copyright"></div>
    <div>

    </div>
    <div>

    </div>
  </div>

</section> -->






<!--
<nav   class="navbar clr navbar-expand-lg ">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" class="nav justify-content-end">
          <ul class="navbar-nav me-auto " class="nav justify">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " routerLink="/news">News</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/article">Articles</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" routerLink="/collborator">Collaborators</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active " routerLink="/sector">Sectors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " routerLink="/initiative">Initiative</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " routerLink="/history">History</a>
              </li>
              <li style="border-right: none;" class="nav-item">
                <a class="nav-link active " routerLink="/contact">Contact Us</a>
            </li>

              <li class="nav-item">
                  <a class="nav-link active  floating-menu hidden-xs hidden-sm a " routerLink="/subscribe"> <span class="glyphicon glyphicon-send"></span> &nbsp; Subscribe Us  </a>
              </li>

          </ul>

      
  </div>
</nav>
-->
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
  }

  ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-right: 50px;
    font-size: medium;
    border-right: 1px solid #bbb;



  }


  .navbar a:hover {

    color: #e25b21;
  }
</style>



<header class="masthead" style="background-color:#323754">
  <div class=" forbordercontainer" style="background-color:#323754">
    <div class="row custom-header" style="background-color:#323754">
      <div class="col-xs-12 col-md-4 custom-paddingtb-logo" style="background-color:#323754; ">
        <img style="background-color:#323754;border:none" src="https://www.cdac.in/index.aspx?id=img_cdac-logo"
          alt="About us" title="About us" class="img-thumbnail">
      </div>
    </div>
  </div>
</header>




<!--<div class="navbar">
    <strong><a class="nav-link " aria-current="page" routerLink="/home">Home</a></strong>
    <strong><a class="nav-link  " routerLink="/news">News</a></strong>
    <strong><a class="nav-link " routerLink="/article">Articles</a></strong>
    <strong><a class="nav-link " routerLink="/collborator">Collaborators</a></strong>
    <strong><a class="nav-link" routerLink="/sector">Sectors</a></strong>
    <strong><a class="nav-link  " routerLink="/initiative">Initiatives</a></strong>
    <strong><a class="nav-link  " routerLink="/history">HPC Systems</a></strong>
    <strong><a style="border-right: none;" class="nav-link   " routerLink="/contact">Contact Us</a></strong>
  
    <strong><a class="nav-link   floating-menu hidden-xs hidden-sm a " routerLink="/subscribe"> <span class="glyphicon glyphicon-send"></span> &nbsp; Subscribe Us  </a>
</strong>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light ">
  <div>
    <a  href="/home"><img src="assets/images/logo3.png" alt="About us" width="60"
      height="50" style="margin-right: 5px;"></a>
    
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <strong> <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a></strong>
      </li>
<!--
      <li class="nav-item">
        <strong><a class="nav-link" href="/news">News</a></strong>
      </li>

      -->
      <li class="nav-item">
        <strong><a class="nav-link" href="/collborator">Collaborator</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link"  href="/education+training">Education & Training</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link"  href="/sector">Research Domains</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link"  href="/initiative_domain">Outreach Programme</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link"  href="/history">HPC Systems</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link" href="/contact"> Contact Us</a></strong>
      </li>
      <!--<li class="nav-item">
        <strong><a  class="nav-link floating-menu" routerLink="/subscribe"><span class="glyphicon glyphicon-send"></span> Subscribe Us</a></strong>
      </li>-->
    </ul>
  </div>
</nav>








<router-outlet></router-outlet>

<!--<div id="tawkchat-minified-box" class="round">
  <div id="tawkchat-minified-wrapper" class="white ltr-direction">
    <div id="tawkchat-status-agent-container">
      <div id="agent-profile-image" class="agent-profile theme-background-color">&nbsp;</div>
    </div>
    <div id="tawkchat-status-text-container" class="theme-background-color theme-text-color"><span id="maximizeChat"
        title="Maximize" class="appear"><svg id="chat-icon-svg" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 800 800">
          <path
            d="M400 26.2c-193.3 0-350 156.7-350 350 0 136.2 77.9 254.3 191.5 312.1 15.4 8.1 31.4 15.1 48.1 20.8l-16.5 63.5c-2 7.8 5.4 14.7 13 12.1l229.8-77.6c14.6-5.3 28.8-11.6 42.4-18.7C672 630.6 750 512.5 750 376.2c0-193.3-156.7-350-350-350zm211.1 510.7c-10.8 26.5-41.9 77.2-121.5 77.2-79.9 0-110.9-51-121.6-77.4-2.8-6.8 5-13.4 13.8-11.8 76.2 13.7 147.7 13 215.3.3 8.9-1.8 16.8 4.8 14 11.7z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg></span><span id="minimizeChatMinifiedBtn" class="icon-close hide" title="Minimize"></span></div>
  </div>
</div>-->



<section class="footer">

  <div class="container">

    <div class="row">
      <div class="col-md-16">

        

        <a href="https://www.facebook.com/PatnaCDAC/" target="_blank">
          <img class="social-logo" src="assets/images/Facebook2.png" alt="">
        </a>

        <a href="https://www.linkedin.com/company/c-dac-patna" target="_blank">
          <img class="social-logo" src="assets/images/linkedin1.png" alt="">
        </a>

        <a href="https://twitter.com/CDAC_Patna" target="_blank">
          <img class="social-logo" src="assets/images/Twitter1.png" alt="">
        </a>

        <a href="https://www.youtube.com/c/CDACPatna" target="_blank">
          <img class="social-logo" src="assets/images/youtube1.png" alt="">
        </a>

       

      </div>
    </div>


    <div class="row">


      <div class="col-md-3">
        <img class="imgtop" src="assets/images/swacha_bharat.png">
      </div>

      <div class="col-md-3">
        <img class="imgtop" src="assets/images/digital_india.png">
      </div>

      <div class="col-md-3">
        <img class="imgtop" src="assets/images/india_gov.png">
      </div>
    </div>
    <div class="col-md-12 col-xs-12 custom-paddingproducts">
      <p class="visible-xs">&nbsp; </p>

      <p class="presskitlinks"><a routerLink="/website_policy" class="copyrights">Website Policies </a><span class="copyrights">|</span><a routerLink="/copyright_policy"
          class="copyrights"> Copyright Policy </a><span class="copyrights">|</span><a
          routerLink="/terms-conditions" class="copyrights"> Terms &amp; Conditions </a><span
          class="copyrights">|</span><a href="#" class="copyrights"> Help </a><span
          class="copyrights">|</span><span class="copyrights"> © 2021</span><span class="copyrights"> C-DAC. All rights
          reserved </span><span class="copyrights">|</span><span id="lblLastUpdated" class="copyrights"> Last Updated:
            Thursday, 30 September 2021</span><br>
       <span class="copyrights"> Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC Patna)</span>
       
      </p>
    </div>

    <!--<button class="btn-service-code">Copyright C-DAC Patna</button>-->
    <div class="copyright"></div>
    <div>

    </div>
    <div>

    </div>
  </div>

</section>