
  header{
    height: 77px;
    }
    
    
    .container, .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }
    
    .custom-header {
      margin-left: 0!important;
      margin-right: 0!important;
      min-height: 77px;
      
      background-color: #323754;
    }
   
    
    
    .custom-paddingtb-logo {
      padding-top: 10px;
      padding-bottom: 3px;
    }
      .margin{
        margin-left: 100px;
    }
    
    .margin1{
        margin-left: 350px;
    }
    
    
    
    .footer ul {
        list-style-type: none;
        padding: 0;
      }
      
      .footer ul li {
        margin-top: 10px;
      }
      
      .footer ul li a {
        color:#fff;
         text-decoration: none;
      }
      
     
     nav ul li {
      float: left;
      border-right:1px solid #bbb;
    }
    
    nav ul li:last-child {
      border-right: none;
    }
    
    nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    
    }
    
     nav ul li a:hover {
      color:#e25b21;
    }
      
      .social-logo {
        width: 40px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
      .btn-service-code {
        border: solid #808080 2px;
        padding: 10px;
        background-color: transparent;
        color:#fff;
      }
      
      .btn-service-code:hover {
        border: solid white;
        color: #fff;
      }
      
      .copyright {
        margin-top: 15px;
      }
       .footer {
        width: 100%;
        background-color:#323754;
        color: white;
        text-align: center;
       /* margin-top:70px;*/
       margin: 0;
    bottom: 0px;
      } 
      .img{
        height: 30%;
    
      }
      .navbar {
        left: 0;
        width: 100%;
        background-color:white;
        color: black;
        text-align: center;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        
      }
      .navbar a{
       margin-left:19px;
       text-align: center;
       text-decoration: none;
      }
      .imgtop{
        margin-top: 30px;
      }
    
    
      #about {
        background-color: #fff;
        width: 100%;
        display: block;
        padding: 60px 0px 60px;
        padding-top: 60px;
        padding-right: 0px;
        padding-bottom: 60px;
        padding-left: 0px;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
    body {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      font-size: 15px;
      text-align: justify;
      color: #595959;
    }
    .col-md-6 {
      width: 100%;
      float: left;
    }
    .col-sm-6, .col-md-6,.col-xs-12
    {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    #about h1 {
      text-transform: uppercase;
      color: #f2b439;
      text-align: left;
      font-size: 24px;
      margin-top: 0px;
    }
    .lightblue_color {
    
      color: #f2b439;
    }
    
    
    #about p {
      color: #595959;
      font-size: 60px;
      line-height: 25px;
    }
    p {
      margin: 0 0 10px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    
    .floating-menu {
      font-family: sans-serif;
      background:#e25b21;
      border-radius: 10px 0px 0px 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        padding: 5px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: auto;
        height: 45px;
        z-index: 100;
        position: fixed;
        top: 150px;
        right: 0px;
        box-shadow: -0.5px 4px 4px #cccccc;
    }

    
       
   


    .a{
      font-size: 1em;
        display: block;
        margin: 0 0.5em;
        color: white;
        padding: 5px 2px 5px 0px;
        text-decoration: none;
        font-weight: 500;
    }
    
    
    #tawkchat-minified-box.round {
      width: 60px;
      height: 60px;
    }
    #tawkchat-minified-box{
      overflow: hidden;
      float: right;
     
    }
    #tawkchat-minified-wrapper {
      z-index: 999997;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
    
    .round #tawkchat-status-agent-container {
      height: 60px;
      width: 60px;
      display: none;
      margin: 0;
      position: relative;
    }
    .round #tawkchat-status-agent-container #agent-profile-image {
      height: 60px;
      width: 60px;
      background-size: 60px 60px;
      position: static;
      transform: translate(0);
    }
    .theme-background-color {
      background-color: #1c5d85;
    }
    .round #tawkchat-status-text-container {
      width: 60px;
      height: 60px;
      display: block;
      border-radius: 50%;
    }
    #tawkchat-status-text-container {
      vertical-align: top;
    }
    theme-text-color {
      color: #ffffff;
    }
    .theme-background-color {
      background-color: #1c5d85;
    }
    #maximizeChat, #popoutChat {
      width: 16px;
      height: 16px;
      margin: 0;
      z-index: 100001;
    }
    .appear {
      animation: icon-appear .25s ease;
      display: block!important;
    }
    #tawkchat-status-text-container svg {
      /* width: 32px; */
      height: 32px;
      margin-top: 14px;
    }
    #chat-icon-svg {
      fill: #ffffff;
    }
    #minimizeChatMinifiedBtn {
      line-height: 60px;
    }
    #minimizeChatMinifiedBtn {
      
      font-size: 32px;
      height: 100%;
      width: auto;
      text-align: center;
      cursor: pointer;
    }
    
    
    
    .hide {
      display: none!important;
    }
    
    
    span{
      margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        
        vertical-align: baseline;
        background: transparent;
    }



    



    

    .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      margin-right: 5px;
  }



  .img-thumbnail {
    padding: .25rem;
    
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.copyrights{
  color: #c0c0c3;
}



  




#navbarNav{
  border-bottom: 1px solid black;
}

.main{
  border-bottom: 1px solid black;
  margin-left: 40px;
}