<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s"> C-DAC Supercomputers Timeline</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                          <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a></li>
                          <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">HPC Systems</li>
                        </ol>
                      </div>
                </div>
            </div>
        </div>

    </div>
</section>



<!--<div     >
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="text-center">
                    <h1 class="bannercss1">
                        C-DAC Supercomputers Timeline
                        
                    </h1>
                </div>
            </div>
        </div>

    </div>
</div>-->
<div class="container">
    <p>C-DAC (Centre for Development of Advanced Computing) has become synonymous with supercomputing, or High Performance Computing (HPC), though the phrase "Advanced Computing" could, in principle, denote any computing environment that makes use of advanced tools. The reason for that lies in the organisation's history.</p>
    <p>The setting up of C-DAC in 1988 itself was to built Supercomputers in context of denial of import of Supercomputers by USA. Since then C-DAC has been undertaking building of multiple generations of Supercomputers. A leap that would bypass India’s dependence on foreign countries for such hi-tech solutions. </p>
    <p>Essentially an R&D organisation, C-DAC achieved its primary objective of developing a supercomputer with a capability of one giga, or one billion, floating point operations a second (1 Gflops) in the early 1990s. Christened PARAM 8000, it set the platform for a whole series of parallel computers, called the PARAM series, of HPC systems over the years, with PARAM 20000, or PARAM Padma, breaking the teraflop (thousand billion flops) barrier in 2002 with a peak speed of 1 Tflop.</p>
    <p>PARAM Ishan and PARAM Kanchanjunga raised the bar with terascale operations, and launched India firmly as one of the few countries capable of developing supercomputers performing at such speed.</p>
    <p>PARAM Yuva, was ranked 68th in the TOP 500 list released in November 2008 at the Supercomputing Conference in Austin, Texas, United States.</p>
    <p>PARAM Yuva II is a High-Performance Computing (HPC) Cluster that is latest and fastest in the prestigious PARAM series of Supercomputers built in India. PARAM Shavak being an affordable supercomputing solution in a box, aims to provide computational resource (Capacity building) with advanced technologies to perform high-end computations for scientific, engineering and academic programs to address and catalyze the research using modelling, simulation and data analysis.</p>
    <p>Networking along with C-DAC indigenously developed HPC-AI engine, software frameworks and cloud platform, in November 2020, PARAM Siddhi-AI ranked 63rd among most powerful supercomputers in the world. PARAM Siddhi-AI is a high-performance computing-artificial intelligence (HPC-AI) and by far the fastest AI supercomputer developed in India. 
    </p>
    <p>C-DAC, Patna , the 12th Lab of C-DAC aims at enclosing the latest technologies in Artificial Intelligence, Data Analytics, Cyber Security & Forensics and Internet of Everything towards its obligation and commitment to build a technically advanced nation. </p>

</div>



<!--<div class="container">
    <h4></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">1990 to 1996</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM 800 ,9000 ,10000</h3>
                            <p class="description">
                                a multiprocessor machine prototype that was unveiled in 1990 by C-DAC.
                                PARAM was officially benchmarked at 5 Gflops.
                                The first PARAM 8000 was followed by PARAM 9000 and PARAM 10000 in 1996.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">2000 to 2008</span>
                        <div class="inner-content">
                            <h3 class="title">Param Padma <br>Param Yuva</h3>
                            <p class="description">
                                PARAM Padma, the first HPC from C-DAC to perform one teraflop operations per second
                                PARAM Yuva was unveiled in November 2008.There are 4608 cores in it
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">2013 to 2016</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Yuva II <br> PARAM ISHAN </h3>
                            <p class="description">
                                PARAM Yuva II was unveiled on 8 February 2013. It is the first Indian supercomputer achieving more than 500 teraflops.
  
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">2020 to 2021</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Brahma <br>PARAM Siddhi-AI</h3>
                            <p class="description">
                                PARAM Siddhi-AI is a high performance computing-artificial intelligence (HPC-AI)
                                In November 2020, PARAM Siddhi-AI ranked 63rd among most powerful supercomputers in the world.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">2020 to 2021</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Brahma <br>PARAM Siddhi-AI</h3>
                            <p class="description">
                                PARAM Siddhi-AI is a high performance computing-artificial intelligence (HPC-AI)
                                In November 2020, PARAM Siddhi-AI ranked 63rd among most powerful supercomputers in the world.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span style="font-size: small;" class="year">2020 to 2021</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Brahma <br>PARAM Siddhi-AI</h3>
                            <p class="description">
                                PARAM Siddhi-AI is a high performance computing-artificial intelligence (HPC-AI)
                                In November 2020, PARAM Siddhi-AI ranked 63rd among most powerful supercomputers in the world.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->


   
<div class="container">
    <h4></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">1990</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM 8000</h3>
                            <p class="description">
                                The PARAM 8000 was the first machine in the series and was built from scratch.
                                PARAM 8000 was a distributed memory MIMD architecture with a reconfigurable interconnection network
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">1992</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM 8600</h3>
                            <p class="description">
                                PARAM 8600 was an improvement over PARAM 8000. Each node was created with one i860 and four Inmos T800 transputers.
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">1994</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM 9000</h3>
                            <p class="description">
                                The PARAM 9000 was designed to be merge cluster processing and massively parallel processing computing workloads.
                                 This system used 32–40 processors, however it could be scaled up to 200 CPUs using the clos network topology.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">1998</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM 10000</h3>
                            <p class="description">
                                The PARAM 10000 was unveiled in 1998 as part of C-DAC's second mission.PARAM 10000 used several independent nodes, each based on the Sun Enterprise 250 server
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2002</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Padma</h3>
                            <p class="description">
                                PARAM Padma (Lotus in Sanskrit) was introduced in December 2002.
                                The machine used IBM POWER4 processors. It had a peak speed of 1024 GFLOPS
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2008</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Yuva</h3>
                            <p class="description">
                                PARAM Yuva (Youth in Sanskrit) was unveiled in November 2008.
                                There are 4608 cores in it, based on Intel 73XX of 2.9 GHz each.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2013</span>
                        <div class="inner-content">
                            <h3 class="title">Param Yuva II</h3>
                            <p class="description">
                                PARAM Yuva II was unveiled on 8 February 2013.
                                It is the first Indian supercomputer achieving more than 500 teraflops
                                It performs at a peak of 524 TFLOPS
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2016</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM ISHAN</h3>
                            <p class="description">
                                Inaugurated at IIT Guwahati Campus on 19 September 2016.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2020</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Brahma</h3>
                            <p class="description">
                                It is a supercomputer offering a computational power of 850 TeraFlop with 1 PetaByte storage capacity.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2020</span>
                        <div class="inner-content">
                            <h3 class="title">PARAM Siddhi-AI</h3>
                            <p class="description">
                                PARAM Siddhi-AI is a high performance computing-artificial intelligence (HPC-AI). 
                               It achieved global ranking of 63 in TOP 500 most powerful non-distributed computer systems in the world released on 16th November 2020.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

  














