.global-search-container {
   
    width: 100%;
    background: white;
    padding: 24px 24px 0 24px;
    margin-bottom: 24px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.global-search-container-card {
   
    display: flex;
    
    flex-direction: row;
    
    
    border-bottom: 1px solid #0000001a;
    margin-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
   
    align-items: center;
}

.global-search-container-card-content {
    max-width: 496px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-right: 10%;
}
.init-tag {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    background: #E95A0C;
    padding: 4px 12px;
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 20px;
}
.global-search-container-card-content h4 {
    margin-bottom: 4px;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
}
.global-search-container-card-content h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    
    padding-right: 5px;
    
}
.global-search-container-card-media {
    max-width: 134px;
    margin-right:10px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
img{height: 300px;}

.global-search-container-card-content h6 {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.3);
}



.banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
}



.text-center {
    text-align: center;
}


.banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb {
    padding: 8px 15px;
}

ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}

.banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
}
.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
}


.banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
}


.sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
}