
  .margin{
    margin-left: 100px;
}

.margin1{
    margin-left: 350px;
}
.color-fonts{
  color: #333;
}



.footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-top: 10px;
  }
  
  .footer ul li a {
    color:#fff;
     text-decoration: none;
  }
  nav ul li a {
    color:#fff;
 }
 
 nav ul li a:hover {
  color:#e25b21;
}
  
  .social-logo {
    width: 40px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .btn-service-code {
    border: solid #808080 2px;
    padding: 10px;
    background-color: transparent;
    color:#fff;
  }
  
  .btn-service-code:hover {
    border: solid white;
    color: #fff;
  }
  
  .copyright {
    margin-top: 15px;
  }
   .footer {
  
    width: 100%;
    background-color:#04122f;
    color: white;
    text-align: center;
  } 
  .img{
    height: 30%;

  }
  .navbar{
    
    left: 0;
   
    width: 100%;
    background-color:#022160;
    color: white;
    text-align: center;
   
  }
  .imgtop{

    margin-top: 30px;
  }









  #about {
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 60px 0px 60px;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  text-align: justify;
  color: #595959;
}
.col-md-6 {
  width: 100%;
  float: left;
}
.col-sm-6, .col-md-6,.col-xs-12
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#about h1 {
  text-transform: uppercase;
  color: #f2b439;
  text-align: left;
  font-size: 24px;
  margin-top: 0px;
}
.lightblue_color {

  color: #022160;
}


#about p {
  color: #595959;
  font-size: 60px;
  line-height: 25px;
}
p {
  margin: 0 0 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.latest {
  font-size: 21px;
}

.latest1{
  margin-top: 50px;
  background-color: #595959;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-weight: 900;
  line-height: 2;
  -webkit-font-smoothing: antialiased;

}







.background {
	background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	padding:0;
	margin:0px;
  }
  .cube {
	position: absolute;
	top: 80vh;
	left: 45vw;
	width: 10px;
	height: 10px;
	border: solid 1px #D7D4E4;
	transform-origin: top left;
	transform: scale(0) rotate(0deg) translate(-50%, -50%);
	animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
	border-color: #FFF ;
  }
  .cube:nth-child(2) {
	animation-delay: 2s;
	left: 25vw;
	top: 40vh;
  }
  .cube:nth-child(3) {
	animation-delay: 4s;
	left: 75vw;
	top: 50vh;
  }
  .cube:nth-child(4) {
	animation-delay: 6s;
	left: 90vw;
	top: 10vh;
  }
  .cube:nth-child(5) {
	animation-delay: 8s;
	left: 10vw;
	top: 85vh;
  }
  .cube:nth-child(6) {
	animation-delay: 10s;
	left: 50vw;
	top: 10vh;
  }

  
  @keyframes Gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  @keyframes cube {
	from {
	  transform: scale(0) rotate(0deg) translate(-50%, -50%);
	  opacity: 1;
	}
	to {
	  transform: scale(20) rotate(960deg) translate(-50%, -50%);
	  opacity: 0;
	}
  }



  


.flip-card {
  background-color: transparent;
  border-color: rgba(255, 255, 255, );
  transition-duration: 2s;
  width: 600px;
  height: 400px;
  border: 2px solid #f1f1f1;
  margin-top: 20px;

   
  
  transform-style: preserve-3d;
  transition: transform .75s ease-in-out;


  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
 
  color: black;

 
  background-color: #d6f1f1cc;
  
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(99, 202, 219);
  
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 1s;

  
  border-radius: 4px;
  color: white;
  transform: rotateY(180deg);
}






.about-section {
  padding: 50px;
 
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}




















.vc_section {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}


.pb50 {
  padding-bottom: 25px!important;
}
.pt70 {
  padding-top: 35px!important;
}
.vc_row.vc_row-flex {
 
  flex-wrap: wrap;
}

.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.vc_row.vc_row-o-equal-height>.vc_column_container {
  -webkit-box-align: stretch;
  
  align-items: stretch;
}
.vc_row.vc_row-flex>.vc_column_container {
  
  display: flex;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
  position: relative;
  min-height: 1px;
  
  box-sizing: border-box;
}
.vc_column_container {
  width: 100%;
}
.text-center {
  text-align: center!important;
}
.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
  -webkit-box-flex: 1;
 
  flex-grow: 1;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
 
  flex-direction: column;
  z-index: 1;
}

.vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.vc_row-o-equal-height.wpb-wrapper-full > .vc_column_container > .vc_column-inner > .wpb_wrapper {
  height: 100%;
}
.vc_custom_1565334715703 {
  padding-top: 0px !important;
}
.vc_custom_1565335654038 {
    margin-bottom: 30px !important;
}
.vc_row-o-equal-height.wpb-wrapper-full > .vc_column_container > .vc_column-inner > .wpb_wrapper {
  height: 100%;
}
.theme-title.d-inline-block {
  white-space: unset;
  width: 100%;
  text-align: center!important;
}
.theme-title {
  font-size: 18px;
}
.theme-title {
  position: relative;
 
  line-height: 1.5em;

  color: #065b71;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.d-inline-block {
  display: inline-block!important;
}
element.style {
  font-size: 24px;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.theme-title .icon i {
  float: none;
  margin-top: 0;
}

.theme-title .icon i {
  margin-left: -5px;
  font-size: 55px;
}
.theme-title .icon i {
  
  margin-right: -15px;
  position: relative;
  color: #000000;
  opacity: 0.2;
  bottom: 0;

}
.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
 
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.theme-title .title {
  font-size: 26px;
}


.our-service .big-text-sm {
  padding: 0;
}
.vc_custom_1597684250226 {
  margin-bottom: 30px !important;
}
.big-text-sm {
  font-size: 20px;
  line-height: 1.28;
}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
  margin-bottom: 0;
}
element.style {
  color: rgb(51, 51, 51);
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
 
  margin-bottom: 0.9rem;
  font-weight: 600;
}

.h5, h5 {
  font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
 
}
b, strong {
  font-weight: 700;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  margin-top: 0;

}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
  margin-bottom: 0;
}


.service-box {
    padding: 20px;
    font-size: 18px;
}


.service-box {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #333333;

  max-width: 500px;
  margin: 0 auto;
  background-size: cover;
}
.theme-overlay {
  position: relative;
}

.theme-overlay > * {
  position: relative;
  z-index: 1;
}
a {
  color: #065b71;
  text-decoration: none;

  word-wrap: break-word;
  
  
  word-break: break-word;
 
 
  

}
a {
 
  background-color: transparent;
}
.service-box .sb-inner {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
}

.service-box .sb-icon {
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
}
.service-box .sb-icon {
  background-color: #ffffff;
  color: #065b71;
  
  display: inline-block;
  
  border-radius: 50%;
 
  
}

.service-box .sb-title {
  color: inherit;
}
.service-box .sb-text {
  padding-left: 5px;
  padding-right: 5px;
}










.banner-inner {
  width: 100%;
  height: 145px;
  background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
  background-size: cover;
}

.text-center {
  text-align: center;
}


.banner-inner .breadcrumb {
  margin: 0px auto;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 35px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
}

.breadcrumb {
  padding: 8px 15px;
}

ol {
 
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
  display: inline-block;
  font-size: 14px;
  color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
  color: #cbcbcb;
  font-weight: 400;
  
  transition: all 0.3s ease-in-out;
}

a, a:hover {
  text-decoration: none;
}
a {
  background-color: transparent;
}

.banner-inner .breadcrumb > .active {
  color: #00aced;
  font-weight: 500;
}
.banner-inner .breadcrumb > li {
  display: inline-block;
  font-size: 14px;
  
}



.banner-inner h1 {
  color: #fff;
  margin-top: 35px;
  
  margin-bottom: 5px !important;
  padding-top: 30px;
  padding-bottom: 0px;
}


.sect_head {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
 
}




.grid {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding:45px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 1000px;
  list-style: none;
  text-align: center; }

.grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px;
  max-width: 780px;
  max-height: 780px;
  width: 100%;
  background: #414141;
  text-align: center;
  cursor: pointer; }

.grid figure h2 {
  color: #fff !important;
  font-size: 22px;
  text-shadow: 1px 1px 1px #111;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.9; }

.grid figure figcaption, .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.small-pad {
  padding: 0 10px 20px 10px; }

.group.rdoc-bot-nav {
  padding: 15px; }

.rdoc-bot-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 15px 0 0 0;
  list-style-type: none; }

.rdoc-bot-nav ul li {
  flex: 0 1 auto;
  flex-grow: 1;
  flex-basis: 25%;
  background: #005395;
  margin: 0;
  padding: 15px 0 !important;
  text-align: center;
  font-weight: 700;
  border: 1px solid #d8d8d8; }

.rdoc-bot-nav ul li a {
  padding-left: 0 !important;
  color: #fff !important; }

.rdoc-bot-nav ul li a:before {
  width: 0 !important;
  margin-left: 0 !important; }

/*---------------*/
/**Sadie Effect***/
/*---------------*/
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s; }

figure.effect-sadie h2 {
  position: absolute;
  top: 65%;
  left: 15%;
  width: 70%;
  color: #484c61;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-sadie p {
  position: absolute;
  top: 36%;
  left: 0;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 1px #111;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 4.5em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 60px, 0); }

figure.effect-sadie:hover h2 {
  color: #fff;
  -ms-transform: translate(0, -135px);
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -100px, 0); }

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-sadie:hover img {
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }










































































































/*

 .col-lg-6{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
 }

 
.dividerHeading, .widget_title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.dividerHeading h4, .widget_title h4 {
  font-size: 18px;
  position: relative;
  line-height: 0;
  border-bottom: 1px solid #E74C3C;
}
.dividerHeading h4 span {
  background: white;
  position: relative;
  line-height: 7px;
  top: 4px;
  display: inline-block;
}

#testimonial-carousel {
  margin-top: 25px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.block {
  padding-bottom: 0px;
}
.content-news-second {
  width: 100%;
  float: left;

}
.newsBlock {
 
  -webkit-border-radius: 5px;
  border: 1px solid #b4b4b4;
}
.newsBlock .newsContent {
  padding: 0px 20px;
  font-size: 13px;
  line-height: 20px;
}
body {
  margin: 0;
}
.SandboxRoot.var-chromeless .timeline-Widget {
  background-color: transparent;
}
.timeline-Widget {
  max-width: 1200px;
  
  border-radius: 5px;
}

.timeline-InformationCircle-widgetParent {
  position: relative;
}
.timeline-Header {
  padding: 10px;
}
.timeline-InformationCircle {
  position: absolute;
  right: 12px;
  top: 15px;
}


.Icon--informationCircleWhite {
  height: 18px;
  width: 18px;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cg%20transform%3D%22translate(8%208)%22%3E%3Cpath%20fill%3D%22%23657786%22%20fill-opacity%3D%22.8%22%20d%3D%22M28%203.11C14.278%203.11%203.11%2014.276%203.11%2028c0%2013.723%2011.166%2024.887%2024.89%2024.887S52.89%2041.723%2052.89%2028C52.89%2014.274%2041.724%203.11%2028%203.11z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28%2044.593c-1.718%200-3.11-1.393-3.11-3.112V30.076c0-1.718%201.392-3.11%203.11-3.11s3.11%201.392%203.11%203.11V41.48c0%201.72-1.392%203.113-3.11%203.113z%22%2F%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%2228%22%20cy%3D%2218.148%22%20r%3D%224.667%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28%2056C12.56%2056%200%2043.44%200%2028S12.56%200%2028%200s28%2012.56%2028%2028-12.56%2028-28%2028zm0-49.778C15.99%206.222%206.222%2015.992%206.222%2028S15.992%2049.778%2028%2049.778c12.01%200%2021.778-9.77%2021.778-21.778S40.008%206.222%2028%206.222z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
.Icon {
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}

a {
  background-color: transparent;
}
.u-hiddenVisually {
  position: absolute!important;
  overflow: hidden!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
}

.timeline-Header-title {
  font-size: 21px;
  font-weight: 300;
  line-height: 24px;
  color: #292F33;
}
.u-inlineBlock {
  display: inline-block!important;
  max-width: 100%;
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

h1 {
  
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.timeline-Header-byline {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #657786;
}

.SandboxRoot.var-borderless .timeline-Body {
  border: none;
}

.timeline-NewTweetsNotification {
  display: none;
  border-bottom: 1px solid rgba(15,70,100,.12);
  opacity: 0;
}
.timeline-Body-notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.timeline-ShowMoreButton {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  margin: 0 0 20px 0;
  width: 155px;
  font-size: 14px;
  color: #2b7bb9;
  text-align: center;
  background-color: #fff;
  border: 1px solid #55acee;
  border-radius: 100px;
  outline: 0;
  cursor: pointer;
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
 
  list-style: none;
  
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
   
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}


element.style {
  height: 354px;
}
.timeline-Viewport {
  overflow-x: hidden;
  overflow-y: scroll;
 
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

ol {
    display: block;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.timeline-Tweet {
  cursor: pointer;
  padding: 10px;
}
.timeline-Tweet-brand {
  font-size: 15.4px;
}
.u-floatRight {
  float: right!important;
}

.timeline-Tweet-brand .Icon {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}
.Icon--twitter {
  width: 1.25em;
 
}
.Icon {
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}
*/


/*

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.sub_content {
  margin-bottom: 30px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.dividerHeading, .widget_title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.dividerHeading h4, .widget_title h4 {
  font-size: 18px;
  position: relative;
  line-height: 0;
  border-bottom: 1px solid #E74C3C;
}

body, h1, h2, h3, h4, h5, h6, .button, input[type="button"], input[type="submit"], input[type="text"], input[type="password"], input[type="email"], textarea, select {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;


  color: #000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 
}

.dividerHeading h4 span {
  background: white;
  position: relative;
  line-height: 7px;
  top: 4px;
  display: inline-block;
}


#testimonial-carousel {
  margin-top: 25px;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block {
  padding-bottom: 0px;
}

.content-news-second {
  width: 100%;
  float: left;
  
}

element.style {
  height: 50%;
}
.newsBlock {


  border: 1px solid #b4b4b4;
}

.newsBlock .newsContent {
  padding: 0px 20px;
  font-size: 13px;
  line-height: 20px;
}



element.style {
  position: static;
  visibility: visible;
  display: inline-block;
  width: 100%;
  height: 400px;
  padding: 0px;
  border: none;
  max-width: 100%;
  min-width: 180px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 200px;
}


.SandboxRoot {
  display: block;
  background: 0 0;
  font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
  color: #292F33;

  white-space: initial;
}
.SandboxRoot {
  direction: ltr;
  text-align: left;
}

.SandboxRoot {
  display: none;
}
html {

  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
user agent stylesheet
body {
  display: block;
  
} 

SandboxRoot.var-chromeless .timeline-Widget {
  background-color: transparent;
}
.timeline-Widget {
  max-width: 1200px;

  border-radius: 5px;
}

div {
  display: block;
}
.timeline-InformationCircle-widgetParent {
  position: relative;
}
.timeline-Header {
  padding: 10px;
}

.timeline-InformationCircle {
  position: absolute;
  right: 12px;
  top: 15px;
}
.Icon--informationCircleWhite {
  height: 18px;
  width: 18px;
}
.Icon {
  display: inline-block;

  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}
a {
  background-color: transparent;
}

.u-hiddenVisually {
  position: absolute!important;
  overflow: hidden!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}

a:-webkit-any-link {
 
  cursor: pointer;
}

.timeline-Header-title {
  font-size: 21px;
  font-weight: 300;
  line-height: 24px;
  color: #292F33;
}
.u-inlineBlock {
  display: inline-block!important;
  max-width: 100%;
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.timeline-Header-byline {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #657786;
}


a {
  color: #2b7bb9;
  text-decoration: none;
}
a {
  background-color: transparent;
}

.SandboxRoot.var-borderless .timeline-Body {
  border: none;
}

.timeline-NewTweetsNotification {
  display: none;
  border-bottom: 1px solid rgba(15,70,100,.12);
  opacity: 0;
}
.timeline-Body-notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.timeline-ShowMoreButton {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  margin: 0 0 20px 0;
  width: 155px;
  font-size: 14px;
  color: #2b7bb9;
  text-align: center;
  background-color: #fff;
  border: 1px solid #55acee;
  border-radius: 100px;
  outline: 0;
  cursor: pointer;
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
 
  list-style: none;
 
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
 
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, optgroup, select, textarea {

  font: inherit;
  
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

ol {
  display: block;
  
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.SandboxRoot.var-borderless .timeline-TweetList-tweet {
  border: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.timeline-Tweet {
  cursor: pointer;
  padding: 10px;
}

.timeline-Tweet-brand {
  font-size: 15.4px;
}
.u-floatRight {
  float: right!important;
}

.timeline-Tweet-brand .Icon {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

.Icon {
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}
.timeline-Tweet-author {
  position: relative;
  margin-bottom: 2px;
  padding-left: 40px;
}

.u-linkBlend:not(:focus):not(:hover):not(:active) {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}
.TweetAuthor-avatar {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
 
  flex: none;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 4px;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}
a {
  background-color: transparent;
}

.Avatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
img {
  border: 0;
}

.TweetAuthor {
  max-width: 100%;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal!important;
}

.u-linkBlend:not(:focus):not(:hover):not(:active) {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}
.TweetAuthor-link {
 
  display: flex;

  width: min-content;
  max-width: 100%;
  -webkit-box-align: center;
 
  align-items: center;
}
.u-linkBlend:not(:focus):not(:hover):not(:active) {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

.TweetAuthor-decoratedName {
  display: table;
  
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  
  align-items: center;
}

.SandboxRoot.env-bp-330 .TweetAuthor-name, .SandboxRoot.env-bp-430 .TweetAuthor-name, .SandboxRoot.env-bp-550 .TweetAuthor-name {
  font-size: 14px;
  line-height: 18px;
}
.TweetAuthor-name {
 
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
}

.Icon--verified {
  width: 1.11111em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h64v72H0z%22%2F%3E%3Cpath%20fill%3D%22%231da1f2%22%20d%3D%22M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z%22%2F%3E%3C%2Fsvg%3E);
}
.Icon {
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}

.u-hiddenVisually {
  position: absolute!important;
  overflow: hidden!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
}
b, i {
  font-weight: 400;
  font-style: normal;
}

.SandboxRoot.env-bp-330 .TweetAuthor-screenName, .SandboxRoot.env-bp-430 .TweetAuthor-screenName, .SandboxRoot.env-bp-550 .TweetAuthor-screenName {
  font-size: 13px;
  line-height: 18px;
}
.TweetAuthor-screenName {

  font-weight: 300;
  padding-right: 4px;
}
.Identity-screenName {

  color: #8899A6;
}

*/