<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> C-DAC Terms & Conditions</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Terms & Conditions
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="container">
    <div class="custom-para">


        <p class="text-justify">This is the Official website of Centre for Development of Advanced Computing, an
            autonomous scientific society under Ministry of Electronics and Information Technology, Government of India"
            has been developed to provide information to the general public. The documents and information displayed in
            this website are for reference purposes only and does not purport to be a legal document.</p>

        <p class="text-justify">C-DAC does not warrant the accuracy or completeness of the information, text, graphics,
            links or other items contained within the Website. As a result of updates and corrections, the web contents
            are subject to change without any notice from "Centre for Development of Advanced Computing" at C-DAC
            website.</p>

        <p class="text-justify">In case of any variance between what has been stated and that contained in the relevant
            Act, Rules, Regulations, Policy Statements etc, the latter shall prevail.</p>

        <p class="text-justify">Any specific advice or replies to queries in any part of the website is/are the personal
            views / opinion of such experts/consultants/persons and are not necessarily subscribed to by this Department
            or its websites.</p>


        <p class="text-justify">Certain links on the website lead to resources located on other websites maintained by
            third parties over whom C-DAC has no control or connection. These websites are external to C-DAC and by
            visiting these; you are outside the C-DAC website and its channels. C-DAC neither endorses in any way nor
            offers any judgment or warranty and accepts no responsibility or liability for the authenticity,
            availability of any of the goods or services or for any damage, loss or harm, direct or consequential or any
            violation of local or international laws that may be incurred by your visiting and transacting on these
            websites.</p>

        <p>&nbsp;</p>

        <p> <strong>Thank You :-</strong><br>
             C-DAC-Patna<br>
            
        </p>



    </div>
</div>
