#our_feature{
	/*background-color: #fff;*/
	background-color:#072161;
	width: 100%;
	display: block;
	padding: 75px 0px 75px;
}
.feature_box{
	background-color: #f6f6f6;
	padding: 45px 30px 15px;
	text-align: center;
	min-height: 240px;
	box-sizing: border-box;
	border-bottom: 10px solid #0093ca;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.4);
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.purple_bg_color{
	background-color: #6f72a3;
}
.green_bg_color{
	background-color: #6fa385;
}
.brown_bg_color{
	background-color: #a36f6f;
}

.purple_text{
	color: #6f72a3;
}
.green_text{
	color: #6fa385;
}
.brown_text{
	color: #a36f6f;
}
.feature_box h1{
	font-size: 75px;
	margin-top: 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'norwesterregular';
	color: #ffffcc;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out; 
}
.one {
	background: url('https://www.sunbeaminfo.com/img/new/digit_scroll_1.png') #00aced no-repeat center;
	
}
.two {
	background: url('https://www.sunbeaminfo.com/img/new/digit_scroll_2.png') #00aced no-repeat center;
	
}
.three {
	background: url('https://www.sunbeaminfo.com/img/new/digit_scroll_3.png') #00aced no-repeat center;
}
.feature_box:hover h1{
	color: #e4ecaa;
}
.feature_box p{
	font-size: 22px;
	text-align: center;
	color: #fff;
	line-height: 24px;
}

#courses{
	background-color:#f7f0f0; 
	width: 100%;
	display: block;
	padding: 80px 0px 80px;
}
#courses h1{
	text-transform: uppercase;
	color: #2b2d2e;
	text-align: center;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.courses_demo_box_wrap{
	display: block;
	margin-top: 25px; 
}
.or_box{ background-color: #072161; }
.red_box{ background-color: #ec4938; }
.gr_box{ background-color: #005691; }
.l_box{background-color:#7b2724}
.course_box{
	min-height: 250px;
	display: block;
	width: 100%;
	padding-top: 15px;
	border-left: 10px solid #ffea76;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.cap_box{
	display: block;
	margin-bottom: 20px;
	text-align: center;
}
.cap_box img{
	width: 80px;
	display: inline-block;
	margin: auto;
	margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.cap_box i{
	display: inline-block;
	margin: auto;
	font-size: 75px;
	color: #faffd6;
}
.course_title{ 
	display: block;
	height: 80px;
	text-align: center;	
}
.course_title h4 {
    font-size: 19px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    color: #fff;
}
.samp_course_name{
	display: block;
	height: 50px;
	
}
.samp_course_name ul{ 
	list-style-type: none;
	margin:0;
	padding: 0;
}





.banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
}

.text-center {
    text-align: center;
}


.banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb {
    padding: 8px 15px;
}

ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}

.banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
}
.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
}



.banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
}


.sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
}





/*.zoom{
	border-radius: 40px;
	border: solid 4px black;
	
	
}*/

.card{
	border-radius: 10px;
	border: solid 2px black;

}


  #courses1{
	background-image: linear-gradient(to left top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F,#F9F871);
  }










  












