<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> Who Can Benefit From Us?</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Collaborators</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>






<section>

    <!-- <p  style="font-family:Impact; font-size: 25pt; margin:10px ; color: white  ;background-color: #76b900  ;text-align: center;" >
        Who Can Benefit From Us?
    </p>-->
    <!--

<div id="our_feature">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 wow pulse" data-wow-duration="1s" data-wow-iteration="2"
                data-wow-delay="3s">
                <div class="feature_box one">
                    <h1><span class="numscroller roller-title-number-1 scrollzip isShown" data-min="1" data-max="21"
                            data-delay="3" data-increment="1" data-slno="1">21</span>+</h1>
                    <p>AI-based Product <br> Companies</p>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow pulse" data-wow-duration="1s" data-wow-iteration="2"
                data-wow-delay="3s">
                <div class="feature_box two">
                    <h1><span class="numscroller roller-title-number-1 scrollzip isShown" data-min="1" data-max="21"
                            data-delay="3" data-increment="1" data-slno="1">30</span>+</h1>
                    <p>Advance research scholar in the Field of AI</p>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow pulse" data-wow-duration="1s" data-wow-iteration="2"
                data-wow-delay="3s">
                <div class="feature_box three">
                    <h1><span class="numscroller roller-title-number-1 scrollzip isShown" data-min="1" data-max="21"
                            data-delay="3" data-increment="1" data-slno="1">21</span>+</h1>
                    <p>Startups  <br>  </p>
                </div>

            </div>

        </div>
    </div>
</div>
-->
    <section>
        <div id="courses">
            <div class="container">
                <div class="row clearfix">
                    <div class=col-xs-12 wow zoomIn data-wow-duartion="2s" data-wow-delay="0.8s">

                    </div>
                </div>
                <div class="row clearfix courses_demo_box_wrap">

                    <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duartion="1.2s"
                        data-wow-delay="0.5s">
                        <div class="course_box or_box">
                            <div class="cap_box">

                                <div class="cap_box">
                                    <img src="assets/images/person.png" alt="Post Graduate Diploma Programmes Icon"
                                        class="img-responsive center-block">

                                </div>
                            </div>
                            <div class="course_title">
                                <h4>Individuals</h4>
                            </div>
                            <div class="samp_course_name">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duartion="1.2s"
                        data-wow-delay="0.5s">
                        <div class="course_box red_box">
                            <div class="cap_box">
                                <img src="assets/images/research.png" alt="Post Graduate Diploma Programmes Icon"
                                    class="img-responsive center-block">

                            </div>
                            <div class="course_title">
                                <h4>Research scholars</h4>
                            </div>
                            <div class="samp_course_name">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duartion="1.2s"
                        data-wow-delay="0.5s">
                        <div class="course_box gr_box">
                            <div class="cap_box">
                                <img src="assets/images/download.png" alt="Post Graduate Diploma Programmes Icon"
                                    class="img-responsive center-block">

                            </div>
                            <div class="course_title">
                                <h4>Educational <br> Institutions</h4>
                            </div>
                            <div class="samp_course_name">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duartion="1.2s"
                        data-wow-delay="0.5s">
                        <div class="course_box l_box">
                            <div class="cap_box">

                                <img src="assets/images/building.png" alt="Post Graduate Diploma Programmes Icon"
                                    class="img-responsive center-block">
                            </div>
                            <div class="course_title">
                                <h4> Startups</h4>
                            </div>
                            <div class="samp_course_name">

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>



    <p
        style="font-family:Impact; font-size: 25pt; margin:10px; margin-top: 20px ; color: white  ;background-color: #76b900  ;text-align: center;">
        Our Major Collaborators
    </p>





    <!--<div class="container">
        <div class="row pt-5">
            <div class="col-sm-3">
                <img src="assets/images/nvidia.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3 offset-sm-1">
                <img src="assets/images/intel.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3 offset-sm-1">
                <img src="assets/images/amdocs-vector-logo.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>

        <div class="row pt-5">

            <div class="col-sm-2">
                <img src="assets/images/BITS_Pilani-.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-2 offset-sm-3">
                <img src="assets/images/Indian_Institute_of_Information_Technology,_Bhagalpur_logo.png"
                    class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-2 offset-sm-2">
                <img src="assets/images/Manipal_University_logo.png" class="img-responsive" style="width:100%"
                    alt="Image">
            </div>
        </div>
        <div class="row pt-5 ">
            <div class="col-sm-3 offset-sm-2">
                <img src="assets/images/ascend-learning.png" class="img-responsive" style="width:100%" alt="Image">
            </div>

            <div class="col-sm-2 offset-sm-2">
                <img src="assets/images/KPIT.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>


        </div>
    </div><br>


</section>-->
    <br>


    <div id="courses1">
        <div class="container">


            <div class="row">
                <div class="col-md-3 col-xs-12 zoom">
                    <div class="card   mb-3" style="margin-top: 12px;">
                        <!--<div class="card-header" style="background-color:wheat"></div>-->
                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">Nvidia</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">Intel</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">Amdocs</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">KPIT</h1>
                            <br>
                            <br>


                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-xs-12 zoom">
                    <div class="card   mb-3" style="margin-top: 12px;">
                        <!--<div class="card-header" style="background-color:wheat"></div>-->
                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Roorkee</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Patna</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Bhu</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Mandi</h1>
                            <br>
                            <br>


                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12 zoom">
                    <div class="card   mb-3" style="margin-top: 12px;">
                        <!--<div class="card-header" style="background-color:wheat"></div>-->
                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Kanpur</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIT Guwahati</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">IIIT Bhagalpur</h1>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 zoom">
                    <div class="card  mb-3" style="margin-top: 12px;">

                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;">NIT Patna</h1>
                            <br>
                            <br>


                        </div>
                    </div>
                </div>

            </div>


                </div>
            </div>
            <!--.col-xs-12 :hover {
	transform: scale(1.2);
}
-->



            <!--<div class="background">

        <div class="container">

        </div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>




        <div class="row" >
            <div class="col-md-3 col-xs-12 zoom">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">Nvidia</h1>
                        <br>
                        <br>
                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 zoom">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">Intel</h1>
                        <br>
                        <br>
                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3 zoom">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">Amdocs</h1>
                        <br>
                        <br>
                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 zoom">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">KPIT</h1>
                        <br>
                        <br>

                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" >



            <div class="col-md-3 zoom">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">IIT Roorkee</h1>



                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3 zoom">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">IIT<br> Mandi</h1>




                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 zoom">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">IIT Kanpur</h1>



                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3 zoom">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:wheat"></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;">IIT Guwahati</h1>



                        <h1 class="card-text">
                        </h1>
                    </div>
                </div>
            </div>


        </div>
                <div class="row" >
                    <div class="col-md-3 zoom">
                        <div class="card text-white mb-3" style="max-width: 18rem;background-color: #76b900;">
                            <div class="card-header" style="background-color:wheat"></div>
                            <div class="card-body">
                                <h2 style="text-align: center;" class="card-title">IIT Bhagalpur</h2>



                                <h1 class="card-text">
                                </h1>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 zoom">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header" style="background-color:wheat"></div>
                            <div class="card-body">
                                <h2 style="text-align: center;" class="card-title"> Inspired By Life</h2>



                                <h1 class="card-text">
                                </h1>
                            </div>
                        </div>
                    </div>

                </div>











                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>-->









            