




<div id="minHeightDiv" style="min-height: 480px;">
    <section>
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s"> Expert Guidance And Career Apportunities On Emerging Technologies</h1>
                        <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                        <div class="text-center">
							<ol class="breadcrumb">
							  <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a></li>
							  <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">career_talk</li>
							</ol>
						  </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <br>
<br>
<br>
<br>




    <div class="container" style="margin-top: 40px;">
        <div class="row" >
            <div style="padding: 50px;" class="col-md-8" style="background-color:lavender;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
                <div class="custom-para">
    
                    <p style="font-size: larger;" class="text-justify">With the vision of Career Prospect Awareness in Advanced Technologies like AI, IoT, Blockchain, Data Science and Cyber Security; we are announcing a 02 Day Webinar on <strong>“Expert Guidance & Career Opportunities on Emerging Technologies” </strong>on 15th July and 16th July (11:30 AM to 12:30 PM)</p>
        
                        
                        <p style="font-size: larger;"  class="text-justify">Target Audience are Graduate and Post Graduate Fresher’s in Engineering or Science Stream OR the IT Professional who are looking for Career Change in Advanced Technologies.</p>
                        <p style="font-size: larger;"  class="text-justify"><strong>This Webinar will help participants to identify the career goals, set the education milestones and derive the clear pathways to achieve it. </strong></p>
                        <p style="font-size: larger;"  class="text-justify">
                            The Speakers from different esteemed Tech Firms will be sharing their views and providing the guidance to our participants.</p>
            
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
            
            <div st class="col-md-4">
                <div class="card" style="width: 20rem; background-color:cornflowerblue; margin-top: 50px;">
                    <!--<img src="assets/images/googlemeet.png" class="card-img-top" alt="..." style="height: 120px;">-->
                    <div class="card-body">
                      <h4  style="color: black; margin-top: 4px;" class="card-title"> The link will be available on 14 <sup>th</sup> July 2021</h4>
                      <p class="card-text"></p>
                      <!--<button type="button" class="btn btn-primary">Details</button>-->
                     
                    </div>
                  </div>
                  <br>
                   <!--<button  style="width: 200px;" type="button" (click)="btnClick();" class="btn btn-success">Register</button>-->
                     
            </div>

        </div>
        
    
    </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

