<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">

                       
                        Video Gallery</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Video Gallery</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>










<br>
<br>
<br>






<div style="background-color: #fff;" class="container" style="margin-top: 30px;">
    <div class="row">


        <div class="row mb-5">



            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;" class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="border-radius: 20px;" src="assets/images/vedio1.jpg" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">Artificial Intelligence</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p  style="color: azure;" class="card-text">   Webinar Series On Artificial Intelligence And Data Science </p>
                        
                        <!-- Card footer -->
                        <div style="background-color:  azure;" class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a target="_blank" href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtEzRpsbo8RTxIFfos-38ToI">
                                    <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;" class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img  style="height: 255px;border-radius: 20px;" src="assets/images/vedio2.jpg" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4  class="card-title">
                            <strong>
                                <a style="color: azure;" >Cyber Security</a>
                            </strong>
                        </h4>
                        
                        <!-- Description -->
                        <p style="color: azure;" class="card-text">Four Day Cyber Security Awareness Program </p>
                        <br>
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span  class="float-right font-weight-bold">
                                <a target="_blank" href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtGpnKRDmzgBiwJiYJ5pixKM">
                                    <img  src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->



            <!--<div class="col-lg-4 col-md-6">

                <div class="card card-cascade wider card-ecommerce">

                    <div class="view view-cascade overlay">
                        <img src="assets/images/Blockchain.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade text-center">


                        <h4 class="card-title">
                            <strong>
                                <a href="">Blockchain</a>
                            </strong>
                        </h4>

                        <p class="card-text">Advanced Course In Blockchain Technology</p>
                        <strong>400 hrs</strong>

                        <div class="card-footer px-1">

                            <span class="float-right">
                                <a style="background: gray" class="btn btn-info" role="button">Details</a>

                            </span>
                        </div>
                    </div>

                </div>

            </div>-->

            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;" class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img  style="height: 260px; background-color: #242134;border-radius: 20px" src="assets/images/vedio3.jpg"
                            class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">Emerging Technologies </a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p style="color: azure;" class="card-text">Expert Guidance And Career Opportunities On Emerging Technologies</p>
                        
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span  class="float-right font-weight-bold">
                                <a target="_blank" href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtE7fVS48J7udSv0Si_JDBVC">
                                    <img  src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>
                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>







        </div>
        <!--
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/aicard.jpg" class="card-img-top" alt="..." style="height: 160px;">
                <div class="card-body">
                    <h5 class="card-title">Online PG Diploma In Artifical Intelligence</h5>
                    <p class="card-text">900 hrs</p>
                    <a href="https://www.cdac.in/index.aspx?id=DAI&courseid=84" target="_blank"
                        style="background: #255bab" class="btn btn-info" role="button">Details</a>
                    <!-- <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab; margin-left: 80px" class="btn btn-info"  role="button">Register</a>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/IoT.jpg" class="card-img-top" alt="..." style="height: 160px;">
                <div class="card-body">
                    <h5 class="card-title"> Online PG Diploma In Internet of Things</h5>
                    <p class="card-text">900 hrs</p>

                    <a href="https://www.cdac.in/index.aspx?id=DIoT&courseid=67" target="_blank"
                        style="background: #255bab" class="btn btn-info" role="button">Details</a>
                    <!--  <a href="https://www.cdac.in/index.aspx?id=newregister1" target="_blank" style="background: #255bab ; margin-left: 80px;" class="btn btn-info"  role="button">Register</a>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="assets/images/block.png" class="card-img-top" alt="..." style="height: 154px;">
                <div class="card-body">
                    <h5 class="card-title">Advanced Course In <br> Blockchain Technology</h5>
                    <p class="card-text">400 hrs</p>
                    <!--<button type="button" class="btn btn-primary">Details</button>
                    <a style="background: gray" class="btn btn-info" role="button">Details</a>


                </div>
            </div>


        </div>


    -->



    </div>



</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="row mb-5">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;" class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="border-radius: 20px;" src="assets/images/vedio4.jpeg" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">IoT</a>
                            </strong>
                        </h4>
                        <!-- Description -->
                        <p style="color: azure;" class="card-text"> Webinar Series On Technology Roadmap For Emerging Future</p>
                        
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span  class="float-right font-weight-bold">
                                <a target="_blank" href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtHY0UZUduuLqe2dqj3GLACm">
                                    <img  src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            



               <!--<div class="col-lg-4 col-md-6">

                <div class="card card-cascade wider card-ecommerce">

                    <div class="view view-cascade overlay">
                        <img src="assets/images/Blockchain.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade text-center">


                        <h4 class="card-title">
                            <strong>
                                <a href="">Blockchain</a>
                            </strong>
                        </h4>

                        <p class="card-text">Advanced Course In Blockchain Technology</p>
                        <strong>400 hrs</strong>

                        <div class="card-footer px-1">

                            <span class="float-right">
                                <a style="background: gray" class="btn btn-info" role="button">Details</a>

                            </span>
                        </div>
                    </div>

                </div>

            </div>








            <!--
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/data3.jpg" class="card-img-top" alt="..." style="height: 160px;">
                    <div class="card-body">
                        <h5 class="card-title"> Data Analytics And Predictive Modelling

                        </h5>
                        <p class="card-text">400 hrs</p>
                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/datascience.jpg" class="card-img-top" alt="..." style="height: 167px;">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Data Science </h5>
                        <p class="card-text">400 hrs</p>

                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>

            -->

        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


 