<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> C-DAC: Privacy Policy</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Privacy Policy
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="container">
    <div class="custom-para">



        <p class="text-justify">C-DAC - Website does not automatically capture any specific personal information from
            you, (like name, phone number or e-mail address), that allows us to identify you individually. If the C-DAC
            - Website requests you to provide personal information, you will be informed for the particular purposes for
            which the information is gathered and adequate security measures will be taken to protect your personal
            information.</p>


        <p class="text-justify">We do not sell or share any personally identifiable information volunteered on the C-DAC
            - Website to any third party (public/private). Any information provided to this website will be protected
            from loss, misuse, unauthorized access or disclosure, alteration, or destruction.</p>

        <p class="text-justify">We gather certain information about the User, such as Internet protocol (IP) addresses,
            domain name, browser type, operating system, the date and time of the visit and the pages visited. We make
            no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to
            damage the site has been detected.</p>




    </div>
</div>
