


<div class="container-fluid mt-5" >
    <div class="row">
        <h5>AI News</h5>
    <div *ngFor="let d of  techNewsDisplay" class="col-lg-3 mt-3 mb-3">


        <div class="box">
            <img src="{{d.image}}" style="width: 100%;"> 
            <h5 class="mt-2 mb-2">
             {{d.title}}
            </h5> 
            
            <a class="btn btn-sm btn-dark mt-2" href="{{d.url}}" target="_blank"> 
             Read More
            </a>
        </div>
        
    </div>
    </div>

</div>

