<!--<div
    class="general-container-text small-12 mob-p-content medium-12 tab-p-content large-12 lap-p-content large-12 d-p-content  p-t-0 p-b-0  lap-p-t-0 lap-p-b-15  tab-p-t-0 tab-p-b-0  mob-p-t-0 mob-p-b-0 ">

    <div class="text-center lap-text-center tab-text-center mob-text-center">


        <h2 class="heading">AI Research Areas Across Scientific Domains</h2>




       
    </div>
</div>-->


<section>
    <div class="banner-inner">
        <div class="container1">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">Research Areas Across Scientific Domains</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Research Domains
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--
<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> AI for Health
            </h2>
            <p style="text-align: justify;" class="lead">AI programs are applied to practices such as diagnosis processes, treatment protocol
                development, drug development, personalized medicine, and patient monitoring and care. AI algorithms can
                also be used to analyze large amounts of data through electronic health records for disease prevention
                and diagnosis.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/artificial-intelligence-in-healthcare-MAIN.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>




<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">Technologies Trends towards 5G Networks and SDN
            </h2>
            <p  style="text-align: justify;" class="lead">Health-care is a undergoing rapid transformation from the conventional specialist and hospital-focused style to a distributed patients focused manner. IoT is going to revolutionized  health-care and bring down the cost of the medical devices.5G networks are going to play a major role in order to enable wide spread adoption of IoT. 5G networks are being designed to be flexible and versatile to support new applications, which not only require high data rate, but also other requirements, including massive connectivity, dense deployment, reliability, low-latency, high energy efficiency, and long-range communication to support IoT-based applications.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/5g.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">Energy Harvesting in IoT
            </h2>
            <p  style="text-align: justify;" class="lead">Energy efficiency and long battery lifetime are the crucial importance. We motivate why energy harvesting is important for the IoT ecosystem. We analyze different technique to harvest energy from various sources. The energy harvesting components can acts as secondary power sources or completely replace the batteries. The use of battery as power supply for wireless devices has other drawback of their ability to provide power for a finite amount of time. </p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/bnr-iot-powering-iot-via-energy-harvesting.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">IoT Crop Health Monitoring System
            </h2>
            <p  style="text-align: justify;" class="lead">Monitoring crop health, growth and yield manually over fields extending for acers is difficult. Crop health is important to identify disease out-break and nutrient deficiencies, while crop yield helps in quantifying this seed productivity. The data was mapped and tagged to the fields and then plants based statistics were calculated using proprietary algorithms. These were then processed into map layers that the user could interact. An integrated approach for monitoring crop health using IoT.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/artificial-intelligence-in-healthcare-MAIN.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>


<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">IoT Search Engine
            </h2>
            <p  style="text-align: justify;" class="lead">An IoT search engine is designed for searching a set of IoT resources. IoT search engine respond to queries returning, the IoT resources. Structure of IoT search engine, includes quality of Service (QoS) module. The type of search is conducted based on the data content that is collected by specific target sensors. IoT search engines analyze the content and map the corresponding indexes. IoT search engines need to consider the geographic location changes of mobile IoT devices.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/IoT Search Engine.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>




<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> AI for Cybersecurity </h2>
            <p  style="text-align: justify;" class="lead">Artificial intelligence techniques can be used to learn how to remove noise or unwanted data and to enable security experts to understand the cyber environment in order to detect abnormal activity. AI can also benefit cybersecurity with automated techniques to generate whenever cyber threats are detected.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/cyberSecurity.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>


<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> AI for AgriTech </h2>
            <p  style="text-align: justify;" class="lead">AI-driven AgriTech is developed from cross-section disciplines involving a variety of smart and data-intensive approaches, disruptive technologies– spanning from smart devices, sensors, and big data to drone technology and robotics.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/AgriTech-Startup-leverages-AI-tools.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">AI in cyber security including ML
            </h2>
            <p  style="text-align: justify;" class="lead">Using Machine Learning and Artificial Intelligence, cyber security of the future could have computers monitoring their own networks to detect abnormal behavior that may be an invasive software, even if the activity does not match any known malware signatures. It could also make identity management simpler by cross-checking logins, biometric and other identity marker information across multiple databases.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/AI in cyber security including ML.png"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Cyber physical security
            </h2>
            <p  style="text-align: justify;" class="lead">The aim of cyber physical security is to enhance the products’ quality and systems’ availability and reliability. It  helps in  sensing, computation, control and networking into physical objects and infrastructure, connecting them to the Internet and to each other.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/cyphysec.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>

<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">Supercomputing in cyber security
            </h2>
            <p  style="text-align: justify;" class="lead">supercomputers could analyse regular network traffic to create a model against which they could compare current traffic. As they can analyze, process and react much faster than normal computers, supercomputers can sift through more information than mainframes in a much shorter time. If there are any abnormal activity, these machines could detect and deal with them very quickly.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/super-computing.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>


<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">IoT Integrity in Smart City using Block-chain
            </h2>
            <p  style="text-align: justify;" class="lead">The use and prevelance of IoT devices is on the rise in homes and in cities, many of these devices lack proper security. Integrity-first communication, otherwise known as prioritizing correct communications, is important for many IoT devices. It can be hard to determine a single universal communication protocol for IoT devices because these devices often have different operating systems and configurations. This is even more difficult for IoT devices with limited memory and computational resources as they often lack the space to be able to host a communication protocol.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/IoT Integrity in Smart City using Block-chain.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>




<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Artificial Intelligence in Cyber Security. </h2>
            <p  style="text-align: justify;" class="lead">AI is ideally suited to solve some of our most difficult problems, and cybersecurity certainly falls into that category. AI & Machine learning, help recognize patterns in data to enable security systems learn from past experience.  Combination of both traditional methods of signature based detection and AI can result in 100% detection rate of Anomalies and also minimize false positives.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/cyberSecurity.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div> 



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading">AI for Mobility </h2>
            <p   style="text-align: justify;" class="lead">Organizations use technologies like machine learning, artificial intelligence, and data
                analytics to identify, predict, and solve mobility challenges. Artificial intelligence technology
                enables companies and cities to transition to autonomous mobility — highly individualized and
                environmental-friendly systems</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/mobility.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>




<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Firmware Security. </h2>
            <p   style="text-align: justify;" class="lead">Firmware security aims in protecting the firmware from being exploited by bad actors. Firmware security can be maintained by storing a hash value of their firmware on servers, and program the devices so that they will verify the firmware hash against what is on the servers. Firmware security is important. Proper implementation can make things safer and more secure for the Cyber Space.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/firmware-sec.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div> 


<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Open Source AI </h2>
            <p  style="text-align: justify;" class="lead">Open source artificial intelligence projects don’t always get a lot of publicity, but they
                play a vital role in the development of artificial intelligence. Because these open source projects are
                often pursued as passion projects by developers (sometimes in colleges and universities), the advances
                are creative and particularly forward-looking.</p>
        </div>


        <div class="col-md-5">
            <img src="assets/images/open_source.jpeg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>



<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Digital Forensics. </h2>
            <p  style="text-align: justify;" class="lead">The field of digital forensics has evolved to allow security professionals to examine evidence from the increase in digital devices to help determine what individuals might have done in the past. Digital Forensics can be used in finding evidence from digital media like a computer, mobile phone including audio & video files, server, or network. Digital Forensic can also help in investigating IoT devices like Smart Home creating opportunities for forensic investigators for any type of crime, like cyberattacks</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/Digital forensiic.jpg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div> 


<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Conversational AI</h2>
            <p  style="text-align: justify;" class="lead">Conversational AI is the technology that makes that possible. ... It's a set of technologies
                that allow computers to recognize human language and decipher different languages, comprehend what is
                being said, determine the right response, and respond in a way that mimics human conversation.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/ConversationalAI.jpeg"
                width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>








<div class="container">

    <div class="row featurette-heading d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="heading"> Role of DL in Big Data Analytics </h2>
            <p  style="text-align: justify;" class="lead">This Data Analytics certification course is ideal for all working professionals and prior
                programming knowledge is not required. It covers job-critical topics like data analytics, data
                visualization, regression techniques, and supervised learning in-depth via our Bootcamp learning model
                with live sessions by leading practitioners and industry projects.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/big_data.jpg" width=500 height=400
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>

</div>




-->



<!--

<body  id="dental" style="overflow: visible;">
<section class="specialist mar-top-20">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="section-title">                        
                    <h2><span>Astric</span> Group</h2>                        
                    <h4>Established in 1992 with a noble mission of social transformation by enabling digital solutions, promoting entrepreneurship and skill development initiatives. </h4>
                    <a href="frmAbout.aspx" class="btn btn-default btn-xs">View More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/artificial-intelligence-in-healthcare-MAIN.jpg" alt="image"  >
                            <div class="special-links">
                                <h3>AI programs are applied to practices such as diagnosis processes, treatment protocol development, drug development, personalized medicine, and patient monitoring and care. AI algorithms can also be used to analyze large amounts of data through electronic health records for disease prevention and diagnosis.</h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>AI for Health</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/5g.jpg" alt="image">
                            <div class="special-links">
                                <h3>Health-care is a undergoing rapid transformation from the conventional specialist and hospital-focused style to a distributed patients focused manner. IoT is going to revolutionized health-care and bring down the cost of the medical devices.5G networks are going to play a major role in order to enable wide spread adoption of IoT. 5G networks are being designed to be flexible and versatile to support new applications, which not only require high data rate, but also other requirements, including massive connectivity, dense deployment, reliability, low-latency, high energy efficiency, and long-range communication to support IoT-based applications.</h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>Technologies Trends towards 5G Networks and SDN</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/bnr-iot-powering-iot-via-energy-harvesting.jpg" alt="image">
                            <div class="special-links">
                                <h3>Energy efficiency and long battery lifetime are the crucial importance. We motivate why energy harvesting is important for the IoT ecosystem. We analyze different technique to harvest energy from various sources. The energy harvesting components can acts as secondary power sources or completely replace the batteries. The use of battery as power supply for wireless devices has other drawback of their ability to provide power for a finite amount of time.</h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>Energy Harvesting in IoT</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/IoT Search Engine.jpg" alt="image">
                            <div class="special-links">
                                <h3>An IoT search engine is designed for searching a set of IoT resources. IoT search engine respond to queries returning, the IoT resources. Structure of IoT search engine, includes quality of Service (QoS) module. The type of search is conducted based on the data content that is collected by specific target sensors. IoT search engines analyze the content and map the corresponding indexes. IoT search engines need to consider the geographic location changes of mobile IoT devices.</h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>IoT Search Engine</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/cyberSecurity.jpg" alt="image">
                            <div class="special-links">
                                <h3>Artificial intelligence techniques can be used to learn how to remove noise or unwanted data and to enable security experts to understand the cyber environment in order to detect abnormal activity. AI can also benefit cybersecurity with automated techniques to generate whenever cyber threats are detected.</h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>AI for Cybersecurity</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/AgriTech-Startup-leverages-AI-tools.jpg" alt="image">
                            <div class="special-links">
                                <h3>AI-driven AgriTech is developed from cross-section disciplines involving a variety of smart and data-intensive approaches, disruptive technologies– spanning from smart devices, sensors, and big data to drone technology and robotics. </h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>AI for AgriTech</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/AI in cyber security including ML.png" alt="image">
                            <div class="special-links">
                                <h3>Using Machine Learning and Artificial Intelligence, cyber security of the future could have computers monitoring their own networks to detect abnormal behavior that may be an invasive software, even if the activity does not match any known malware signatures. It could also make identity management simpler by cross-checking logins, biometric and other identity marker information across multiple databases.

                                </h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>AI in cyber security including ML</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="special-main">
                    <div class="special-item">
                        <div class="special-image"> <img style="width: 500; height: 400;" src="assets/images/cyphysec.jpg" alt="image">
                            <div class="special-links">
                                <h3>The aim of cyber physical security is to enhance the products’ quality and systems’ availability and reliability. It helps in sensing, computation, control and networking into physical objects and infrastructure, connecting them to the Internet and to each other.

                                </h3>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                        <div class="special-content">
                            <h4>Cyber physical security</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
-->


<div id="main_container">
    <section class="share_links_wrap">
        <div class="share_links_wrap_inner">

            <div class="share_links">

            </div>
        </div>
    </section>
    <div class="row">
        <div class="flex_main_container col-md-12">

            <div id="main_content" class="areanav-false sidebar-false">
                <main>
                    <article id="main_content_inner">
                        <a id="main-content" tabindex="-1"></a>
                        <div>

                            <div id="block-nimhtheme-content" class="block block-system block-system-main-block">




                                <div data-history-node-id="1777" role="article"
                                    about="/research/research-funded-by-nimh/rdoc"
                                    class="node node--type-basic-page node--view-mode-full clearfix">


                                    <div class="node__content clearfix">
                                        <div data-fieldname="field_content_before_body">











                                            <div class="row">
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5020">
                                                            <a> <span><img
                                                                        src="assets/images/AiHealth.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(4, 122, 73, 0.6);">AI for
                                                                        Health</h2>
                                                                    <p>AI programs are applied to practices such as
                                                                        diagnosis processes, treatment protocol
                                                                        development, drug development, personalized
                                                                        medicine, and patient monitoring and care. AI
                                                                        algorithms can also be used to analyze large
                                                                        amounts of data through electronic health
                                                                        records for disease prevention and diagnosis.
                                                                    </p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img src="assets/images/Conversational_AI.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(104, 48, 95, 0.6);">
                                                                        Conversational AI</h2>
                                                                    <p>Conversational AI is the technology that makes
                                                                        that possible. ... It's a set of technologies
                                                                        that allow computers to recognize human language
                                                                        and decipher different languages, comprehend
                                                                        what is being said, determine the right
                                                                        response, and respond in a way that mimics human
                                                                        conversation.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Harvesting.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(61, 18, 218, 0.6);">
                                                                        Energy
                                                                        Harvesting in IoT</h2>
                                                                    <p>Energy efficiency and long battery lifetime are
                                                                        the crucial importance.We motivate why energy
                                                                        harvesting is important for the IoT ecosystem.
                                                                        We analyze different technique to harvest energy
                                                                        from various sources.The energy harvesting
                                                                        components can acts as secondary power sources
                                                                        or completely replace the batteries.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/mobility.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgb(149, 173, 13);">AI for
                                                                        Mobility</h2>
                                                                    <p>Organizations use technologies like machine
                                                                        learning, artificial intelligence, and data
                                                                        analytics to identify, predict, and solve
                                                                        mobility challenges. Artificial intelligence
                                                                        technology enables companies and cities to
                                                                        transition to autonomous mobility — highly
                                                                        individualized and environmental-friendly
                                                                        systems</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>

                                              
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/search-engine.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(2, 105, 74, 0.6);">IoT
                                                                        Search Engine</h2>
                                                                    <p>An IoT search engine is designed for searching a
                                                                        set of IoT resources. IoT search engine respond
                                                                        to queries returning, the IoT resources.
                                                                        Structure of IoT search engine, includes quality
                                                                        of Service (QoS) module. The type of search is
                                                                        conducted based on the data content that is
                                                                        collected by specific target sensors.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Ai_Cyber.png"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(233, 19, 19, 0.6);">AI for
                                                                        Cybersecurity</h2>
                                                                    <p>Artificial intelligence techniques can be used to
                                                                        learn how to remove noise or unwanted data and
                                                                        to enable security experts to understand the
                                                                        cyber environment in order to detect abnormal
                                                                        activity. AI can also benefit cybersecurity with
                                                                        automated techniques to generate whenever cyber
                                                                        threats are detected.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Ai_Agricultural.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(213, 236, 4, 0.6);">AI
                                                                        for
                                                                        AgriTech</h2>
                                                                    <p>AI-driven AgriTech is developed from
                                                                        cross-section disciplines involving a variety of
                                                                        smart and data-intensive approaches, disruptive
                                                                        technologies– spanning from smart devices,
                                                                        sensors, and big data to drone technology and
                                                                        robotics.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/ai-ml-cybersecurity.png"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(104, 70, 48, 0.6);">AI
                                                                        in
                                                                        cyber security including ML</h2>
                                                                    <p>Using Machine Learning and Artificial
                                                                        Intelligence, cyber security of the future could
                                                                        have computers monitoring their own networks to
                                                                        detect abnormal behavior that may be an invasive
                                                                        software, even if the activity does not match
                                                                        any known malware signatures. </p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Physical_Cyber.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(30, 168, 127, 0.6);">
                                                                        Cyber
                                                                        physical security</h2>
                                                                    <p>The aim of cyber physical security is to enhance
                                                                        the products’ quality and systems’ availability
                                                                        and reliability. It helps in sensing,
                                                                        computation, control and networking into
                                                                        physical objects and infrastructure, connecting
                                                                        them to the Internet with each other.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Supercomputing_cyber.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(119, 20, 128, 0.6);">
                                                                        Supercomputing in cyber security</h2>
                                                                    <p>supercomputers could analyse regular network
                                                                        traffic to create a model against which they
                                                                        could compare current traffic. As they can
                                                                        analyze, process and react much faster than
                                                                        normal computers, supercomputers can sift
                                                                        through more information than mainframes in a
                                                                        much shorter time.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/IoT Integrity in Smart City using Block-chain.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(20, 67, 143, 0.6);">IoT
                                                                        Integrity in Smart City using Block-chain</h2>
                                                                    <p>The use and prevelance of IoT devices is on the
                                                                        rise in homes and in cities, many of these
                                                                        devices lack proper security. Integrity-first
                                                                        communication, otherwise known as prioritizing
                                                                        correct communications, is important for many
                                                                        IoT devices.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img src="assets/images/cyberSecurity.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(58, 77, 71, 0.6);">
                                                                        Artificial Intelligence in Cyber Security.</h2>
                                                                    <p>AI is ideally suited to solve some of our most
                                                                        difficult problems, and cybersecurity certainly
                                                                        falls into that category. AI & Machine learning,
                                                                        help recognize patterns in data to enable
                                                                        security systems learn from past experience.
                                                                    </p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img src="assets/images/firmware-sec.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(6, 209, 6, 0.6);">
                                                                        Firmware Security.</h2>
                                                                    <p>Firmware security aims in protecting the firmware
                                                                        from being exploited by bad actors. Firmware
                                                                        security can be maintained by storing a hash
                                                                        value of their firmware on servers, and program
                                                                        the devices so that they will verify the
                                                                        firmware hash against what is on the servers.
                                                                        Firmware security is important.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5019">
                                                            <a> <span><img
                                                                        src="assets/images/Iot_crop_Health.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(4,79,122,0.6);">IoT Crop
                                                                        Health Monitoring System
                                                                    </h2>
                                                                    <p>Monitoring crop health, growth and yield manually
                                                                        over fields extending for acers is difficult.
                                                                        Crop health is important to identify disease
                                                                        out-break and nutrient deficiencies, while crop
                                                                        yield helps in quantifying this seed
                                                                        productivity. The data was mapped and tagged to
                                                                        the fields and then plants based statistics were
                                                                        calculated using proprietary algorithms. </p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>


                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img src="assets/images/open_source.jpeg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(104, 48, 95, 0.6);">Open
                                                                        Source AI</h2>
                                                                    <p>Open source artificial intelligence projects
                                                                        don’t always get a lot of publicity, but they
                                                                        play a vital role in the development of
                                                                        artificial intelligence. Because these open
                                                                        source projects are often pursued as passion
                                                                        projects by developers (sometimes in colleges
                                                                        and universities), the advances are creative and
                                                                        particularly forward-looking.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img
                                                                        src="assets/images/Digital_Forensics.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(9, 202, 144, 0.6);">
                                                                        Digital Forensics.</h2>
                                                                    <p>The field of digital forensics has evolved to
                                                                        allow security professionals to examine evidence
                                                                        from the increase in digital devices to help
                                                                        determine what individuals might have done in
                                                                        the past. Digital Forensics can be used in
                                                                        finding evidence from digital media like a
                                                                        computer, mobile phone including audio & video
                                                                        files, server, or network. </p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>

                                                   <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5017">
                                                            <a> <span><img
                                                                        src="assets/images/IoT5G.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(38,38,96,0.6);">
                                                                        Technologies Trends towards 5G Networks and SDN
                                                                    </h2>
                                                                    <p>Health-care is a undergoing rapid transformation
                                                                        from the conventional specialist and
                                                                        hospital-focused style to a distributed patients
                                                                        focused manner. IoT is going to revolutionized
                                                                        health-care and bring down the cost of the
                                                                        medical devices.5G networks are going to play a
                                                                        major role in order to enable wide spread
                                                                        adoption of IoT.</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 centered small-pad">
                                                    <div class="grid">
                                                        <figure class="effect-sadie" data-nid="5018">
                                                            <a> <span><img src="assets/images/Big_Data_Analytics.jpg"
                                                                        width="336" height="375"></span>
                                                                <figcaption>

                                                                    <h2 style="background: rgba(15, 119, 71, 0.6);">Role
                                                                        of DL in Big Data Analytics</h2>
                                                                    <p>Big Data Analytics and Deep Learning are two high-focus of data science. Big Data has become important as many organizations both public and private have been collecting massive amounts of domain-specific information, which can contain useful information about problems such as national intelligence</p>

                                                                </figcaption>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </article>
                </main>
            </div>
        </div>
    </div>
</div>