.heading {
  color: #76b900;
}
.col-md-5{
  overflow: hidden;
}
.col-md-5 img{
  transition: all 1.5s ease;
}
.col-md-5:hover img{
  transform: scale(1.5);
}



.banner-inner {
  width: 100%;
  height: 145px;
  background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
  background-size: cover;
}

.text-center {
  text-align: center;
}


.banner-inner .breadcrumb {
  margin: 0px auto;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 35px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
}

.breadcrumb {
  padding: 8px 15px;
}

ol {
 
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
  display: inline-block;
  font-size: 14px;
  color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
  color: #cbcbcb;
  font-weight: 400;
  
  transition: all 0.3s ease-in-out;
}

a, a:hover {
  text-decoration: none;
}
a {
  background-color: transparent;
}

.banner-inner .breadcrumb > .active {
  color: #00aced;
  font-weight: 500;
}
.banner-inner .breadcrumb > li {
  display: inline-block;
  font-size: 14px;
  
}



.banner-inner h1 {
  color: #fff;
  margin-top: 35px;
  
  margin-bottom: 5px !important;
  padding-top: 30px;
  padding-bottom: 0px;
}


.sect_head {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
 
}


.container{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: ghostwhite;
}



.grid {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding:45px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 1000px;
  list-style: none;
  text-align: center; }

.grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px;
  max-width: 780px;
  max-height: 780px;
  width: 100%;
  background: #414141;
  text-align: center;
  cursor: pointer; }

.grid figure h2 {
  color: #fff !important;
  font-size: 22px;
  text-shadow: 1px 1px 1px #111;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.9; }

.grid figure figcaption, .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.small-pad {
  padding: 0 10px 20px 10px; }

.group.rdoc-bot-nav {
  padding: 15px; }

.rdoc-bot-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 15px 0 0 0;
  list-style-type: none; }

.rdoc-bot-nav ul li {
  flex: 0 1 auto;
  flex-grow: 1;
  flex-basis: 25%;
  background: #005395;
  margin: 0;
  padding: 15px 0 !important;
  text-align: center;
  font-weight: 700;
  border: 1px solid #d8d8d8; }

.rdoc-bot-nav ul li a {
  padding-left: 0 !important;
  color: #fff !important; }

.rdoc-bot-nav ul li a:before {
  width: 0 !important;
  margin-left: 0 !important; }

/*---------------*/
/**Sadie Effect***/
/*---------------*/
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s; }

figure.effect-sadie h2 {
  position: absolute;
  top: 65%;
  left: 15%;
  width: 70%;
  color: #484c61;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-sadie p {
  position: absolute;
  top: 36%;
  left: 0;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 1px #111;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 4.5em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 60px, 0); }

figure.effect-sadie:hover h2 {
  color: #fff;
  -ms-transform: translate(0, -135px);
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -100px, 0); }

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-sadie:hover img {
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

