<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">


                        Gallery</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Video Gallery</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>










<br>
<br>
<br>








<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="row mb-5">

            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;"
                    class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="height: 255px;border-radius: 20px;" src="assets/images/rphoto.jpg"
                            class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">REPUBLIC DAY 26 JAN 2021</a>
                            </strong>
                        </h4>

                        <!-- Description -->
                        <p style="color: azure;" class="card-text">3 photos </p>
                        <br>
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a target="_blank"
                                    >
                                    <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;"
                    class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="height: 255px;border-radius: 20px;" src="assets/images/fphoto.jpg"
                            class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">AFCAT VII REGIONAL CENTER 2021</a>
                            </strong>
                        </h4>

                        <!-- Description -->
                        <p style="color: azure;" class="card-text">2 photos </p>
                        <br>
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a target="_blank"
                                   >
                                    <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>

            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!-- Card -->
                <div style="border-radius: 20px; background-color: black;"
                    class="card card-cascade wider card-ecommerce">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img style="height: 255px;border-radius: 20px;" src="assets/images/mphoto.jpg"
                            class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Category & Title -->

                        <h4 class="card-title">
                            <strong>
                                <a style="color: azure;">Mahila Udyog Mela 2021</a>
                            </strong>
                        </h4>

                        <!-- Description -->
                        <p style="color: azure;" class="card-text">7 photos</p>
                        <br>
                        <!-- Card footer -->
                        <div style="background-color: azure;" class="card-footer px-1">
                            <span class="float-right font-weight-bold">
                                <a target="_blank"
                                   >
                                    <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                            </span>

                        </div>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->
            </div>

            


            <!--<div class="col-lg-4 col-md-6">

                <div class="card card-cascade wider card-ecommerce">

                    <div class="view view-cascade overlay">
                        <img src="assets/images/Blockchain.gif" class="card-img-top" alt="E-commerce">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade text-center">


                        <h4 class="card-title">
                            <strong>
                                <a href="">Blockchain</a>
                            </strong>
                        </h4>

                        <p class="card-text">Advanced Course In Blockchain Technology</p>
                        <strong>400 hrs</strong>

                        <div class="card-footer px-1">

                            <span class="float-right">
                                <a style="background: gray" class="btn btn-info" role="button">Details</a>

                            </span>
                        </div>
                    </div>

                </div>

            </div>








            <!--
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/data3.jpg" class="card-img-top" alt="..." style="height: 160px;">
                    <div class="card-body">
                        <h5 class="card-title"> Data Analytics And Predictive Modelling

                        </h5>
                        <p class="card-text">400 hrs</p>
                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <img src="assets/images/datascience.jpg" class="card-img-top" alt="..." style="height: 167px;">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Data Science </h5>
                        <p class="card-text">400 hrs</p>

                        <a style="background: gray" class="btn btn-info" role="button">Details</a>
                    </div>
                </div>


            </div>

            -->

        </div>
    </div>


    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="row mb-5">
    
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!-- Card -->
                    <div style="border-radius: 20px; background-color: black;"
                        class="card card-cascade wider card-ecommerce">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img style="height: 255px;border-radius: 20px;" src="assets/images/constitution.jpg"
                                class="card-img-top" alt="E-commerce">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Category & Title -->
    
                            <h4 class="card-title">
                                <strong>
                                    <a style="color: azure;">Constitution Day 2020</a>
                                </strong>
                            </h4>
    
                            <!-- Description -->
                            <p style="color: azure;" class="card-text">2 photos </p>
                            <br>
                            <!-- Card footer -->
                            <div style="background-color: azure;" class="card-footer px-1">
                                <span class="float-right font-weight-bold">
                                    <a target="_blank"
                                       >
                                        <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                                </span>
    
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
    
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!-- Card -->
                    <div style="border-radius: 20px; background-color: black;"
                        class="card card-cascade wider card-ecommerce">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img style="height: 255px;border-radius: 20px;" src="assets/images/sphoto.jpg"
                                class="card-img-top" alt="E-commerce">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Category & Title -->
    
                            <h4 class="card-title">
                                <strong>
                                    <a style="color: azure;">STAR EXAM V 2020</a>
                                </strong>
                            </h4>
    
                            <!-- Description -->
                            <p style="color: azure;" class="card-text">3 photos </p>
                            <br>
                            <!-- Card footer -->
                            <div style="background-color: azure;" class="card-footer px-1">
                                <span class="float-right font-weight-bold">
                                    <a target="_blank"
                                       >
                                        <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                                </span>
    
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
    
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!-- Card -->
                    <div style="border-radius: 20px; background-color: black;"
                        class="card card-cascade wider card-ecommerce">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img style="height: 255px;border-radius: 20px;" src="assets/images/pphoto.jpg"
                                class="card-img-top" alt="E-commerce">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Category & Title -->
    
                            <h4 class="card-title">
                                <strong>
                                    <a style="color: azure;">SARASWATI PUJA 2021</a>
                                </strong>
                            </h4>
    
                            <!-- Description -->
                            <p style="color: azure;" class="card-text">10 photos</p>
                            <br>
                            <!-- Card footer -->
                            <div style="background-color: azure;" class="card-footer px-1">
                                <span class="float-right font-weight-bold">
                                    <a target="_blank"
                                      >
                                        <img src="assets/images/vedio.png" alt="Zee News" border="0"></a>
                                </span>
    
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
    

            </div>
        </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

