<section>
    <div class="banner-inner">
        <div class="container1">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">OUTREACH PROGRAM</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Outreach program</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--
<div class="body">
    <div class="container">
        <div id="pg-2-3" class="panel-grid panel-has-style">

            <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-2-3" data-stretch-type="full"
                style="margin-left: -25px; margin-right: -25px; padding-left: 25px; padding-right: 25px; border-left: 0px; border-right: 0px;">
                <div id="pgc-2-3-0" class="panel-grid-cell">
                    <div id="panel-2-3-0-0" class="so-panel widget widget_nav_menu panel-first-child panel-last-child">
                        <div class="menu-trending-topics-container">
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div id="rcorners2" class="col-md-4"
                                    style="background-image: url('assets/images/cyber.jpg')">
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                    <a routerLink="/cyber-security"
                                        >
                                        <h2
                                            style="color: aliceblue;font-size: 30px; margin-top: 115px;font-weight: bolder;">
                                            Cyber Security
                                        </h2>
                                    </a>
                                    <!--<a>
                                        <img routerLink="/cyber-security" class="h" src="assets/images/arrow.png"
                                            style="height: 40px; width: 40px;">
                                    </a>-->

  <!--                              </div>
                                <div class="col-md-2">

                                </div>

                                <div id="rcorners2" class="col-md-4"
                                    style="background-image: url('assets/images/ai7.jpg')">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <a routerLink="/AI"
                                       >
                                        <h2
                                            style="color: aliceblue;font-size: 30px; margin-top: 115px;font-weight: bolder;">
                                            Artificial Intelligence
                                        </h2>
                                    </a>
                                    <!--<a>
                                        <img routerLink="/AI" class="h" src="assets/images/arrow.png"
                                            style="height: 40px; width: 40px;">
                                    </a>-->
  <!--                                 </div>
                                <div class="col-md-1">

                                </div>


                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div id="rcorners2" class="col-md-4"
                                    style="background-image: url('assets/images/IoT.jpg')">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <a routerLink="/IoT"
                                      >
                                        <h2
                                            style="color: aliceblue;font-size: 30px; margin-top: 115px;font-weight: bolder;">
                                            Internet Of Things
                                        </h2>
                                    </a>
                                    <!--<a routerLink="/IoT"><img class="h" src="assets/images/arrow.png"
                                            style="height: 40px; width: 40px;"></a>-->
    <!--                               </div>
                                <div class="col-md-2">

                                </div>

                                <!--
                                <div id="rcorners2" class="col-md-4"
                                    style="background-image: url('assets/images/Emerging-Technologies11.jpg')">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <a  routerLink="/webinars"
                                        target="_blank">
                                        <h2
                                            style="color: aliceblue;font-size: 30px; margin-top: 115px;font-weight: bolder;">
                                            Emerging Technologies
                                        </h2>
                                    </a>
                                    <!--<a routerLink="/webinars"><img class="h" src="assets/images/arrow.png"
                                        style="height: 40px; width: 40px;"></a
                                </div>
                                <div class="col-md-1">

                                </div>


                            </div>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

-->
















<div class="container" style="margin-top: 2%;">
    <div class="row">
      <div class="col">
        <div class="main-timeline">
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">Mar'21<br>
              
              </span>
              <div class="timeline-icon">
                <i class="fa fa-rocket" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Artificial Intelligence</h3>
                <p class="description">
                  This series of webinars was designed to educate and inspire aspiring minds in the field of Data Science and Artificial Intelligence.
                  The series was scheduled from 20th March 2021 to 02nd May 2021, on each Saturday and Sunday.
                  
                  The objective of the Webinar Series was to bring together the experts from industry and academia to exchange their innovative research and share their experience in the field of Data Science and Artificial Intelligence
                </p>
                <h3 style="color:#65c7d0">Total Participant 174</h3>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">June'21
             
              </span>
              <div class="timeline-icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Cyber Security</h3>
                <p class="description">
                  This interactive, four-day security awareness session will provide the skills and knowledge to effectively address key personal security considerations in different risk environments.

                  The objective of this program is to nurture the culture of security aspects in our day to day life. It will create a secure-minded workforce and will help in protecting the organization’s reputation.
                  
                  It aims to equip employees with the knowledge they need to combat these threats. Employees cannot be expected to know what threats exist or what to do about them on their own. They need to be taught what their employers consider risky or acceptable, what clues to look for that indicate threats, and how to respond when they see them.
                </p>
                <h3 style="color:#EA3C14;">Total Participant 263</h3>
              
              </div>
            </a>
          </div>
          <div class="timeline">
            <a  class="timeline-content">
              <span class="timeline-year">July'21
    
              </span>
              <div class="timeline-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Career Opportunities on Emerging Technologies</h3>
                <p class="description">
                  With the vision of career prospect awareness in advanced technologies like AI, IoT, Blockchain, Data Science and Cyber Security; we arranged a 02 Day Webinar on “Expert Guidance & Career Opportunities on Emerging Technologies” on 15th July and 16th July (11:30 AM to 12:30 PM).

                  Targeted Audience was Graduate and Post Graduate Fresher’s in Engineering or Science Stream And the IT Professional who were looking for Career Change in Advanced Technologies.
                  
                  This Webinar was very helpful for participants to identify the career goals, set the education milestones and derive the clear pathways to achieve it.
                </p>
                <h3 style="color:#8CC63E;">Total Participant 745</h3>
              </div>
            </a>
          </div>
 

        <div class="timeline">
            <a class="timeline-content">
              <span class="timeline-year">July'21
              
              </span>
              <div class="timeline-icon">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
              <div class="content"> 
                <h3 class="title">Internet of Things</h3>
                <p class="description">
                  In this five day webinar series we had talked about emerging technologies of future.The major focus of this webinar was IoT and different aspects of IoT.

                  The objective of this program was to make participants familiar with IoT and its increasing use with advancement in industries.The webinar has provided essential information regarding the current trends.
                  
                  The aim of this webinar was to ignite the curiosity of the participants regarding the emerging technology.
                </p>
                <h3 style="color:#F99324;">Total Participant 78</h3>
              </div>
            </a>
          </div>

                 <!--
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Angular</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-apple" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Laravel</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Creapure</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
           --> 
    </div>
      </div>
    </div>
  </div>    

