.banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
}

.text-center {
    text-align: center;
}


.banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb {
    padding: 8px 15px;
}

ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
}

.banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}

.banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
}
.banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
}



.banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
}


.sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
}



.custom-para {
    padding: 15px;
}



.text-justify {
    text-align: justify;
}

p {
    margin: 0 0 10px;
}


.custom-row-margin {
    margin-left: 0;
    margin-right: 0;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.brand-danger-new , .brand-info-new, .brand-primary-new, .brand-success-new, .brand-warning-new {
    color: #fff;
   
    border-radius: 10px 10px 10px 0;
    padding: 8px;
    position: relative;
}

.brand-danger-new > a{
    color: #fff;  
}

.brand-info-new > a{
    color: #fff;   
}

.brand-primary-new > a{
    color: #fff;     
}

.brand-success-new > a{
    color: #fff;  
}

.brand-warning-new > a{
    color: #fff;   
}


.brand-primary-new {
    background-color: #428bca;
}

.text-left {
    text-align: left;
}
.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.brand-success-new {
    background-color: #5cb85c;
}

.brand-warning-new {
    background-color: #f0ad4e;
}
.brand-danger-new {
    background-color: #d9534f;
}