<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> C-DAC: Legal Notices & Copyright Policy</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Copyright Policy
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>





<div class="container">
    <div class="custom-para">

        <br>
        <br>
        <br>
       


        <p class="text-justify">Material featured on this Portal may be reproduced free of charge after taking proper
            permission by sending a mail to us. However, the material has to be reproduced accurately and not to be used in
            a derogatory manner or in a misleading context. Wherever the material is being published or issued to others,
            the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend
            to any material which is identified as being copyright of a third party. Authorization to reproduce such
            material must be obtained from the departments/ copyright holders concerned.</p>
    
    
        <p>&nbsp;</p>
    
    
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
