

.section-bottom {
    padding-bottom: 0px;
  }
  .bg-blue {
    background: #003a79;
  }
  
  section {
    display: block;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .digital-oppurtunity-image {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -51vw;
  }
  
  .w-100 {
    width: 100%!important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-container {
    margin-top: 0px;
  }
  }*/
  
  .ml-auto, .mx-auto {
    margin-left: auto!important;
  }
  
  .col-12 {
   
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  /*col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }*/
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-text-container {
    margin-top: 0px;
  }
  }*/
  
  .bottom60 {
    margin-bottom: 60px;
  }
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  
  .section-title h1 {
    font-size: 2rem;
  }
  
  .section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
   
    margin-bottom: 0px;
  }
  .text-white {
    color: #ffffff!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  
  }
  h1 {
    display: block;
   
    font-weight: bold;
  }
  
  /*@media screen and (max-width: 767px){
  .digital-oppurtunity-row {
    margin-top: 0px;
    padding-left: 20px;
  }}*/
  
  .justify-content-center {
    
    justify-content: center!important;
  }
  /*.row {
    
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }*/
  
  .col-1, .col-10, .col-11, .col-12, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  .digital-oppurtunity-col img {
    margin-bottom: 20px;
    min-height: 100px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .img {
   
    -webkit-backface-visibility: hidden;
  }
  
  .img {
    vertical-align: middle;
    border-style: none;
  }
  
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  .text-yellow {
    color: #FFC525!important;
  }
  
  .h2, h2 {
    font-size: 2rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    
    margin-bottom: .5rem;
  }
  h2 {
    display: block;
  
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
  }
  .text-white {
    color: #ffffff!important;
  }
  p {
    line-height: 1.5;
  }
  p {
    margin: 0 0 15px 0;
  }
  
  .bottom20 {
    margin-bottom: 20px;
  }
  .col-12 {
    
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .digital-oppurtunity-col img {
    margin-bottom: 20px;
    min-height: 100px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  
  .section-title {
    position: relative;
    font-family: 'source_sans_probold';
  }
  .text-yellow {
    color: #FFC525!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .h2, h2 {
    font-size: 2rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  
  .bg-yellow {
    background: #FFC525;
  }
  .text-blue {
    color: #0B2D74!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'source_sans_probold';
  }
  
  .text-blue {
    color: #0B2D74;
  }
  p {
    line-height: 1.5;
  }
  p {
    margin: 0 0 15px 0;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  
  #circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #circle {
    position: relative;
    background-color: #7560e1;
    margin: 10px auto;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    
  }
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0B2D74;
    font-size: 30px;
  }
  
  #circle1{
    position: relative;
    background-color: #fff;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 200px ;
  }
  
  
  
  .banner-inner {
    width: 100%;
    height: 130px;
    background: url(https://sunbeaminfo.in/img/inner-banner.jpg) no-repeat top center;
    background-size: cover;
  }
  
  .text-center {
    text-align: center;
  }
  
  
  .banner-inner .breadcrumb {
    margin: 0px auto;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
  }
  
  .breadcrumb {
    padding: 8px 15px;
  }
  
  ol {
   
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    color: #cbcbcb;
  }
  
  .banner-inner .breadcrumb > li > a {
    color: #cbcbcb;
    font-weight: 400;
    
    transition: all 0.3s ease-in-out;
  }
  
  a, a:hover {
    text-decoration: none;
  }
  a {
    background-color: transparent;
  }
  
  .banner-inner .breadcrumb > .active {
    color: #00aced;
    font-weight: 500;
  }
  .banner-inner .breadcrumb > li {
    display: inline-block;
    font-size: 14px;
    
  }
  
  
  
  .banner-inner h1 {
    color: #fff;
    margin-top: 35px;
    
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  
  .sect_head {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
   
  }
  
  
  
  
  .container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: xx-large;
  }
  
  
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 40px;
    margin-bottom: 6px;
  
    
  }
  
  .centered3{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 40px;
  
  
    
  }
  
  
  .centered1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  
  }
  
  .centered2{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  
  
  }
  
  
  .footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background: #343a40;
    color: White;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
  
    bottom: 0px;
    width: 100%;
    }
  
  
  
  
  
  
  