<!--<div class="main-header" style="background-image: url('https://governmenttechnologyinsider.com/wp-content/uploads/2018/08/shutterstock_650051500.jpg');">
  <div class="row">

    <div class="logo">

      <div class="container ">
        <div class="row align-items-center pt-5">
          <div class="col left">
            <div class="card">
              <div class="card-header">
                <h4 style="text-align: center;">DEHCS</h4>
              </div>



              <div class="card-body">
                <a routerLink="/diplomapage">
                  <input type="submit" value="Details" name="dehcs_details" id="dehcs_details" class="btn btn-success">
                </a>
              </div>
            </div>

          </div>

          <div class="col right">
            <div class="card">
              <div class="card-header">
                <h4 style="text-align: center;">CTF</h4>
              </div>
              <div class="card-body">
                <a routerLink="/ctfpage">
                  <input type="submit" value="Details" name="ctf_details" id="ctf_details" class="btn btn-success">
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>


    </div>

  </div>



</div>-->


<!--<section>
  <div class="banner-inner">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                      data-wow-delay="0.5s"> CDAC PATNA Capture_the_flag (CPAT-CTF) Competition </h1>
                  <h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
<!--<div class="text-center">
                      <ol class="breadcrumb">
                          <!--<li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                          </li>
                          <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Collaborators</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>-->



<div class="container1">
  <!--<div class="bottom-left">
    <img style="height: 150px; width: 200px;" src="assets/images/regfee.png">
  </div>-->
  <!--<div class="top-right"><button routerLink="/ctfpage" style="width: 100px;font-size: large; color: #013a79;"
      type="button" class="btn btn-warning">Login</button></div>-->
  <img src="assets/images/banner.jpg" alt="Snow" style="width:100%; height: 600px; text-align: justify;">
  <div class="centered1"> <img src="assets/images/logo7.png"></div>
  <br>
  <div class="centered">Welcome to the "C-DAC PATNA Capture The Flag" (CPAT-CTF) Event</div>

<!--
  <div class="centered2"><button routerLink="/ctfregister" style="width: 150px;font-size: small; color: #013a79;"
      type="button" class="btn btn-warning">CTF Registration</button></div>
      -->

  <div></div>



</div>
<!--
<div style="height:60px;background: #f2b439;margin-top: 10px;">
  <marquee behavior="scroll" direction="left">
    <a routerLink="/ctfregister">
      <h1 style="margin:10px; color: black;">
        &nbsp;!!Grab the opportunity!! Registration is Open
      </h1>
    </a>
  </marquee>
</div>
-->
<!--<div style="text-align: center;">
 <a style="color: rgb(34, 18, 126);" href="ctfhome">
    << Home</a>
</div>-->
<div style="text-align: center;background-color: #072235; color: white;">
  <!--<a style="color: white;" href="ctfhome">
    << Home</a>-->

  <!--<img style="height: 300px; width: 400px;" src="assets/images/money.png">-->
  <p>
    <img style="width: 300px; height: 300px;" src="assets/images/cprize1.png">
    <img style="width: 275px; height: 275px;" src="assets/images/prize2.png">
    <img style="width: 250px; height: 250px;" src="assets/images/prize3.png">
    <img style="width: 200px; height: 200px;" src="assets/images/prize4.png">
    <img style="width: 180px; height: 180px;" src="assets/images/prize5.png">
  </p>

</div>



















<section class="section-bottom bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-4">


        <h2 style="margin-top: 20px; color:#0B2D74  ;">
          <span class="glyphicon glyphicon-link">

          </span>

          Important Dates
        </h2>
        <li style="font-size: large; color:#0B2D74  ;">Registration Start : 15/10/2021 (10 AM onwards)</li>
        <li style="font-size: large; color:#0B2D74  ;">Registration End : 28/10/2021 (Till 06 PM)</li>
        <li style="font-size: large; color:#0B2D74  ;">CTF Event : 29/10/2021 (10 AM to 10 PM) </li>






        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">About CPAT-CTF

            </h1>
          </div>
        </div>
        <p style=" color: #0B2D74 ;font-size: x-large; text-align: justify" class="text-blue">
          Capture-the-Flag event is computer security competition. Participants compete in security-themed challenges
          for the purpose of capturing flags.
          CTFs have increased in popularity as they attract a higher number of young talents each year.
          CTFs help develop the essential skills required to follow a career path in cybersecurity.

        </p>
        <p style=" color: #0B2D74 ;font-size: x-large; text-align: justify" class="text-blue">

          Teams or just individuals test their skills against each other to find who has indepth computer knowledge &
          skill.
          <br>
          CPAT-CTF-2021 is a 12-Hours long, live Capture-the-flag Competition.
        </p>

        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>
          <br>
          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">
            </h1>
          </div>



        </div>








        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Who is This For?
            </h1>
          </div>
        </div>

        <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">
          Whether you've just started your hacking journey or you're just looking for some new CTF challenges,
          the CPAT-CTF-2021 might help you for a good start.
        </p>


        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <!-- <a routerLink="/subscribe">
            <img
              alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
              class="img-fluid" style="height: 150px;" src="assets/images/register.png">
          </a>-->



        </div>








      </div>
      <!--<div id="circle">
              <div id="circle1">
                  <div id="text"><a style="color: #013a79;" href="home">Register GOT </a></div>
              </div>
             
            </div>-->



    </div>
    <!--<div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
              <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Government officials
                  training

              </h1>
          </div>
      </div>-->

    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
          FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
          Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
          Resource Centre for institutionalizing blended learning mechanisms in specific emerging
          technologies.
      </p>-->
    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
          government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
          the emerging technologies and get the internal technical manpower trained. Such training requirements would
          span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
      </p>-->
    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
          academia luminaries shall share best practices and techniques to help realize the potential of these
          technologies.


      </p>-->


  </div>
  <br>


</section>






<section class="section-bottom bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">


        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xx-large;" style="color: aliceblue; font-size:40px;">How To Play

            </h1>
          </div>
        </div>
        <p style=" color: aliceblue ;font-size: x-large;text-align: justify;">

          CPAT-CTF-2021 is of "Jeopardy-style"
          <br>
          The CPAT-CTF-2021 is classified into 05 different levels: Web Exploitation, Cryptography, Forensics, Reverse
          Engineering,
          Networking&Exploit.



          Each level contains 5 flags based on the severity.
          <br>
          You'll be searching for the flags, using your skills and tools you know.
          Flags are placed in various locations -- it might be in a file, in the database, stuck into source code,etc.
          Your goal should be finding all the flags and earn maximum points.


          <br> You can play through the levels in any order you want.
          More than anything else, the motive is to learn and have fun doing it.



        </p>
        <p style=" color: aliceblue ;font-size: x-large; text-align: justify;">


        </p>
        <p>
          <img style="width: 200px; height: 200px;" src="assets/images/Cryptography.jpg">
          <img style="width: 200px; height: 200px;" src="assets/images/Web.png">
          <img style="width: 200px; height: 200px;" src="assets/images/networking.png">
          <img style="width: 200px; height: 200px;" src="assets/images/reverse.jpg">
          <img style="width: 200px; height: 200px;" src="assets/images/Forensics.jpg">
        </p>




        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>
          <br>
          <div class="whoisthisfor-text-container">
            <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">
            </h1>
          </div>



        </div>








        <div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
            <h1 style=" color: aliceblue; font-size: xx-large;"> Get Started!
            </h1>
          </div>
        </div>

        <p style=" color:aliceblue ;font-size: x-large;">


        </p>

        <p style=" color:aliceblue ;font-size: x-large;"> In order to play CPAT-CTF you need to Sign up & have to pay
          Registration charges as Rs.250 INR.
          <br>
          Once you have Registred, you'll be able to login with the Email Id and password that you have specfied.
          <br>
          Once you login, you will have access to download the Virtual machine that has all the flags hidden inside it.
          <br>
          As soon as you find a flag you need to submit the flag, and the status for the submitted flags will be
          updated.
          <br>
          Whether you're beginner or a professional hacker,you must atleast try CPAT-CTF.
        </p>


        <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img
                      alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
                      class="img-fluid" src="assets/images/who-is-this-for-banner.png">


              </div>-->








      </div>
      <!--<div id="circle">
              <div id="circle1">
                  <div id="text"><a style="color: #013a79;" href="home">Register GOT </a></div>
              </div>
             
            </div>-->



    </div>
    <!--<div class="section-title section-title-heading futureskills-prime bottom20">
          <br>

          <div class="whoisthisfor-text-container">
              <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Government officials
                  training

              </h1>
          </div>
      </div>-->

    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
          FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
          Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
          Resource Centre for institutionalizing blended learning mechanisms in specific emerging
          technologies.
      </p>-->
    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
          government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
          the emerging technologies and get the internal technical manpower trained. Such training requirements would
          span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
      </p>-->
    <!--<p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
          academia luminaries shall share best practices and techniques to help realize the potential of these
          technologies.


      </p>-->


  </div>
  <br>
  <br>
  <br>

</section>




























<section class="section-bottom bg-yellow">
  <br>
  <div class="container">
    <!--<div class="digital-oppurtunity-image"><img alt="digital oppurtonity banner" class="img-fluid w-100" src="assets/images/digital-oppurtunity-banner.jpg"></div>-->

    <div class="row">
      <div style="margin-left: 0px;" class="col-lg-3">
        <div class="digital-oppurtunity-text-container section-title section-title-heading bottom60">
          <h1 style="font-size: xx-large; color: #0B2D74;"><span style="font-size: xx-large; color: #0B2D74; ">Ready For
              The</span>
            Massive<br>
            Opportunity?</h1>
          <p style="font-size: x-large ;color: #0B2D74;">The one who earns most number of points through the flags in
            alloted time gets 1st prize of Rs.11001 as the CPAT-CTF-2021 Winner.
            <br>
            2nd & 3rd winner will also be getting prize amount of Rs.5001 & Rs 2501 respectively.
            <br>
            4th & 5th winner will also be getting prize amount of Rs.1001 & Rs 501 respectively.
            <br>
            In addition to the cash prize all three winners will be awarded by C-DAC's certificate of appreciation.
            <br>
            All participants will be awarded by C-DAC's certificate of participation.
          </p>

        </div>
      </div>

      <!--<div style="margin-left: 10px;" class=" col-lg-3 ">


        <div class="digital-oppurtunity-col">

          <h2 style="font-size: xx-large; color: #0B2D74;">1 <sup>st</sup> Prize</h2>

          <p style="font-size: x-large; margin-top: 0%;color: #0B2D74;">Rs.11001 </p>

        </div>
      </div>-->

      <!--<div style="margin-left: 10px;" class="col-lg-3 ">
        <div class="digital-oppurtunity-col">

          <h2 style="font-size: xx-large; color: #0B2D74;">2 <sup>nd</sup> Prize</h2>

          <p style="font-size: x-large; margin-top: 0%; color: #0B2D74;;">Rs.5001</p>


        </div>
      </div>-->
      <div style="margin-left: 10px;" class="col-lg-3 ">
        <div class="digital-oppurtunity-col">









        </div>
      </div>





    </div>

    <!--<div class="row">
          <div class="col-md-4">
              <div class="section-title section-title-heading futureskills-prime bottom20">
                  <h2 class="text-white section-title-border"><span class="text-light">Meet</span> FutureSkills Prime
                  </h2>
              </div>

              <p class="text-white">A skilling ecosystem focused on emerging technologies, powered by a partnership
                  between the Ministry of Electronics and Information Technology, Government of India, NASSCOM, and
                  the IT industry. It seeks to propel India to become a global hub of talent in emerging technologies.
              </p>
              <a class="default-link" href="about-us">Read More</a> <img alt="FutureSkills Prime" class="typo-img"
                  src="themes/custom/nasscom/images/common/typo-img.png">
          </div>

          <div class="col-md-4"><img alt="FutureSkills Prime digital banner " class="img-fluid"
                  src="themes/custom/nasscom/images/home/futureskills-prime-banner.jpg"></div>
      </div>-->

    <div class="section">&nbsp;</div>
  </div>
</section>






<!--<section class="section-bottom bg-yellow">

  <br>
  <br>
  <div class="container">

    <h1 style="text-align: center; color: #003a79;">Emerging Technologies </h1>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/vrtual.jpeg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite;font-size:large;" class="card-text">Virtual Reality</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/vedio4.jpeg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite; font-size:large;" class="card-text">Internet of things</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/data.png" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite;  font-size:large;" class="card-text">Big Data Analytics</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/vedio1.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite; font-size:medium;" class="card-text">Artificial Intelligence</p>
          </div>
        </div>

      </div>

    </div>

    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/blockchain1.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite;font-size:large;" class="card-text"> Blockchain</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/vedio3.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite; font-size:large;" class="card-text">Social & Mobile</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/cloud.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite;  font-size:large;" class="card-text">Cloud Computing</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/cyber.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite; font-size:medium;" class="card-text">Cyber Security</p>
          </div>
        </div>

      </div>

    </div>
    <br>

    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/printing.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite;font-size:large;" class="card-text">3D printing Manufacturing</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img style="height: 110px;" src="assets/images/robotics.jpg" class="card-img-top" alt="...">
          <div style="background-color: cornflowerblue;" class="card-body">
            <p style="color: ghostwhite; font-size:large;" class="card-text">Robotic Process Automation</p>
          </div>
        </div>

      </div>



    </div>

    <br>
  </div>


</section>-->

<!--<div style="background-color:  #0B2D74; width: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="footer-logo-container text-center">

          Title
          <div class="section-title mb-3">
            <br>
            <h2 class="text-yellow">Key Program Partners</h2>
          </div>
         Title end/

          <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
              src="https://futureskillsprime.in/themes/custom/nasscom/images/common/it-ites-logo-footer.png"
              class="img-fluid" alt=" It Ites footer"></a>
          <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
              src="https://futureskillsprime.in/themes/custom/nasscom/images/common/cdac-logo-footer.png"
              class="img-fluid" alt="CDAC"></a>
          <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
              src="https://futureskillsprime.in/themes/custom/nasscom/images/common/nielit-logo-footer.png"
              class="img-fluid" alt="NEILIT Footer"></a>
          <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
              src="https://futureskillsprime.in/themes/custom/nasscom/images/common/skill-india-logo-footer.png"
              class="img-fluid" alt="Skill India- key program partners of FutureSkills Prime"></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>-->








<!--<script type="text/javascript">
  $(document).ready(function () {
      $('.carousel').carousel({
          interval: 100
      })
  });
</script>-->

<!--
<div class="footer">



  <p style="font-size:15px;" class="presskitlinks"><span class="copyrights"> &#169;2021 C-DAC. All rights
      reserved.</span></p>
  <p style="font-size:15px;">Website Owned &amp; Maintained by: Centre for Development of Advanced Computing (C-DAC)
    Patna
  </p>
  <p style="font-size:15px;">C-DAC 14th Floor ,Biscomaun Tower, West Gandhi Maidan, Patna - 800001, Bihar (India)
    Phone: +91-612-2219021</p>

</div>
-->