


<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">Latest News</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                          <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a></li>
                          <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">News</li>
                        </ol>
                      </div>
                </div>
            </div>
        </div>

    </div>
</section>





<div class="container mt-5">
    <div class="row">
        <div *ngFor="let d of topHeadingDisplay" class="col-lg-4 mt-3 mb-3">
            <div *ngIf="d.image == null else elseBlock" class="box">
            <!--<img src="{{d.image}}" width="100%" height="150px">-->
            <img src="assets/images/n.jpg" width="100%" height="150px">
            <ng-template #elseBlock><img src="{{d.image}}" width="100%" height="150px"></ng-template>
            <h5 class="mt-2 mb-2">{{d.title}}</h5>
            <!--<p>{{d.description}}</p>-->
            <a href="{{d.url}}"  target="_blank" class="btn btn-success btn-sm">Read More</a>
            </div>
            <div *ngIf="d.image != null" class="box">
                <!--<img src="{{d.image}}" width="100%" height="150px">-->
                <img src="{{d.image}}" width="100%" height="150px">
                
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <!--<p>{{d.description}}</p>-->
                <a href="{{d.url}}"  target="_blank" class="btn btn-success btn-sm">Read More</a>
                </div>


        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

