



   <section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3  class=" sect_head wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">Webinar  <br> On Expert Guidance & Career Opportunities On Emerging Technologies</h3>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <!--<ol class="breadcrumb">
                          <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home"></a></li>
                          <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"></li>
                        </ol>-->
                      </div>
                </div>
            </div>
        </div>

    </div>
</section>

<br>
<br>
<br>
<br>
<br>


<div class="container">
<div class="custom-para" >





    <form  id="form1"
        class="form-horizontal well" style="background-color:#00A4CCFF">
        <div>

        </div>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="4FC6123F">
        </div>
        <div id="Panel1">

            <div class="row">
                <div class="col-md-12 " style="background:#EDFF00FF">
                    <h3 style="text-align: center; color:black">Register</h3>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Name<span class="text-danger"></span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="name" class="form-control" type="text" id="name" name=name   Required="required" style="text-transform:uppercase " >
                    <br>
                    <!--<span id="lblname" style="color:Red"></span>-->
                </div>
            </div>
            
            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Email<span class="text-danger"></span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="email" name=email type="text" id="email" class="form-control"  Required="required">
                    <br>
                    <!-- <span id="lblemail" style="color:Red"></span>-->
                </div>
            </div>











               
            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Mobile No
                </label>
                <div class="col-sm-2">

                    <select id="contact" name="contact" class="form-control"  [(ngModel)]="selectedCountrycode" 
                        >
                        <option value=""></option>
                        <option *ngFor="let cont of countrycode" >{{cont}} </option>
                    </select>
                    <br>
                    <span id="lbltitle" style="color:Red"></span>
                </div>
                
                <div class=" col-sm-4" >
                    <input [(ngModel)]="mobile" name=mobile type="tel" id="mobile" class="form-control"  Required="required">
                    <br>
                    <span id="lblname" style="color:Red"></span>
                </div>
                
            </div>
            <br>


        








              


            





















            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 control-label col-form-label">Country/State
                </label>
                <div class="col-sm-3">

                    <select id="country1" name="country" class="form-control" placeholder="Select Country" [(ngModel)]="selectedcountryList"
                        (change)="changeCountry($event.target.value)">
                        
                        <option *ngFor="let count of countryList">{{count.name}} </option>
                    </select>
                    <br>
                </div>
                <div class=" col-sm-3" >
                    <select id="country" name="country" class="form-control" placeholder="Select ate" [(ngModel)]="selectedcities">
                        <option *ngFor="let city of cities">{{city}} </option>
                    </select>
                </div>
                <br>
                <span id="lbltitle" style="color:Red"></span>
            </div>
            <br>

          

           

            <div class="form-group">
                <label for="example-text-input" class="col-sm-4 col-form-labe control-label">Institution<span class="text-danger"></span></label>
                <div class="col-sm-6">
                    <input [(ngModel)]="Organization" class="form-control" type="text" id="Organization"
                        name=Organization  style="text-transform:uppercase">
                    <br>
                    

                </div>
            </div>


     

        

         



        

           



            
          
           
            
        


            <div class="form-group">
                <label class="col-sm-4 control-label col-form-label">Enter Captcha</label> 
                <div class=" col-sm-3" style=" text-align: center;">
                    <input [(ngModel)]="capt" name="capt" type="text" class="form-control"  readonly id="capt" style=" text-align: center;font-size: 30px; background-color: #EDFF00FF; color:black ;padding-right: 20px;">
                    <br>
                </div> 

                <div class="col-sm-3">
                    <input [(ngModel)]="textinput" name="textinput" type="text" class="form-control" id="textinput">
                </div>

            </div>
            
            <div class="form-group">
                
               
                
                <label class="col-sm-4 control-label col-form-label"></label> 
                    <div class="col-sm-6">
                        <h6 style="margin-left:100px;">Refresh<img style="width: 50px;"
                                src="assets/images/refresh 1.jpg" (click)="cap()"></h6>
                    </div>
                
            </div>


            



              
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button (click)="onRegister()" (click)="validCap()" type="submit"  id="btnContactUs" class="btn btn-default enq_btn" style="margin-left: 25px; background-color:#EDFF00FF; color: black;width: 150px;">Register</button>

                </div>

               
            </div>
            <p class="col-sm-14" align="center"> <span id="lblStatus" class="failureNotification"
                style="color:Red;margin-left: 100px;">
                </span></p>


        </div>
        
    </form>


</div>

</div>
<br>
<br>

