<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"> FutureSkills Prime </h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <!--<li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Collaborators</li>-->
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item">
            <a  target="_blank"><img src="assets/images/futureskill5.jpg" alt="My image"
                style="width:100%;height:700px;"  ></a>
        </div>

        <div class="item">
            <a  target="_blank"><img src="assets/images/futureskill3.jpg" alt="My image"
                style="width:100%;height:700px;" ></a>
        </div>

        <div class="item active">
            <a  target="_blank"><img src="assets/images/futureskill4.png" alt="My image"
                    style="width:100%;height:700px;"></a>
        </div>



        






    </div>
</div>


<section class="section-bottom bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-md-4">


                <div class="section-title section-title-heading futureskills-prime bottom20">
                    <br>

                    <div class="whoisthisfor-text-container">
                        <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">About FutureSkills
                            Prime
                        </h1>
                    </div>
                </div>
                <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">FutureSkills Prime is a joint
                    initiative by the Ministry of Electronics & Information Technology (MeitY) and the IT Industry led
                    by NASSCOM. The program is being extended under the GoI's flagship Champion Service Sector (CSS)
                    Scheme.
                </p>
                <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">NASSCOM in partnership with
                    consulting major, BCG, identified 10 new emerging technologies which include 66 job roles (Eg.
                    Data Scientist, Social media manager, 3D modeling engineer) and 155 distinct tasks (e.g.
                    Modeling in 3D using 3ds Max, Autodesk Maya)
                </p>

                <div class="section-title section-title-heading futureskills-prime bottom20">
                    <br>
                    <br>
                    <div class="whoisthisfor-text-container">
                        <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">
                        </h1>
                    </div>



                </div>








                <div class="section-title section-title-heading futureskills-prime bottom20">
                    <br>

                    <div class="whoisthisfor-text-container">
                        <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Who Is This For?
                        </h1>
                    </div>
                </div>

                <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">Whether you are in IT, Manufacturing,
                    Healthcare, Telecom, Banking, Agri-Business,<br>
                    Automotive, or any other sector, everyone needs to understand the impact of digital<br>
                    technologies.
                </p>
                <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img
                        alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
                        class="img-fluid" src="assets/images/who-is-this-for-banner.png">


                </div>-->


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img
                        alt="Who is this platform for- graduates, professionals, public sector employees, students, teaching staff"
                        class="img-fluid" src="assets/images/who-is-this-for-banner.png">


                </div>





            </div>
            <!--<div id="circle">
                <div id="circle1">
                    <div id="text"><a style="color: #013a79;" href="home">Register GOT </a></div>
                </div>
               
              </div>-->



        </div>
        <div class="section-title section-title-heading futureskills-prime bottom20">
            <br>

            <div class="whoisthisfor-text-container">
                <h1 style="font-size: xx-large;" class="text-blue section-title-white-border">Government officials
                    training

                </h1>
            </div>
        </div>

        <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">This programme is under the
            FutureSkills PRIME Project, A joint venture between MeitY and NASSCOM and its purpose is
            Re-skilling/ Up-skilling of IT Manpower for Employability, C-DAC centres are involved as a Lead
            Resource Centre for institutionalizing blended learning mechanisms in specific emerging
            technologies.
        </p>
        <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">It is essential for the Central/ State
            government, PSUs, and Autonomous organizations involved in IT/ITeS and related areas to keep abreast with
            the emerging technologies and get the internal technical manpower trained. Such training requirements would
            span across various aspects involving capabilities, platforms, services, tools, etc. in future technologies.
        </p>
        <p style=" color: #0B2D74 ;font-size: x-large;" class="text-blue">As a part of the GOT Programme, industry and
            academia luminaries shall share best practices and techniques to help realize the potential of these
            technologies.


        </p>
        <a target="_blank">
            <img src="assets/images/reg4.png" class="card-img-top" alt="..."
                style=" margin-left:20px; margin-top: 20px; height: 145px; width: 300px;">
        </a>

    </div>
    <br>
    <br>
    <br>

</section>




<section class="section-bottom bg-blue">
    <br>
    <div class="container">
        <!--<div class="digital-oppurtunity-image"><img alt="digital oppurtonity banner" class="img-fluid w-100" src="assets/images/digital-oppurtunity-banner.jpg"></div>-->

        <div class="row">
            <div style="margin-left: 100px;" class="col-md-3">
                <div class="digital-oppurtunity-text-container section-title section-title-heading bottom60">
                    <h1 style="font-size: xx-large;" class="text-white section-title-border"><span
                            class="text-light">Ready For The</span>
                        Massive<br>
                        Digital Opportunity?</h1>


                </div>
            </div>

            <div style="margin-left: 100px;" class=" col-md-3 ">
                <div class="digital-oppurtunity-col"><img alt="$1 Trillion opportunity for India by 2025"
                        class="img-fluid" src="assets/images/oppurtnity-icon.png">
                    <h2 style="font-size: xx-large;" class="section-title text-yellow">$1 trillion</h2>

                    <p style="font-size: x-large; margin-top: 0%;" class="text-white">opportunity for India by 2025</p>
                </div>
            </div>

            <div style="margin-left: 100px;" class="col-md-3 ">
                <div class="digital-oppurtunity-col"><img alt="1.3 million upcoming jobs" class="img-fluid"
                        src="assets/images/upcoming-jobs-icon.png">
                    <h2 style="font-size: xx-large;" class="section-title text-yellow">1.3 million</h2>

                    <p style="font-size: x-large; margin-top: 0%;" class="text-white">upcoming jobs</p>
                </div>
            </div>

           

        </div>

        <!--<div class="row">
            <div class="col-md-4">
                <div class="section-title section-title-heading futureskills-prime bottom20">
                    <h2 class="text-white section-title-border"><span class="text-light">Meet</span> FutureSkills Prime
                    </h2>
                </div>

                <p class="text-white">A skilling ecosystem focused on emerging technologies, powered by a partnership
                    between the Ministry of Electronics and Information Technology, Government of India, NASSCOM, and
                    the IT industry. It seeks to propel India to become a global hub of talent in emerging technologies.
                </p>
                <a class="default-link" href="about-us">Read More</a> <img alt="FutureSkills Prime" class="typo-img"
                    src="themes/custom/nasscom/images/common/typo-img.png">
            </div>

            <div class="col-md-4"><img alt="FutureSkills Prime digital banner " class="img-fluid"
                    src="themes/custom/nasscom/images/home/futureskills-prime-banner.jpg"></div>
        </div>-->

        <div class="section">&nbsp;</div>
    </div>
</section>




<section class="section-bottom bg-yellow">

   <br>
   <br>
    <div class="container">

        <h1 style="text-align: center; color: #003a79;">Emerging Technologies </h1>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/vrtual.jpeg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite;font-size:large;" class="card-text">Virtual Reality</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/vedio4.jpeg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite; font-size:large;" class="card-text">Internet of things</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/data.png" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite;  font-size:large;" class="card-text">Big Data Analytics</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/vedio1.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite; font-size:medium;" class="card-text">Artificial Intelligence</p>
                    </div>
                </div>

            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/blockchain1.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite;font-size:large;" class="card-text"> Blockchain</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/vedio3.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite; font-size:large;" class="card-text">Social & Mobile</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/cloud.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite;  font-size:large;" class="card-text">Cloud Computing</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/cyber.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite; font-size:medium;" class="card-text">Cyber Security</p>
                    </div>
                </div>

            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/printing.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite;font-size:large;" class="card-text">3D printing  Manufacturing</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 110px;" src="assets/images/robotics.jpg" class="card-img-top" alt="...">
                    <div style="background-color: cornflowerblue;" class="card-body">
                        <p style="color: ghostwhite; font-size:large;" class="card-text">Robotic Process Automation</p>
                    </div>
                </div>

            </div>
            
        

        </div>

        <br>
    </div>


</section>
<br>
<div style="background-color:  #0B2D74; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="footer-logo-container text-center">

                    <!-- Title -->
                    <div class="section-title mb-3">
                        <br>
                        <h2 class="text-yellow">Key Program Partners</h2>
                    </div>
                    <!-- Title end/-->

                    <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
                            src="https://futureskillsprime.in/themes/custom/nasscom/images/common/it-ites-logo-footer.png"
                            class="img-fluid" alt=" It Ites footer"></a>
                    <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
                            src="https://futureskillsprime.in/themes/custom/nasscom/images/common/cdac-logo-footer.png"
                            class="img-fluid" alt="CDAC"></a>
                    <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
                            src="https://futureskillsprime.in/themes/custom/nasscom/images/common/nielit-logo-footer.png"
                            class="img-fluid" alt="NEILIT Footer"></a>
                    <a href="javascript:void(0);" target="_blank"><img style="padding: 20px;"
                            src="https://futureskillsprime.in/themes/custom/nasscom/images/common/skill-india-logo-footer.png"
                            class="img-fluid" alt="Skill India- key program partners of FutureSkills Prime"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<br>







<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 100
        })
    });
</script>