<section>
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top:10px;" class=" sect_head wow zoomIn" data-wow-duration="1.5s"
                        data-wow-delay="0.5s">

                       
                        Webinar Series 2021</h1>
                    <!--<h2 style="text-align: center ;color: #fff; font-size: small;">Here to hear you</h2>-->
                    <div class="text-center">
                        <ol class="breadcrumb">
                            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><a href="home">Home</a>
                            </li>
                            <li class="active wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Webinar Series</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<br>
<br>
<br>
<div class="container">
    <div id="pg-2-3" class="panel-grid panel-has-style">

        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-2-3" data-stretch-type="full"
            style="margin-left: -25px; margin-right: -25px; padding-left: 25px; padding-right: 25px; border-left: 0px; border-right: 0px;">
            <div id="pgc-2-3-0" class="panel-grid-cell">
                <div id="panel-2-3-0-0" class="so-panel widget widget_nav_menu panel-first-child panel-last-child">
                    <div class="menu-trending-topics-container">
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div id="rcorners2" class="col-md-4"
                                style="background-image: url('assets/images/data_science .jpg')">
                                <br>
                                <br>
                                <br>
                                <br>

                                <h2 style="color: aliceblue;font-size: 30px; margin-top: 20px;font-weight: bolder;">
                                    Artificial Intelligence And Data Science
                                </h2>
                                <a href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtEzRpsbo8RTxIFfos-38ToI" target="_blank">
                                    <img  class="h" src="assets/images/play.png"
                                        style="height: 40px; width: 40px;">
                                </a>

                            </div>
                            <div class="col-md-2">

                            </div>

                            <div id="rcorners2" class="col-md-4" style="background-image: url('assets/images/data_science .jpg')">
                                <br>
                                <br>
                                <br>
                                <br>
                                <h2 style="color: aliceblue;font-size: 30px; margin-top: 0px;font-weight: bolder;">
                                    Expert Guidance And Career Opportunities On Emerging Technologies
                                </h2>
                                <a href="https://www.youtube.com/playlist?list=PLPYBMZrKrjtE7fVS48J7udSv0Si_JDBVC" target="_blank">
                                    <img  class="h" src="assets/images/play.png"
                                        style="height: 40px; width: 40px;">
                                </a>
                            </div>
                            <div class="col-md-1">

                            </div>


                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div id="rcorners2" class="col-md-4" style="background-image: url('assets/images/data_science .jpg')">
                                <br>
                                <br>
                                <br>
                                <br>
                                <h2 style="color: aliceblue;font-size: 30px; margin-top: 30px;font-weight: bolder;">
                                    Cyber Security Awareness Program
                                </h2>
                                <a href=" https://www.youtube.com/playlist?list=PLPYBMZrKrjtGpnKRDmzgBiwJiYJ5pixKM" target="_blank"><img class="h" src="assets/images/play.png"
                                        style="height: 40px; width: 40px;"></a>
                            </div>
                            <div class="col-md-2">

                            </div>

                            
                            <div id="rcorners2" class="col-md-4" style="background-image: url('assets/images/data_science .jpg')">
                                <br>
                                <br>
                                <br>
                                <br>
                                <h2 style="color: aliceblue;font-size: 30px; margin-top: 0px;font-weight: bolder;">
                                    Webinar Series On Technology Roadmap For Emerging Future
                                </h2>
                                <a><img class="h" src="assets/images/play.png"
                                        style="height: 40px; width: 40px;"></a>
                            </div>
                            <div class="col-md-1">

                            </div>


                        </div>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

