<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a style="margin-left:50px ;" class="nav-item nav-link active" href="/profile">Home <span
                    class="sr-only">(current)</span></a>
       
            <a style="margin-left:50px ;" class="nav-item nav-link active" href="/profile">Resource1</a>
            <a style="margin-left:50px ;" class="nav-item nav-link active" href="/profile">Resource2</a>
            <a style="margin-left:50px ;" class="nav-item nav-link active" href="assets/images/CPATCTFRules.pdf">CTF Rules</a>
            
                <button  style="background-color: #b689b0; color:white; margin-left: 40px; float: left;" (click)="onLogOut()" class="btn  btn-sm " type="button"> Logout</button>
            


        </div>
    </div>

</nav>
<br>



  

  <h4 style="color:red;">You can download the Virtual Machine with flags  from Resource1 or Resource2 tab.</h4>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div style="background-color: rgb(7, 12, 39);" class="card-header">
                    <h4 style="text-align: center;color:white">Profile</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <!--<th>Name</th>-->
                                <th>name</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let index = index">
                                <!--<td>{{index + 1}}</td>-->
                                <!--<td>{{user['name']}} </td>-->
                                <td>{{user['name']}}</td>
                                <td>{{user['email']}}</td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
            <div class="card">
                <div style="background-color:rgb(22, 233, 33); color:black" class="card-body">
                    <h5>Your Total Points {{points}}</h5>
                </div>
            </div>
        </div>

    </div>
<br>
<br>

    <div class="container">
      <div class="row">
       <div class="col-md-4">
        <form>
        

            <div class="form-outline mb-4">
              <label style="color:black;" class="form-label" for="user_name">Submit Your Flag </label>
              <input [(ngModel)]="flagId" type="text" name="flagId" class="form-control form-control-lg" placeholder="Submit Your Flag" />
            </div>
            <div class="pt-1 mb-4">
                <button style="background-color: #b689b0; color:black;" (click)="onSubmitFlag()" class="btn  btn-lg btn-block" type="button">Submit</button>
            </div>
          
      </form>
       </div>
      </div>
    </div>


   




    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th style="color: white;text-align: center;" colspan="5" scope="col"> Flag Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let users of user1"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">1</button></td>
                        <td *ngFor="let users of user2"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">2</button></td>
                        <td *ngFor="let users of user3"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">3</button></td>
                        <td *ngFor="let users of user4"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">4</button></td>
                        <td *ngFor="let users of user5"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">5</button></td>
                    </tr>
                    <tr>
                        <td *ngFor="let users of user6"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">6</button></td>
                        <td *ngFor="let users of user7"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">7</button></td>
                        <td *ngFor="let users of user8"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">8</button></td>
                        <td *ngFor="let users of user9"><button style="width: 50px;"
                                [class.btn-success]="users['b1'] == 1" [class.btn-warning]="users['b1'] == 0"
                                class="btn btn-lg">9</button></td>
                        <td *ngFor="let users of user10"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">10</button></td>
                    </tr>
                    <tr>
                        <td *ngFor="let users of user11"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">11</button></td>
                        <td *ngFor="let users of user12"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">12</button></td>
                        <td *ngFor="let users of user13"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">13</button></td>
                        <td *ngFor="let users of user14"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">14</button></td>
                        <td *ngFor="let users of user15"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">15</button></td>
                    </tr>
                    <tr>
                        <td *ngFor="let users of user16"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">16</button></td>
                        <td *ngFor="let users of user17"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">17</button></td>
                        <td *ngFor="let users of user18"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">18</button></td>
                        <td *ngFor="let users of user19"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">19</button></td>
                        <td *ngFor="let users of user20"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">20</button></td>
                    </tr>
                    <tr>
                        <td *ngFor="let users of user21"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">21</button></td>
                        <td *ngFor="let users of user22"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">22</button></td>
                        <td *ngFor="let users of user23"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">23</button></td>
                        <td *ngFor="let users of user24"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">24</button></td>
                        <td *ngFor="let users of user25"><button [class.btn-success]="users['b1'] == 1"
                                [class.btn-warning]="users['b1'] == 0" class="btn btn-lg">25</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>



